<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>登录</title> 
  <script type="text/javascript">
    var Home_User_UserLogin="{:U('Home/User/UserLogin')}";
    var Home_accountinfor_personalinfo="{:U('Home/accountinfor/personalinfo')}";
    var Home_Usercenter_brokerindex="{:U('Home/Usercenter/brokerindex')}";
  </script>
 </head> 
 <body>
  <div class="logo_box"> 
   <div class="logo"> 
    <a href="{:U('Home/Index/index')}" title="建筑管家">
     <div class="ico-logo header-logo" style="background: url('__UPLOAD__/{$configInfo.logo}') no-repeat;"></div></a> 
    <p>欢迎入驻</p> 
    <span>已有账号，<a href="{:U('Home/User/login')}">直接登录</a></span> 
   </div> 
  </div> 
  <title>用户登录-建筑管家</title> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/member.css" /> 
  <div class="mion_er"> 
   <div class="mioner"> 
    <div class="mion_er_right"> 
     <form method="post" id="login_form" novalidate="novalidate"> 
      <ul class="ul_form" style="padding-left:25px; padding-top:60px;"> 
       <li> <label>手&nbsp;&nbsp;&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;号</label> <input id="Phone" name="Phone" placeholder="请输入手机号" type="text" /> <p class="messge" id="contact_error"></p> </li> 
       <li style="padding-bottom:10px;"> <label>密　　　码</label> <input id="c" name="password" placeholder="请输入登录密码" class="valid" type="password" /> <p class="messge" id="mima"></p> </li> 
       <li style="padding-bottom:10px;"><a href="{:U('Home/User/forget')}" class="forget">忘记密码？</a></li> 
       <li><input class="submit_button_zc" value="立即登录" type="submit" /></li> 
       <li style="width:342px;" class="register">还没有资质管家账号，<a href="{:U('Home/User/register')}">立即注册 &gt;</a></li> 
      </ul> 
     </form> 
    </div> 
   </div> 
  </div> 
  <div class="bottom"> 
   <ul> 
    <li> <a href="">资质代办</a>| <a href="">资质标准</a>| <a href="">行业资讯</a>| <a href="" rel="nofollow">中介入驻</a>| <a href="" rel="nofollow">关于我们</a>| <a href="" rel="nofollow">加入我们</a>| <a href="" rel="nofollow">联系我们</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">常见问题</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">意见反馈</a>| </li> 
    <li>{$configInfo.beian}</li> 
   </ul> 
   <a href="" target="_blank" style="color: #5e5c5b;text-decoration: none !important;"></a> 
  </div> 
  <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
  <script src="__PUBLIC__/Home/js/push.js"></script>

  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/userlogin.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
 </body>
</html>