<div style="   color: #999;height: 20px;margin: 20px 0;text-align: center;width: 100%;">
     版权所有 {$configInfo.company_name}  {$configInfo.beian} &nbsp;&nbsp;
     <a href="" target="_blank" style="color: #5e5c5b;text-decoration: none !important;"></a>
</div>

<script type="text/javascript">
  function LoginOut() {
      var message = "确定要退出当前用户吗？";
      if (confirm(message)) {
          $.post("{:U('Home/User/exituser')}", "", function (data) {
              var data=JSON.parse(data);
              if (data.IsSuccess) {
                  location.href = "{:U('Home/Index/index')}";
              }
          })
      }
  };
</script> 