<div class="header">
    <div class="header_center">
        <div class="header_left">
            <h1>
                <a href="{:U('Home/Index/index')}">资质代办，找资质管家</a>
                <a href="{:U('Home/Index/baike')}">资质百科</a>
                <a href="{:U('Home/Index/daiban')}">资质代办公司</a></h1>
        </div>
        <div class="header_right">
            <ul>
                <li>
                    <div id="regist" style="float:right;margin-top:5px">
                        <em>咨询热线：
                            <span>010-56269198</span></em>
                        <em style="background:none;">您好，欢迎来到资质管家！</em>
                        <a href="{:U('Home/Usercenter/brokerindex')}">熊丽丽</a>
                        <span id="loginout">
                            <a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a></span>
                        <a href="{:U('Home/Usercenter/brokerorder')}" rel="nofollow">我的订单</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>