<?php
	$_page_=$_SERVER['PATH_INFO'];
?>


<if condition="$user['gid'] eq 22">
	<dl>
	  <img src="__PUBLIC__/Home/images/tx.jpg" width="80" height="80"/>
	  <dt>
	  <span title="南京炫迈网络科技有限公司" style="font-size:16px;">南京炫迈网..</span> (素材火) 
	  </dt>
	  <dd class="<if condition="$_page_ eq 'Accountinfor/personalinfo'">dd</if>">
	  <a href="{:U('Home/Accountinfor/personalinfo')}"><span style="background:url(__PUBLIC__/Home/images/uz.png) no-repeat; background-position:left;">账户资料</span></a>
	  </dd>
	  <dd class="<if condition="$_page_ eq 'Safetyset/index'">dd</if>">
	  <a href="{:U('Home/Safetyset/index')}"><i></i><span style="background:url(__PUBLIC__/Home/images/us.png) no-repeat; background-position:left;">安全设置</span></a>
	  </dd>
	  <dd class="<if condition="$_page_ eq 'company/list'">dd</if>">
	  <a href="{:U('Home/Order/list')}"><i></i><span style="background:url(__PUBLIC__/Home/images/uo.png) no-repeat; background-position:left;">订单管理</span></a>
	  </dd>
	</dl>
<else/>
	<dl> 
	 <dt>
	  <a href="{:U('Home/usercenter/brokerindex')}">账户中心首页</a>
	 </dt> 
	 <dd class="<if condition="$_page_ eq 'Company/companylicense'">dd</if>">
	  <a href="{:U('Home/Company/companylicense')}"><span style="background:url(__PUBLIC__/Home/images/un.png) no-repeat; background-position:left;">实名认证</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'company/companyinfo'">dd</if>">
	  <a href="{:U('Home/company/companyinfo')}"><span style="background:url(__PUBLIC__/Home/images/uz.png) no-repeat; background-position:left;">公司资料</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'Safetyset/index'">dd</if>">
	  <a href="{:U('Home/Safetyset/index')}"><i></i><span style="background:url(__PUBLIC__/Home/images/us.png) no-repeat; background-position:left;">安全设置</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'Usercenter/brokerorder'">dd</if>">
	  <a href="{:U('Home/Usercenter/brokerorder')}"><i></i><span style="background:url(__PUBLIC__/Home/images/uo.png) no-repeat; background-position:left;">订单管理</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'company/caseinfo'">dd</if>">
	  <a href="{:U('Home/company/caseinfo')}"><i></i><span style="background:url(__PUBLIC__/Home/images/uc.png) no-repeat; background-position:left;">资质案例</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'company/team'">dd</if>">
	  <a href="{:U('Home/company/team')}"><i></i><span style="background:url(__PUBLIC__/Home/images/ut.png) no-repeat; background-position:left;">精英团队</span></a>
	 </dd> 
	 <dd class="<if condition="$_page_ eq 'company/question'">dd</if>">
	  <a href="{:U('Home/company/question')}"><i></i><span style="background:url(__PUBLIC__/Home/images/uq.png) no-repeat; background-position:left;">常见问题</span></a>
	 </dd> 
	 <div class="clear"></div> 
	</dl> 
</if>




