<footer> 
 <div class="footer-warp"> 

    <if condition="$index eq '首页'">
        <div class="footer_bg"> 
         <div class="footer-con"> 
          <div class="con2 clear"> 
           <div id="foot_youqlj_nav" class="foot_youqlj_nav"> 
            <ul> 
             <li class="foot_youqlj_nav_on">常用网站</li> 
             <li>热门页面</li> 
             <li>友情链接</li> 
            </ul> 
            <div id="tab_con"> 
             <div class="footer_youqlj"> 
              <a rel="nofollow" href="http://www.mohurd.gov.cn/">住房和城乡建设部</a> 
              <a rel="nofollow" href="http://www.bjjs.gov.cn/tabid/1627/Default.aspx">安全生产许可查询</a> 
              <a rel="nofollow" href="http://kscg.bjghw.gov.cn/surveyoa/ywcx.html">勘察设计城市规划单位资质查询</a> 
              <a rel="nofollow" href="http://jzsgl.coc.gov.cn/archisearch/">建造师查询系统</a> 
              <a rel="nofollow" href="http://jlgcs.cein.gov.cn/jlgcsSearch/index.aspx">监理工程师执业注册查询</a> 
              <a rel="nofollow" href="http://jzsgl.coc.gov.cn/smartclient/index.htm">二级建造师注册管理系统</a> 
              <a rel="nofollow" href="http://www.hr-build.com/">建设人才网</a> 
              <a rel="nofollow" href="http://www.zizhiguanjia.com/zt/">专题列表</a> 
             </div> 
             <div class="footer-con-link"> 
              <a href="zizhibiaozhun.html">建筑资质标准</a> 
              <a href="daiban.html">资质代办公司</a> 
              <a href="http://www.zizhiguanjia.com/anhui-zizhi/">安徽建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/beijing-zizhi/">北京建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/chengdou-zizhi/">成都建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/fuzhou-zizhi/">福州建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/gansu-zizhi/">甘肃建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/guangxi-zizhi/">广西建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/guiyang-zizhi/">贵阳建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/guizhou-zizhi/">贵州建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/hefei-zizhi/">合肥建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/hebei-zizhi/">河北建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/hubei-zizhi/">湖北建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/hunan-zizhi/">湖南建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/kunming-zizhi/">昆明建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/shanxi-zizhi/">山西建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/shanxii-zizhi/">陕西建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/xian-zizhi/">西安建筑资质代办</a> 
              <a href="http://www.zizhiguanjia.com/zt/">专题列表</a> 
             </div> 
             <div class="footer-con-link"> 
              <a href="http://www.58guakao.com">一级建造师挂靠</a> 
              <a href="http://www.guajob.com">挂靠人才网</a> 
              <a href="http://www.tmxxw.com">天贸钢铁网</a> 
              <a href="http://acc.tedu.cn">会计培训学校</a> 
              <a href="http://xa.jianzhi8.com/">西安兼职吧</a> 
              <a href="http://nj.jiajiao114.com/">南京家教</a> 
              <a href="http://www.eduour.com/">在职研究生</a> 
              <a href="http://www.xyyck.com">通州资质审批</a> 
              <a href="http://www.jiaotou.org/">教育培训机构</a> 
              <a href="http://www.qianinfo.com/">可行性研究报告</a> 
              <a href="http://www.caikepass.com">注册会计师培训</a> 
              <a href="http://www.lie2lie.com">猎中猎-证书人才</a> 
              <a href="http://www.360guakao.com">二级建造师挂靠</a> 
              <a href="http://www.58zsgk.com">注册证书挂靠</a> 
              <a href="http://www.bjob100.com">百分百证书挂靠</a> 
              <a href="http://gz.58.com/zhuce/">广州公司注册</a> 
              <a href="http://www.cnffww.com/">模板脚手架网</a> 
              <a href="http://www.zxzhijia.com/">装修网</a> 
              <a href="http://www.ht.cn">商标转让</a> 
              <a href="http://0609.com/">分类信息网</a> 
              <a href="http://www.shzh.net/">装修投诉</a> 
              <a href="http://www.133229.com/">论文投稿</a> 
              <a href="http://www.jiazhuang.com/">家装网 </a> 
              <a href="http://wlmq.focus.cn/">乌市房产</a> 
              <a href="http://www.cszht.com/">长沙人才网</a> 
              <a href="http://www.weaoo.com/">天气预报</a> 
              <a href="http://www.58guakao.com/zhaopin/">建筑公司招聘</a> 
              <i style="color: #666666;margin-right: 18px;float: left;display: block;white-space: nowrap;">申请链接QQ:3267485428</i> 
             </div> 
            </div> 
           </div> 
           <div class="footer_guanzwm"> 
            <h3>关注我们</h3> 
            <ul> 
             <li><a rel="nofollow" href="http://weibo.com/izizhiguanjia"> &gt; 资质管家微博</a></li> 
             <li><a rel="nofollow" href="http://tieba.baidu.com/f?kw=%E8%B5%84%E8%B4%A8%E7%AE%A1%E5%AE%B6">&gt; 资质管家吧</a></li> 
            </ul> 
           </div> 
           <ul class="r"> 
            <li class="l1"> <img src="__PUBLIC__/Home/images/wx.jpg" title="资质管家微信二维码" alt="资质管家微信二维码" width="150" height="150" /> </li> 
            <li class="l2"> <p><i class="i1"></i><span><strong class="s1">13371739040 </strong>资质办理咨询电话(全天)</span></p> <p><i class="i2"></i><span><strong class="s2">资质咨询</strong><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2064508537&amp;site=qq&amp;menu=yes"><img src="http://wpa.qq.com/pa?p=2:2064508537:51" alt="办资质，找资质管家QQ交谈" title="办资质，找资质管家QQ交谈" border="0" /></a></span></p> <p><i class="i3"></i><span><strong class="s3">资质合作 </strong>3267485428@qq.com</span></p> </li> 
           </ul> 
          </div> 
         </div> 
        </div> 
    </if>
  
  <div class="footer-bq"> 
   <a href="daiban.html">资质代办 </a>|
   <a href="zizhibiaozhun.html">资质标准 </a>|
   <a href="news.html">行业资讯 </a>|
   <a href="reg.html" rel="nofollow">中介入驻 </a>|
   <a href="/aboutus.html" rel="nofollow">关于我们 </a>|
   <a href="/join.html" rel="nofollow">加入我们 | </a>
   <a href="/contact.html" rel="nofollow">联系我们 </a>|
   <a href="javascript:void(0)" rel="nofollow" style="cursor:default">常见问题 </a>|
   <a href="javascript:void(0)" rel="nofollow" style="cursor:default">意见反馈</a>
   <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
   <br /> 版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1 
   <br /> Copyright &copy; 2016 zizhiguanjia.com All Rights Reserved
   <br /> 公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室 &nbsp;电话： 010-56269198&nbsp; 
  </div> 
 </div> 
</footer> 