<?php
    $qq=explode('#',$configInfo['qq']);
 ?>
<footer> 
 <div class="footer-warp"> 

    <if condition="$index eq '首页'">
        <div class="footer_bg">
            <div class="footer-con">
                <div class="con2 clear">
                    <div id="foot_youqlj_nav" class="foot_youqlj_nav">
                        <ul>
                            <li class="foot_youqlj_nav_on">常用网站</li>
                            <li>热门页面</li>
                            <li>友情链接</li></ul>
                        <div id="tab_con">
                            <div class="footer_youqlj">
                                <foreach name="friendlink_list_1" item="v">
                                    <a rel="nofollow" href="{$v.url}">{$v.title}</a>
                                </foreach>
                            </div>
                            <div class="footer-con-link">
                                <foreach name="friendlink_list_2" item="v">
                                    <a rel="nofollow" href="{$v.url}">{$v.title}</a>
                                </foreach>
                            </div>
                            <div class="footer-con-link">
                                <foreach name="friendlink_list_3" item="v">
                                    <a rel="nofollow" href="{$v.url}">{$v.title}</a>
                                </foreach>
                                <i style="color: #666666;margin-right: 18px;float: left;display: block;white-space: nowrap;">申请链接QQ:{$configInfo.qq}</i>
                            </div>
                        </div>
                    </div>
                    <div class="footer_guanzwm">
                        <h3>关注我们</h3>
                        <ul>
                            <li>
                                <a rel="nofollow" href="http://weibo.com/izizhiguanjia">&gt; 建筑管家微博</a></li>
                            <li>
                                <a rel="nofollow" href="http://tieba.baidu.com/f?kw=%E8%B5%84%E8%B4%A8%E7%AE%A1%E5%AE%B6">&gt; 建筑管家吧</a></li>
                        </ul>
                    </div>
                    <ul class="r">
                        <li class="l1">
                            <img src="http://www.zizhiguanjia.com/Images/wx.jpg" width="150" height="150" title="建筑管家微信二维码" alt="建筑管家微信二维码"></li>
                        <li class="l2">
                            <p>
                                <i class="i1"></i>
                                <span>
                                    <strong class="s1">{$configInfo.company_phone}</strong>资质办理咨询电话(全天)</span></p>
                            <p>
                                <i class="i2"></i>
                                <span>
                                    <strong class="s2">资质咨询</strong>
                                    <a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$configInfo.qq}&amp;site=qq&amp;menu=yes">
                                        <img border="0" src="http://wpa.qq.com/pa?p=2:{$configInfo.qq}:51" alt="办资质，找建筑管家QQ交谈" title="办资质，找建筑管家QQ交谈"></a>
                                </span>
                            </p>
                            <p>
                                <i class="i3"></i>
                                <span>
                                    <strong class="s3">资质合作</strong>{$configInfo.email}</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </if>
  
  <div class="footer-bq"> 
   <a href="{:U('Home/Index/daiban')}">资质代办 </a>|
   <a href="{:U('Home/Index/baike')}">资质标准 </a>|
   <a href="{:U('Home/Index/news')}">行业资讯 </a>|
   <a href="{:U('Home/Agententer/step_1')}" rel="nofollow">中介入驻 </a>|
   <a href="{:U('Home/Index/aboutus')}" rel="nofollow">关于我们 </a>|
   <a href="{:U('Home/Index/join')}" rel="nofollow">加入我们 | </a>
   <a href="{:U('Home/Index/contact')}" rel="nofollow">联系我们 </a>|
   <a href="javascript:void(0)" rel="nofollow" style="cursor:default">常见问题 </a>|
   <a href="javascript:void(0)" rel="nofollow" style="cursor:default">意见反馈</a>
   <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
   <br /> 版权所有 {$configInfo.company_name}  {$configInfo.beian} 
   <br /> Copyright &copy; 2016 jianzhuguanjia.com All Rights Reserved
   <br /> 公司地址：{$configInfo.company_address} &nbsp;电话： {$configInfo.company_phone}&nbsp; 
  </div> 
 </div> 
</footer> 

<!-- kf代码部分begin -->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/lanren.css" /> 
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
  <div class="floatDtt">在线客服</div>
  <div class="floatShadow">
    <ul class="floatDqq">
      <foreach name="qq" item="v">
          <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$v}&site=qq&menu=yes"><img src="__PUBLIC__/Home/images/qq.png" align="absmiddle">在线客服{$key+1}号</a></li>
      </foreach>
    </ul>
    <div class="floatDtxt">热线电话</div>
    <div class="floatDtel"><img src="__PUBLIC__/Home/images/online_phone.jpg" width="155" height="45" alt=""></div>
    <div class="floatImg"><img src="__PUBLIC__/Home/images/erweima.jpg" width="100%">微信公众账号</div>
  </div>
  <div class="floatDbg"></div>
</div>
<script>
$(function(){
  var flag=0;
  $('#rightArrow').on("click",function(){
    if(flag==1){
      $("#floatDivBoxs").animate({right: '-175px'},300);
      $(this).animate({right: '-5px'},300);
      $(this).css('background-position','-50px 0');
      flag=0;
    }else{
      $("#floatDivBoxs").animate({right: '0'},300);
      $(this).animate({right: '170px'},300);
      $(this).css('background-position','0px 0');
      flag=1;
    }
  });
});
</script>
<!-- kf代码部分end -->

<script type="text/javascript">
  function LoginOut() {
      var message = "确定要退出当前用户吗？";
      if (confirm(message)) {
          $.post("{:U('Home/User/exituser')}", "", function (data) {
              var data=JSON.parse(data);
              if (data.IsSuccess) {
                  location.href = "{:U('Home/Index/index')}";
              }
          })
      }
  };
</script> 