<?php
    $_page_=$_SERVER['PATH_INFO'];
    $_province_=M('Province')->select();
    $_cur_page_="http://".$_SERVER['HTTP_HOST']."".$_SERVER['REDIRECT_URL'];

    $cur_province_info=$_SESSION['cur_province_info'];
?>

<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>

<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<style type="text/css">
    .dingw_title .dingw_img{top:-3px!important;}
</style>

<div class="header">
    <div class="header_top">
        <div class="header_top_center">
            <div class="header_top_right">
                <ul>
                    <li>
                        <div id="regist" style="float:right">
                        <if condition="$user">
                            <span>您好，</span><a href="{:U('Home/usercenter/brokerindex')}">{$user.truename}</a>
                            <a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a>
                        <else/>
                            <span>您好，请</span>
                            <a target="_blank" href="{:U('Home/User/login')}" rel="nofollow">
                                <span style="color:#ff4400;">&nbsp;登录</span></a>
                            <a target="_blank" href="{:U('Home/User/register')}" rel="nofollow">｜　注册　｜</a>
                            <!-- <a href="#latest_orders" rel="nofollow">｜　注册　｜</a> -->
                        </if>

                            
                            <span class="head_jianzqy">
                                <a class="head_jianzqy_a">我是建筑企业</a>
                                <div class="head_jianzqy_content">
                                    <ul>
                                        <!-- <li>
                                            <a target="_blank" href="javascript:;">我要注册公司</a></li> -->
                                        <li>
                                            <a target="_blank" href="{:U('Home/Index/baojia')}">我要办资质</a></li>
                                        <li>
                                            <a target="_blank" href="{:U('Home/Index/safe')}">我要办安证</a></li>
                                    </ul>
                                </div>
                            </span>
                            <span class="head_jianzqy" style="margin-left: 15px;">
                                <a class="head_jianzqy_a">我是服务中介</a>
                                <div class="head_jianzqy_content head_fuwzj_content">
                                    <ul>
                                        <li>
                                            <a target="_blank" href="{:U('Home/Usercenter/brokerorder')}" rel="nofollow">我的订单</a></li>
                                        <li>
                                            <a target="_blank" href="{:U('Home/Index/tuiguang')}" rel="nofollow">我要推广</a></li>
                                    </ul>
                                </div>
                            </span>
                            <span class="head_kefrx">客服热线：{$configInfo.company_phone}</span></div>
                    </li>
                </ul>
            </div>
            <div class="header_top_left">
                <div class="dingw_title">
                    <img alt="定位" src="__PUBLIC__/Home/images/PCicon.png" class="dingw_img" />
                    <a target="_blank" href="javascript:void(0)" id="city-dingw">
                        <span><if condition="!$cur_province_info">全国<else/>{$cur_province_info['province']}</if></span>
                        <font class="city_qieh">[切换]</font></a>
                </div>
                <div id="city">
                    <div class="city_list" id="city_list">
                        <a href="javascript:void(0)">
                            <if condition="!$cur_province_info">全国<else/>{$cur_province_info['province']}</if>
                        </a>
                        <div class="clear"></div>
                        <foreach name="_province_" item="v">
                            <a href="{:U('Home/Index/change_province',array('provinceid'=>$v['provinceid']))}" title="{$v.province}">{$v.province}</a>
                        </foreach>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <em>专注于建筑企业资质服务</em></div>
        </div>
    </div>
    <div id="float_div">
        <div id="head">
            <div class="head_left">
                <a href="{:U('Home/Index/index')}">
                    <img alt="资质管家" src="__UPLOAD__/{$configInfo.logo}" class="zzgj_logo" /></a>
                <img alt="办资质就上资质管家" src="__PUBLIC__/Home/images/zzgj_ggy.gif" /></div>
            <div class="head_middle">
                <div class="head_middle_mfzfw">免费找服务</div>
                <div class="head_middle_option">
                    <select class="option_on head_potion_list">
                        <option value="{:U('Home/Index/baojia')}">资质代办</option>
                        <!-- <option value="{:U('Home/Index/gongsizhuce')}">公司注册</option> -->
                        <option value="{:U('Home/Index/safe')}">安证办理</option></select>
                </div>
                <div class="head_middle_sous"></div>
            </div>
            <div class="head_right">
                <img alt="建筑管家服务专线" src="__PUBLIC__/Home/images/index_head_phone.png" />
                <span>建筑管家服务专线</span>
                <br />
                <span class="head_right_phone">{$configInfo.company_phone}</span></div>
            <div class="clear"></div>
        </div>
        <div class="nav_main_box">
            <div class="nav_box nav_box_bottom">
                <div class="pull_nav">
                    <span class="pull_nav_title">服务导航</span>    
                    <div class="pull_box" <if condition="($_SERVER['PATH_INFO'] eq 'Index/index') OR ($_SERVER['PATH_INFO'] eq '')">style="display:block;"<else/>style="display:none;"</if>>
                        <ul class="pull_box_nav_list">
                            <li class="pull_box_nav_li">
                                <span>
                                    <a href="javascript:;">公司注册</a></span>
                                <div class="pull_down">
                                    <ul>
                                        <li>
                                            <label>
                                                <a href="javascript:;">新注册</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/User/register')}" class="classify_detail_link_color">建筑行业有限公司</a>
                                                <p class="gongszy_text">天津地区专属服务，其他地区敬请期待</p></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">企业变更</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/User/register')}" class="classify_detail_link_color">建筑行业有限公司</a>
                                                <p class="gongszy_text">天津地区专属服务，其他地区敬请期待</p></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pull_box_nav_li">
                                <span>
                                    <a href="javascript:;">建筑资质</a></span>
                                <div class="pull_down">
                                    <ul>
                                        <li>
                                            <label>
                                                <a href="javascript:;">施工总承包</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">建筑工程</a>
                                                <a href="{:U('Home/Index/baojia')}">市政公用工程</a>
                                                <a href="{:U('Home/Index/baojia')}">机电工程</a>
                                                <a href="{:U('Home/Index/baojia')}">矿山工程</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">更多专业&gt;&gt;</a></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">施工专业承包</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/baojia')}">建筑装饰装修</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">防水防腐保温</a>
                                                <a href="{:U('Home/Index/baojia')}">建筑机电安装</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">更多专业&gt;&gt;</a></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">其他资质</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">工程设计</a>
                                                <a href="{:U('Home/Index/baojia')}">工程勘察</a>
                                                <a href="{:U('Home/Index/baojia')}">工程监理</a>
                                                <a href="{:U('Home/Index/baojia')}">工程造价</a>
                                                <a href="{:U('Home/Index/baojia')}">承装修试</a>
                                                <a href="{:U('Home/Index/baojia')}">房地产</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">环境评价</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">ISO体系</a>
                                                <a href="{:U('Home/Index/baojia')}" class="classify_detail_link_color">更多专业&gt;&gt;</a></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pull_box_nav_li">
                                <span>    
                                    <a href="javascript:;">安全许可</a></span>
                                <div class="pull_down">
                                    <ul>
                                        <li>
                                            <label>
                                                <a href="javascript:;">首次申请</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/safe')}" class="classify_detail_link_color">建筑施工企业</a>
                                                <p class="gongszy_text">专业安证办理，让你无忧接项目</p></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">延期办理</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/safe')}" class="classify_detail_link_color">建筑施工企业</a>
                                                <p class="gongszy_text">全国靠谱中介，延期不再是难题</p></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pull_box_nav_li">
                                <span>
                                    <a href="javascript:;">企业寻证</a></span>
                                <div class="pull_down">
                                    <ul>
                                        <li>
                                            <label>
                                                <a href="javascript:;">建造师</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/xunzheng')}">一级建造师</a>
                                                <a href="{:U('Home/Index/xunzheng')}" class="classify_detail_link_color">二级建造师</a></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">职称证书</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/xunzheng')}">高级职称证书</a>
                                                <a href="javascript:;" class="classify_detail_link_color">中级职称证书</a></div>
                                        </li>
                                        <li>
                                            <label>
                                                <a href="javascript:;">更多证书</a></label>
                                            <div class="classify-detail-box">
                                                <a href="{:U('Home/Index/xunzheng')}" class="classify_detail_link_color">八大员</a>
                                                <a href="{:U('Home/Index/xunzheng')}" class="classify_detail_link_color">技工证</a>
                                                <a href="{:U('Home/Index/xunzheng')}">监理工程师</a>
                                                <a href="{:U('Home/Index/xunzheng')}">电气工程师</a>
                                                <a href="{:U('Home/Index/xunzheng')}" class="classify_detail_link_color">造价工程师</a>
                                                <a href="{:U('Home/Index/xunzheng')}">土木工程师</a>
                                                <a href="{:U('Home/Index/xunzheng')}">注册咨询师</a>
                                                <a href="{:U('Home/Index/xunzheng')}">共用设备工程师</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pull_box_nav_li_more">
                                <span>
                                    <a href="javascript:alert('敬请期待');" style="border-bottom:0px;color:#fff!important;cursor:auto;">更多服务</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="main_menu">
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/index'">on</if>" href="{:U('Home/Index/index')}">首　页</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/baojia'">on</if>" href="{:U('Home/Index/baojia')}">资质询价</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/daiban'">on</if>" href="{:U('Home/Index/daiban')}" id="zzarea">资质代办</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/safe'">on</if>" href="{:U('Home/Index/safe')}" id="azarea">安证办理</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/baike'">on</if>" href="{:U('Home/Index/baike')}">资质标准</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/news'">on</if>" href="{:U('Home/Index/news',array('type'=>1351))}">行业资讯</a></li>
                    <li>
                        <a class="<if condition="$_page_ eq 'Index/aboutus'">on</if>" href="{:U('Home/Index/aboutus')}">关于我们</a></li>
                </ul>
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>