<html>
    
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" />
        <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" />
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script>
    </head>
    
    <body>
        <!-- 头部引用 -->
        <include file="Common/_header" />
        <!-- cr头部引用 -->
        <include file="Common/_cr_header" />

        <div class="elear" style="clear:both;"></div>
        <div class="mion">
            <div class="mion_left">
                <include file="Common/_left" />
            </div>
            <div class="mion_right">
                <div class="content_box">
                    <h4>
                        <span>安全设置</span>
                    </h4>
                    <ul>
                        <li>
                            <i style="background:url(__PUBLIC__/Home/images/xt4.jpg) no-repeat; background-position:left top;">手机认证
                                <br />
                                <lable style="color:rgb(255, 84, 0);font-weight:bold;font-size:14px">18795860715</lable></i>
                            <a style="background:#a9d86e;">
                                <img src="__PUBLIC__/Home/images/xt6.png" />已认证</a></li>
                        <li>
                            <i style="background:url(__PUBLIC__/Home/images/xt5.jpg) no-repeat; background-position:left top;">登陆密码
                                <br />********</i>
                            <a href="{:U('Home/Safetyset/changepassword')}" style="background:#59ace2;">
                                <img src="__PUBLIC__/Home/images/xt6.png" />去修改</a></li>
                    </ul>
                </div>
            </div>
            <div class="elear" style="clear:both;"></div>
            <script>$("#notValid").mouseover(function() {
                    $("#notValid").html("<img src='images/chahao(1).png'>去认证");

                }).mouseleave(function() {
                    $("#notValid").html("<img src='images/chahao(1).png'>未认证");
                });</script>
            <div class="elear" style="clear:both;"></div>
        </div>
        <div class="elear" style="clear:both;"></div>
        <!-- 底部引用 -->
        <include file="Common/_footer" />
    </body>

</html>