<?php
$province=M('Province')->select();
$daiban_type=M('Type')->where(array('pid'=>1275))->select();

$safe_type_1=M('Type')->where(array('pid'=>1377))->select();//办理类型
$safe_type_2=M('Type')->where(array('pid'=>1378))->select();//资质情况
$safe_type_3=M('Type')->where(array('pid'=>1379))->select();//人员情况
?>

<style type="text/css">
	.banner_content .banner_content_form{width: auto!important;top:6px;height: 338px;}
	.banner_content .banner_content_form .layui-tab-content{padding: 0px;}
	.banner_content .banner_content_form .layui-table{margin: 0px;}
	
    #daiban_form table{width: 300px;background: none;}
    #daiban_form .div_300{width: 100%;}
    #daiban_form .div_150{width: 125px;}
    #daiban_form .div_180{width: 138px;}
    #daiban_form .layui-table td{padding:5px 12px;border: 0px;}

    #safe_form table{width: 300px;background: none;}
    #safe_form .div_300{width: 100%;}
    #safe_form .div_150{width: 125px;}
    #safe_form .div_180{width: 138px;}
    #safe_form .layui-table td{padding:5px 12px;border: 0px;}


    #zhizgj_left{height: auto!important;}
	
	.pop-form {
	    padding-top: 200px;
	}
    .layui-tab {
	    margin: 10px 114px!important;
	    overflow-y: auto!important;
	    text-align: left!important;
	}
	.order-popover {
	    background-size: 100% 621px;
	    width: 535px;
	    height: 587px;
	}


</style>


<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">办资质</li>
        <li>办安证</li>
        <!-- <li>开公司</li> -->
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
        	<!-- 表单开始【代办】 -->
        	<form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="daiban_form" enctype="multipart/form-data">
        	    <table class="layui-table">
        	      <colgroup>
        	          <col width="50%">
        	          <col>
        	      </colgroup>
        	      <tbody>

        	        <tr>
        	          <td colspan="2">
        	            <div class="layui-input-inline div_300">
        	              <select name="type_1" class="type_1" lay-filter="daiban_type_1" lay-verify="required" >
        	                <option value="">资质类型</option>
        	                <foreach name="daiban_type" item="v">
        	                    <option value="{$v['id']}">{$v['title']}</option>
        	                </foreach>
        	              </select>
        	            </div>
        	          </td>
        	        </tr>

        	        <tr>
        	          <td>
        	            <div class="layui-input-inline div_150">
        	              <select name="type_2" class="type_2" lay-filter="daiban_type_2" lay-verify="required" >
        	                <option value="">资质专业</option>
        	              </select>
        	            </div>
        	          </td>
        	          <td>
        	            <div class="layui-input-inline div_150">
        	              <select name="type_3" class="type_3" lay-verify="required" >
        	                <option value="">资质等级</option>
        	              </select>
        	            </div>
        	          </td>
        	        </tr>

        	        <tr>
        	          <td>
        	            <div class="layui-input-inline div_150">
        	              <select name="province" class="province" lay-filter="daiban_province" lay-verify="required" >
        	                <option value="">省/市</option>
        	                <foreach name="province" item="v">
        	                    <option value="{$v['provinceid']}">{$v['first_name']} {$v['province']}</option>
        	                </foreach>
        	              </select>
        	            </div>
        	          </td>
        	          <td>
        	            <div class="layui-input-inline div_150">
        	              <select name="city" class="city" lay-filter="city" lay-verify="required" >
        	                <option value="">市/地区</option>
        	              </select>
        	            </div>
        	          </td>
        	        </tr>

        	        <tr>
        	          <td colspan="2">
        	            <div class="layui-input-inline div_300">
        	              <input type="tel" name="phone" lay-verify="phone" placeholder="填写手机号码，轻松获精准报价" class="layui-input phone phone_1">
        	            </div>
        	          </td>
        	        </tr>
        	        <tr>
        	          <td colspan="2">
        	            <div class="layui-input-inline div_180">
        	              <input type="text" name="code" autocomplete="off" placeholder="手机验证码" class="layui-input code" id="phone_code_1">
        	            </div>
        	            <label class="layui-form-label no" id="btn_verify_1" style="float:right;width:103px;">获取验证码</label>
        	          </td>
        	        </tr>

        	      </tbody>
        	      <tfoot>
        	        <tr>
        	          <td colspan="2" style="text-align:center;">
        	             <input type="hidden" name="type" value='1' placeholder="办资质" autocomplete="off" class="layui-input">
        	             <input id="apply_daiban" disabled="disabled" value="免费获取精准报价" lay-submit="" lay-filter="demo1_apply_daiban" class="btn btn-primary btn-large" />
        	          </td>
        	        </tr>
        	      </tfoot>
        	    </table>

        	 </form>
        	<!-- 表单结束 【代办】-->
        </div>
        <div class="layui-tab-item">
			<!-- 表单开始 【安证】-->
			<form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="safe_form" enctype="multipart/form-data">
			    <table class="layui-table">
			      <colgroup>
			          <col width="50%">
			          <col>
			      </colgroup>
			      <tbody>

			        <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_300">
			              <select name="type_1" class="type_1" lay-filter="type_1" lay-verify="required" >
			                <option value="">办理类型</option>
			                <foreach name="safe_type_1" item="v">
			                    <option value="{$v['id']}">{$v['title']}</option>
			                </foreach>
			              </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="type_2" class="type_2" lay-filter="type_2" lay-verify="required" >
                            <option value="">资质情况</option>
                            <foreach name="safe_type_2" item="v">
                                <option value="{$v['id']}">{$v['title']}</option>
                            </foreach>
                          </select>
			            </div>
			          </td>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="type_3" class="type_3" lay-filter="type_3" lay-verify="required" >
                            <option value="">人员情况</option>
                            <foreach name="safe_type_3" item="v">
                                <option value="{$v['id']}">{$v['title']}</option>
                            </foreach>
                          </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="province" class="province" lay-filter="safe_province" lay-verify="required" >
			                <option value="">省/市</option>
			                <foreach name="province" item="v">
			                    <option value="{$v['provinceid']}">{$v['first_name']} {$v['province']}</option>
			                </foreach>
			              </select>
			            </div>
			          </td>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="city" class="city" lay-filter="city" lay-verify="required" >
			                <option value="">市/地区</option>
			              </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_300">
			              <input type="tel" name="phone" lay-verify="phone" placeholder="填写手机号码，轻松获精准报价" class="layui-input phone phone_2">
			            </div>
			          </td>
			        </tr>
			        <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_180">
			              <input type="text" name="code" autocomplete="off" placeholder="手机验证码" class="layui-input code" id="phone_code_2">
			            </div>
			            <label class="layui-form-label no" id="btn_verify_2" style="float:right;width:103px;">获取验证码</label>
			          </td>
			        </tr>

			      </tbody>
			      <tfoot>
			        <tr>
			          <td colspan="2" style="text-align:center;">
			             <input type="hidden" name="type" value='2' placeholder="办安证" autocomplete="off" class="layui-input">
			             <input id="apply_safe" disabled="disabled" value="免费获取精准报价" lay-submit="" lay-filter="demo1_apply_safe" class="btn btn-primary btn-large" />
			          </td>
			        </tr>
			      </tfoot>
			    </table>

			 </form>
			<!-- 表单结束 【安证】-->
        </div>
        <div class="layui-tab-item">
			<!-- 表单开始 -->
			<form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="baojia_form" enctype="multipart/form-data">
			    <table class="layui-table">
			      <colgroup>
			          <col width="50%">
			          <col>
			      </colgroup>
			      <tbody>

			        <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_300">
			              <select name="type_1" class="type_1" lay-filter="type_1" lay-verify="required" >
			                <option value="">办理类型</option>
			                <foreach name="safe_type_1" item="v">
			                    <option value="{$v['id']}">{$v['title']}</option>
			                </foreach>
			              </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="type_2" class="type_2" lay-filter="type_2" lay-verify="required" >
                            <option value="">资质情况</option>
                            <foreach name="safe_type_2" item="v">
                                <option value="{$v['id']}">{$v['title']}</option>
                            </foreach>
                          </select>
			            </div>
			          </td>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="type_3" class="type_3" lay-filter="type_3" lay-verify="required" >
                            <option value="">人员情况</option>
                            <foreach name="safe_type_3" item="v">
                                <option value="{$v['id']}">{$v['title']}</option>
                            </foreach>
                          </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="province" class="province" lay-filter="province" lay-verify="required" >
			                <option value="">省/市</option>
			                <foreach name="province" item="v">
			                    <option value="{$v['provinceid']}">{$v['first_name']} {$v['province']}</option>
			                </foreach>
			              </select>
			            </div>
			          </td>
			          <td>
			            <div class="layui-input-inline div_150">
			              <select name="city" class="city" lay-filter="city" lay-verify="required" >
			                <option value="">市/地区</option>
			              </select>
			            </div>
			          </td>
			        </tr>

			        <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_300">
			              <input type="tel" name="phone" lay-verify="phone" placeholder="填写手机号码，轻松获精准报价" class="layui-input phone">
			            </div>
			          </td>
			        </tr>
			       <!--  <tr>
			          <td colspan="2">
			            <div class="layui-input-inline div_180">
			              <input type="text" name="code" autocomplete="off" placeholder="手机验证码" class="layui-input code" id="phone_code">
			            </div>
			            <label class="layui-form-label" style="float:right;width:103px;">获取验证码</label>
			          </td>
			        </tr> -->

			      </tbody>
			      <tfoot>
			        <tr>
			          <td colspan="2" style="text-align:center;">
			             <input type="hidden" name="type" value='3' placeholder="资质代办" autocomplete="off" class="layui-input">
			             <input id="apply_company" value="免费获取精准报价" lay-submit="" lay-filter="demo1_apply_company" class="btn btn-primary btn-large" />
			          </td>
			        </tr>
			      </tfoot>
			    </table>

			 </form>
			<!-- 表单结束 -->
        </div>
    </div>
</div>


<script>
	// 选项卡切换
    layui.use('element', function(){
      var $ = layui.jquery
      ,element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块
      
      //触发事件
      var active = {
        tabAdd: function(){
          //新增一个Tab项
          element.tabAdd('demo', {
            title: '新选项'+ (Math.random()*1000|0) //用于演示
            ,content: '内容'+ (Math.random()*1000|0)
            ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
          })
        }
        ,tabDelete: function(othis){
          //删除指定Tab项
          element.tabDelete('demo', '44'); //删除：“商品管理”
          
          
          othis.addClass('layui-btn-disabled');
        }
        ,tabChange: function(){
          //切换到指定Tab项
          element.tabChange('demo', '22'); //切换到：用户管理
        }
      };
      
      $('.site-demo-active').on('click', function(){
        var othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
      });
      
      //Hash地址的定位
      var layid = location.hash.replace(/^#test=/, '');
      element.tabChange('test', layid);
      
      element.on('tab(test)', function(elem){
        location.hash = 'test='+ $(this).attr('lay-id');
      });
      
    });
</script>

<script type="text/javascript">
    $(function(){
        init_editer();

        $('#phone_code_1').blur(function(){
            var phone=$('.phone_1').val();
            var code=$(this).val();
            if(code && phone){
                _ajax_check_code(code, phone);
            }
        });

        $('.phone_1').blur(function(){
            var phone=$(this).val();
            if(isPhoneNo(phone)){
                $('#btn_verify_1').removeClass('no');
            }
        });

        $('#btn_verify_1').click(function(){
            var phone=$('.phone_1').val();
            if(!isPhoneNo(phone)){
                alert('请填写正确的手机号码');return;
            }

            if($(this).hasClass('no')){

            }else{
                if($(this).html()=='获取验证码'){
                    var phone=$('.phone_1').val();
                    _ajax_get_code(phone);
                    new invokeSettime("#btn_verify_1");
                }
            }
        });

        $('#phone_code_2').blur(function(){
            var phone=$('.phone_2').val();
            var code=$(this).val();
            if(code && phone){
                _ajax_check_code(code, phone);
            }
        });

        $('.phone_2').blur(function(){
            var phone=$(this).val();
            if(isPhoneNo(phone)){
                $('#btn_verify_2').removeClass('no');
            }
        });

        $('#btn_verify_2').click(function(){
            var phone=$('.phone_2').val();
            if(!isPhoneNo(phone)){
                alert('请填写正确的手机号码');return;
            }

            if($(this).hasClass('no')){

            }else{
                if($(this).html()=='获取验证码'){
                    var phone=$('.phone_2').val();
                    _ajax_get_code(phone);
                    new invokeSettime("#btn_verify_2");
                }
            }
        });
    });
</script>

<script type="text/javascript">
  function invokeSettime(obj){
      var countdown=60;
      settime(obj);
      function settime(obj) {
          if (countdown == 0) {
              $(obj).attr("disabled",false);
              $(obj).text("获取验证码");
              countdown = 60;
              return;
          } else {
              $(obj).attr("disabled",true);
              $(obj).text("(" + countdown + ") s 重新发送");
              countdown--;
          }
          setTimeout(function() {
              settime(obj) }
          ,1000)
      }
  }

  // 验证手机号 
  function isPhoneNo(phone) {
      var pattern = /^1[34578]\d{9}$/;
      return pattern.test(phone);
  }
</script>

<script>
    function _ajax_apply_baojia(_data){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_apply_baojia')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.reload();
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_get_code(phone){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/getvalidatecode')}",
             data: {
                phone:phone
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.IsSuccess==true){
                     alert('验证码发送成功,请查收');
                 }else{
                     alert(json.Msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_check_code(code, phone){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/checkvalidatecode')}",
             data: {
                code:code,
                phone:phone
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.IsSuccess==true){
                     $('#apply_daiban').removeAttr('disabled');
                 }else{
                     alert(json.Msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function init_editer(){
        layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
          var form = layui.form()
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;

          //自定义验证规则
          form.verify({
            title: function(value){
              if(value.length < 5){
                return '标题至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          });

          form.on('select(safe_province)', function(data){
              var provinceid=data.value;
              if(provinceid){
                  _ajax_get_city_select(provinceid, 'safe');
              }
              return false;
          });

          form.on('select(daiban_province)', function(data){
              var provinceid=data.value;
              if(provinceid){
                  _ajax_get_city_select(provinceid, 'daiban');
              }
              return false;
          });

          form.on('select(daiban_type_1)', function(data){
              var type_1=data.value;
              if(type_1){
                  _ajax_get_type_2_select(type_1);
              }
              return false;
          });

          form.on('select(daiban_type_2)', function(data){
              var type_2=data.value;
              if(type_2){
                  _ajax_get_type_3_select(type_2);
              }
              return false;
          });

          //监听提交
          form.on('submit(demo1_apply_daiban)', function(data){
            // console.log(data.field);
            var _json=_ajax_apply_baojia(data.field);
            return false;
          });

          //监听提交
          form.on('submit(demo1_apply_safe)', function(data){
            // console.log(data.field);
            var _json=_ajax_apply_baojia(data.field);
            return false;
          });
        });
    }

    function _ajax_get_city_select(provinceid, type){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_city_list')}",
            data:{
              provinceid:provinceid
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>市/地区</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                    });
                    $('#'+type+'_form .city').html(str);
                    layui.form().render();

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });
    }   

    function _ajax_get_type_2_select(type_1) {
        $.ajax({
            async: false,
            type: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "{:U('Home/Index/ajax_get_type_list')}",
            data: {
                type: type_1
            },
            dataType: 'json',
            success: function(json) {
                if (json.code == 0) {
                    var data = json.data;

                    var str = "<option value=''>资质专业</option>";
                    $.each(json.data,
                    function(key, value) {
                        str += "<option value='" + value.id + "'>" + value.title + "</option>";
                    });

                    $('#daiban_form .type_2').html(str);
                    layui.form().render();
                } else {
                    layer.msg(json.msg);
                }
            },
            error: function(json) {
                layer.msg(json.msg);
            }
        });
    }

    function _ajax_get_type_3_select(type_2) {
        $.ajax({
            async: false,
            type: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "{:U('Home/Index/ajax_get_type_list')}",
            data: {
                type: type_2
            },
            dataType: 'json',
            success: function(json) {
                if (json.code == 0) {
                    var data = json.data;

                    var str = "";
                    $.each(json.data,
                    function(key, value) {
                        str += "<option value='" + value.id + "'>" + value.title + "</option>";
                    });

                    $('#daiban_form .type_3').html(str);
                    layui.form().render();
                } else {
                    layer.msg(json.msg);
                }
            },
            error: function(json) {
                layer.msg(json.msg);
            }
        });
    }
</script>