<div class="header" style="height:170px"> 
   <input id="popsub" name="popsub" value="3" type="hidden" /> 
   <input id="AreaId" name="AreaId" value="393" type="hidden" /> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 
      <ul> 
       <li> 
        <div id="regist" style="float:left"> 
         <em>咨询热线：<span>010-56269198 </span> </em> 
         <em style="background:none;">您好，欢迎来到资质管家！</em> 
         <a href="http://www.zizhiguanjia.com/usercenter/brokerindex">熊丽丽</a> 
         <span id="loginout"><a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a></span> 
         <a href="http://www.zizhiguanjia.com/usercenter/brokerorder" rel="nofollow">我的订单</a> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="header_top_left"> 
      <a href="index.html" style="color:#ff4400;">返回首页</a> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
    <div class="zgsh_center"> 
     <div class="zgshc_company"> 
      <span class="zc_bg"> <img alt="上海搜搜投资咨询有限公司" title="上海搜搜投资咨询有限公司" src="__PUBLIC__/Home/images/20160601161405924.jpg" original="__PUBLIC__/Home/images/20160601161405924.jpg" /> </span> 
      <div class="zd_name"> 
       <h1>上海搜搜投资咨询有限公司</h1> 
       <p title="营业执照已认证"> <em></em> 
        <lable>
         认证&nbsp;&nbsp;&nbsp;浏览咨询次数：
        </lable> 5643 </p> 
      </div> 
     </div> 
     <div class="zgsh_bottom"> 
      <div class="zgshb_menu"> 
       <ul> 
        <li name="index" class="on"> <a href="{:U('Home/Gongsi/index',array('cid'=>$_GET['cid']))}">首页</a> </li> 
        <li name="gsjs"> <a href="{:U('Home/Gongsi/jianjie',array('cid'=>$_GET['cid']))}">公司介绍</a> </li> 
        <li name="anli"> <a href="{:U('Home/Gongsi/anli',array('cid'=>$_GET['cid']))}">资质案例</a> </li> 
        <li name="jytd"> <a href="{:U('Home/Gongsi/team',array('cid'=>$_GET['cid']))}">精英团队</a> </li> 
        <li name="lianxi"> <a href="{:U('Home/Gongsi/lianxi',array('cid'=>$_GET['cid']))}">联系我们</a> </li> 
       </ul> 
       <a href="javascript:void(0)" class="zgs_freeDesignAndPrice btn-get-price"> 免费为我报价 <b></b> </a> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="clear"></div> 
</div> 