<div class="header" style="height:175px"> 
   <input id="popsub" name="popsub" value="3" type="hidden" /> 
   <input id="AreaId" name="AreaId" value="393" type="hidden" /> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 


      <if condition="!$user">
          <ul>
              <li>
                  <div id="regist" style="float:right">
                      <span>您好，请</span>
                      <a href="{:U('Home/User/login')}"><span style="color:#ff4400;">&nbsp;登录</span></a>
                      <a href="{:U('Home/User/register')}" rel="nofollow">｜　注册　｜</a>
                      <a href="{:U('Home/Usercenter/brokerindex')}" rel="nofollow">我的订单</a>
                  </div>
              </li>
          </ul>
      <else/>
          <ul> 
            <li> 
              <div id="regist" style="float:left"> 
                  <em>咨询热线：<span>010-56269198 </span> </em> 
                  <em style="background:none;">您好，欢迎来到资质专家！</em> 
                  <a href="{:U('Home/Usercenter/brokerindex')}">{$user.truename}</a> 
                  <span id="loginout"><a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a></span> 
                  <a href="{:U('Home/Usercenter/brokerindex')}" rel="nofollow">我的订单</a> 
              </div> 
            </li> 
          </ul> 
      </if>


     </div> 
     <div class="header_top_left"> 
      <a href="{:U('Home/Index/index')}" style="color:#ff4400;">返回首页</a> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
    <div class="zgsh_center"> 
     <div class="zgshc_company"> 
      <span class="zc_bg"> <img alt="{$company_info.company_name}" title="{$company_info.company_name}" src="{$company_info.company_logo}" /> </span> 
      <div class="zd_name"> 
       <h1>{$company_info.company_name}</h1> 
       <p title="营业执照已认证"> <em></em> 
        <lable>
         认证&nbsp;&nbsp;&nbsp;浏览咨询次数：
        </lable> {$company_info.company_eye} </p> 
      </div> 
     </div> 
     <div class="zgsh_bottom"> 
      <div class="zgshb_menu"> 
       <ul> 
        <li name="index"> <a href="{:U('Home/Gongsi/index',array('cid'=>$_GET['cid']))}">首页</a> </li> 
        <li name="gsjs"> <a href="{:U('Home/Gongsi/jianjie',array('cid'=>$_GET['cid']))}">公司介绍</a> </li> 
        <li name="anli"> <a href="{:U('Home/Gongsi/anli',array('cid'=>$_GET['cid']))}">资质案例</a> </li> 
        <li name="jytd"> <a href="{:U('Home/Gongsi/team',array('cid'=>$_GET['cid']))}">精英团队</a> </li> 
        <li name="lianxi"> <a href="{:U('Home/Gongsi/lianxi',array('cid'=>$_GET['cid']))}">联系我们</a> </li> 
       </ul> 
       <a href="javascript:void(0)" class="zgs_freeDesignAndPrice btn-get-price"> 免费为我报价 <b></b> </a> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="clear"></div> 
</div> 