<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>资质案例</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='anli']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="_header" />


  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <link type="text/css" href="__PUBLIC__/Home/css/zhengshu_popup.css" rel="stylesheet" /> 
   <div class="cont_all clearfix"> 
    <div class="zz_case"> 
     <div class="zz_case_left"> 
      <dl> 
       <dt id="dt">
        <a href="/gongsi/anli/5847.html" style="color:#333;">资质案例</a>
        <em class="em"></em>
       </dt> 
       <dd id="dd"> 
          <foreach name="zizhileixing" item="v">
              <a name="sub{$key+1}" href="{:U('Home/Gongsi/anli',array('cid'=>$_GET['cid'],'type'=>$v['id']))}">{$v.title}</a> 
          </foreach>
       </dd> 
      </dl> 
     </div> 
     <div class="zz_case_right"> 
      <div class="successful_title"> 
       <ul> 
        <div style="display:inline-block;margin-bottom:20px;"> 


            <foreach name="list" item="v">
                <li style="height:auto">
                    <img src="__PUBLIC__/Home/images/20160801165132768.jpg" />
                    <div>公司名称：
                        <div style="margin:-25px 0 0 60px;margin-left:60px;margin-top:-25px;width:160px;word-wrap:break-word">{$v.company_name}</div></div>
                    <div>资质类型：{$v.zizhileixing}</div>
                    <div>合作业务：
                        <div style="margin:-25px 0 0 60px;margin-left:60px;margin-top:-25px;width:160px;word-wrap:break-word">{$v.hezuoyewu}</div></div>
                    <div>办理周期：{$v.banlizhouqi}</div>
                    <div>办理价格：{$v.price}</div>
                    <div>人员配置：
                        <div style="margin:-25px 0 0 60px;margin-left:60px;margin-top:-25px;width:160px;word-wrap:break-word">{$v.renyuanpeizhi}</div></div>
                </li>
            </foreach>
         
        </div>
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/zhengshu_popup.js"></script> 
   <script type="text/javascript">
    var jq = jQuery.noConflict();
    jq(".successful_title > ul > div > li >  img").click(function () {
        var curNum = jq(".successful_title > ul > div > li > img").index(jq(this));
        jq(".successful_title > ul > div > li > img").ppt({
            isFirst: true,
            isLast: false,
            curNum: curNum,
            imgParent: ".successful_title"
        }
        );
    });
    $(document).ready(function () {
        $("#dt").click(function () {
            $("#dd").slideToggle();
        })
    });
    $(document).ready(function () {
        $("#dt").click(function () {
            $("#dt em").toggleClass("em");
        })
    });
    $(function () { $("[name='sub0']").addClass("subc"); });
</script> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />


 </body>
</html>