<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='gsjs']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="_header" />


  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <div class="cont_l"> 
    <div class="left_list"> 
     <ul> 
      <li name="gsjs" class="on"><a href="/gongsi/5847/jianjie/"></a></li> 
      <li name="zhengshu"><a href="/gongsi/5847/zhengshu/">营业执照</a></li> 
      <li name="lianxi"><a href="/gongsi/5847/lianxi/">联系我们</a></li> 
     </ul> 
    </div> 
   </div> 
   <style type="text/css">
    .cont_r .detail table tr .content {width: 558px;}
    .cont_r .antro .describe {width: 760px;}
    .cont_r .antro .describe .logo {margin-right: 20px;margin-bottom: 16px;}
    .cont_r .antro .describe .logo img {width: 150px;height: 150px;}
   </style>   
   <div class="cont_r"> 
    <div class="antro clearfix"> 
     <p class="sign_title"></p> 
     <div class="content"> 
      <div class="describe" style="word-wrap: break-word;word-break: normal;"> 
       <div class="logo">
        <img src="__PUBLIC__/Home/images/20160601161405924.jpg" width="150" height="150" />
       </div> 
       <p style="font-size: 14px;word-wrap: break-word;word-break: normal;overflow: hidden;">搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑人才挂、企业注册增资等业务，服务客户500多家有众多大型国企、上市公司等，是上海第一批专注与资质代理的服务机构。六年的行业积淀拥有百分之百的成功代理经验，熟悉各区建委的资质要求。我们有专业工程师精通材料规范，&nbsp;为客户编制申报材料。让专业的人做专业的事，让资质审批简单化。机构下设上海建筑业资质申报咨询服务中心（www.shzizhi.net）、上海资质代理网（www.shzizhi.com）、长三角建筑人才网(www.csjhr.net)。我们以为各类企业提供最新最好的资质服务、人才服务为追求目标；将全方位为各类建筑企业、提供优质超值服务，最大程度满足客户的需求，并为其提供针对性的服务。</p> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />
  
  <script type="text/javascript">
    function LoginOut() {
        var message = "确定要退出当前用户吗？";
        if (confirm(message)) {
            $.post("/user/exituser", "", function (data) {
                if (data.IsSuccess) {
                    location.href = "http://www.zizhiguanjia.com";
                }
            })
        }
    };
    </script> 
 </body>
</html>