<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='gsjs']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="_header" />


  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <div class="cont_l"> 
    <div class="left_list"> 
     <ul> 
      <li name="gsjs" class="on"><a href="{:U('Home/Gongsi/jianjie',array('cid'=>$_GET['cid']))}">公司简介</a></li> 
      <li name="zhengshu"><a href="{:U('Home/Gongsi/zhengshu',array('cid'=>$_GET['cid']))}">营业执照</a></li> 
      <li name="lianxi"><a href="{:U('Home/Gongsi/lianxi',array('cid'=>$_GET['cid']))}">联系我们</a></li> 
     </ul> 
    </div> 
   </div> 
   <style type="text/css">
    .cont_r .detail table tr .content {width: 558px;}
    .cont_r .antro .describe {width: 760px;}
    .cont_r .antro .describe .logo {margin-right: 20px;margin-bottom: 16px;}
    .cont_r .antro .describe .logo img {width: 150px;height: 150px;}
   </style>   
   <div class="cont_r"> 
    <div class="antro clearfix"> 
     <p class="sign_title"></p> 
     <div class="content"> 
      <div class="describe" style="word-wrap: break-word;word-break: normal;"> 
       <div class="logo">
        <img src="{$company_info.company_logo}" width="150" height="150" />
       </div> 
       {$company_info.company_introduction}
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />
  

 </body>
</html>