<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>联系我们</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='lianxi']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="_header" />


  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <div class="cont_l"> 
    <div class="left_list"> 
     <ul> 
      <li name="gsjs"><a href="{:U('Home/Gongsi/jianjie',array('cid'=>$_GET['cid']))}">公司简介</a></li> 
      <li name="zhengshu"><a href="{:U('Home/Gongsi/zhengshu',array('cid'=>$_GET['cid']))}">营业执照</a></li> 
      <li name="lianxi" class="on"><a href="{:U('Home/Gongsi/lianxi',array('cid'=>$_GET['cid']))}">联系我们</a></li> 
     </ul> 
    </div> 
   </div> 
   <!--公司介绍--> 
   <div class="main_r"> 
    <div class="detail clearfix"> 
     <div class="lg">
      <img src="{$company_info.company_logo}" width="150" height="150" />
     </div> 
     <p class="title">{$company_info.company_name}</p> 
     <dl> 
      <dd>
       联系人：{$company_info.company_people} 
      </dd> 
      <dd>
       手机号码：{$company_info.company_phone}
      </dd> 
      <dd>
       公司地址：{$company_info.company_address}
      </dd> 
     </dl> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />

 
  
 </body>
</html>