<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>精英团队</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='jytd']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="_header" />


  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <div class="cont_all clearfix"> 
    <div class="zz_case"> 
     <div class="zz_case_left"> 
      <dl> 
       <dt id="dt">
        <a href="/gongsi/team/5847.html" style="color:#333">精英团队</a> 
        <em class="em"></em>
       </dt> 
       <dd id="dd"> 
        <a name="sub1" href="/gongsi/5847/1/team/">1年以下</a> 
        <a name="sub2" href="/gongsi/5847/2/team/">1—3年</a> 
        <a name="sub3" href="/gongsi/5847/3/team/">3—5年</a> 
        <a name="sub4" href="/gongsi/5847/4/team/">5年以上</a> 
       </dd> 
      </dl> 
     </div> 
     <div class="zz_case_right"> 
      <div class="elite"> 
       <dl> 
        <dt>
         符合条件的团队成员
        </dt> 
        <dd> 
         <ul> 
          <div> 
           <li> 
            <div class="elite_tx"> 
             <div class="fg"></div> 
             <img src="__PUBLIC__/Home/images/tx.jpg" /> 
            </div> <p>王浩仁</p> <p>18055351585</p> <p>5年以上从业经验</p> <p></p> </li> 
           <li> 
            <div class="elite_tx"> 
             <div class="fg"></div> 
             <img src="__PUBLIC__/Home/images/tx.jpg" /> 
            </div> <p>王平</p> <p>15800772290</p> <p>5年以上从业经验</p> <p></p> </li> 
          </div>
         </ul> 
        </dd> 
       </dl> 
      </div> 
     </div> 
    </div> 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dt").click(function () {
                $("#dd").slideToggle();
            })
        });

        $(document).ready(function () {
            $("#dt").click(function () {
                $("#dt em").toggleClass("em");
            })
        });
        $(function () { $("[name='sub0']").addClass("subc"); });
    </script> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 

  
  <!-- 引用 -->
  <include file="Common/footer" />
  

  <script type="text/javascript">
    function LoginOut() {
        var message = "确定要退出当前用户吗？";
        if (confirm(message)) {
            $.post("/user/exituser", "", function (data) {
                if (data.IsSuccess) {
                    location.href = "http://www.zizhiguanjia.com";
                }
            })
        }
    };
    </script> 
 </body>
</html>