<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>公司证书</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="搜搜投资企业发展机构自08年成立以来一直致力于企业资质申报、年检升级、安全许可证代理、建筑...." /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gls.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
  <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
  <script src="__PUBLIC__/Home/js/push.js"></script>
  <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript">
        $(function () { $("[name='zhengshu']").addClass("on"); });
    </script> 
 </head> 
 <body> 
  <div class="header" style="height:170px"> 
   <input id="popsub" name="popsub" value="3" type="hidden" /> 
   <input id="AreaId" name="AreaId" value="393" type="hidden" /> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 
      <ul> 
       <li> 
        <div id="regist" style="float:left"> 
         <em>咨询热线：<span>010-56269198 </span> </em> 
         <em style="background:none;">您好，欢迎来到资质管家！</em> 
         <a href="http://www.zizhiguanjia.com/usercenter/brokerindex">熊丽丽</a> 
         <span id="loginout"><a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a></span> 
         <a href="http://www.zizhiguanjia.com/usercenter/brokerorder" rel="nofollow">我的订单</a> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="header_top_left"> 
      <a href="index.html" style="color:#ff4400;">返回首页</a> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
    <div class="zgsh_center"> 
     <div class="zgshc_company"> 
      <span class="zc_bg"> <img alt="上海搜搜投资咨询有限公司" title="上海搜搜投资咨询有限公司" src="__PUBLIC__/Home/images/20160601161405924.jpg" /> </span> 
      <div class="zd_name"> 
       <h1>上海搜搜投资咨询有限公司</h1> 
       <p title="营业执照已认证"> <em></em> 
        <lable>
         认证&nbsp;&nbsp;&nbsp;浏览咨询次数：
        </lable> 5650 </p> 
      </div> 
     </div> 
     <div class="zgsh_bottom"> 
      <div class="zgshb_menu"> 
       <ul> 
        <li name="index"> <a href="/gongsi/5847/">首页</a> </li> 
        <li name="gsjs"> <a href="/gongsi/5847/jianjie/">公司介绍</a> </li> 
        <li name="anli"> <a href="/gongsi/5847/anli/">资质案例</a> </li> 
        <li name="jytd"> <a href="/gongsi/5847/team/">精英团队</a> </li> 
        <li name="lianxi"> <a href="/gongsi/5847/lianxi/">联系我们</a> </li> 
       </ul> 
       <a href="javascript:void(0)" class="zgs_freeDesignAndPrice btn-get-price"> 免费为我报价 <b></b> </a> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <!--公司介绍--> 
  <div class="cont_all clearfix"> 
   <div class="cont_l"> 
    <div class="left_list"> 
     <ul> 
      <li name="gsjs"><a href="/gongsi/5847/jianjie/">公司简介</a></li> 
      <li name="zhengshu" class="on"><a href="/gongsi/5847/zhengshu/">营业执照</a></li> 
      <li name="lianxi"><a href="/gongsi/5847/lianxi/">联系我们</a></li> 
     </ul> 
    </div> 
   </div> 
   <link type="text/css" href="__PUBLIC__/Home/css/zhengshu_popup.css" rel="stylesheet" /> 
   <div class="cont_r"> 
    <div class="intro_row" id="imgDivId"> 
     <p class="intro_title">营业执照</p> 
     <ul class="clearfix"> 
      <li style="width:230px;font-size:15px;"> <img src="__PUBLIC__/Home/images/20170221084245537.jpg" width="175" height="175" /> </li> 
     </ul> 
    </div> 
   </div> 
   <!-- 证书弹窗 --> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/zhengshu_popup.js"></script> 
   <script type="text/javascript">
    var jq = jQuery.noConflict();
    jq(".intro_row > ul > li >  img").click(function () {
        var curNum = jq(".intro_row > ul > li > img").index(jq(this));

        jq(".intro_row > ul > li > img").ppt({
            isFirst: true,
            isLast: false,
            curNum: curNum,
            imgParent: ".intro_row"
        }
        );
    });
</script> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  <footer> 
   <div class="footer-warp"> 
    <div class="footer-bq"> 
     <a href="daiban.html">资质代办 </a>|
     <a href="zizhibiaozhun.html">资质标准 </a>|
     <a href="news.html">行业资讯 </a>|
     <a href="reg.html" rel="nofollow">中介入驻 </a>|
     <a href="/aboutus.html" rel="nofollow">关于我们 </a>|
     <a href="/join.html" rel="nofollow">加入我们 | </a>
     <a href="/contact.html" rel="nofollow">联系我们 </a>|
     <a href="#" rel="nofollow" style="cursor:default">常见问题 </a>|
     <a href="#" rel="nofollow" style="cursor:default">意见反馈</a>
     <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
     <br /> 版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1 
     <br /> Copyright &copy; 2016 zizhiguanjia.com All Rights Reserved
     <br /> 公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室 &nbsp;电话： 010-56269198&nbsp; 
    </div> 
   </div> 
  </footer> 
  <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script> 
  <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'js/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script> 
  <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'js/analytics.js', 'ga');

        ga('create', 'UA-101792527-1', 'auto');
        ga('send', 'pageview');

    </script> 
  <div style="display: none"> 
   <a href="http://www.cnzz.com/stat/website.php?web_id=1255699131" target="_blank" title="站长统计">站长统计</a> 
  </div> 
  <script type="text/javascript">
    function LoginOut() {
        var message = "确定要退出当前用户吗？";
        if (confirm(message)) {
            $.post("/user/exituser", "", function (data) {
                if (data.IsSuccess) {
                    location.href = "http://www.zizhiguanjia.com";
                }
            })
        }
    };
    </script> 
 </body>
</html>