<html>
    
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" />
        <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" />
        <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
        <script src="__PUBLIC__/Home/js/push.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script>
    </head>
    
    <body>
        <!-- 头部引用 -->
        <include file="Common/_header" />
        <!-- cr头部引用 -->
        <include file="Common/_cr_header" />

        <div class="elear" style="clear:both;"></div>
        <div class="mion">
            <div class="mion_left">
                <include file="Common/_left" />
            </div>
            <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/caseinfo.css?v=20160531" />
            <div class="mion_right">
                <h4>
                    <span>资质案例</span>
                </h4>
                <div class="case_zs">
                    <a href="{:U('Home/company/addcaseinfo')}" class="return">新增案例</a>
                    <div class="tit">列表
                        <p>操作</p>
                        <p>状态</p>
                    </div>
                    <ul>
                        <foreach name="list" item="v">
                            <li>
                                <div class="anxx">
                                    <div class="img">
                                        <img src="{$v.img}" width="100" height="100" /></div>
                                    <div class="informatione">
                                        <p>公司名称：
                                            <b class="b1">{$v.company_name}</b></p>
                                        <p>资质类型：
                                            <b>{$v.zizhileixing}</b>
                                        </p>
                                        <p>办理周期：
                                            <b>{$v.banlizhouqi}</b>
                                        </p>
                                        <p>办理价格：
                                            <b>{$v.price}</b>
                                        </p>
                                    </div>
                                    <div class="checkinfo">
                                        <if condition="$v['status'] eq 0">审核中</if>
                                        <if condition="$v['status'] eq 1">通过</if>
                                        <if condition="$v['status'] eq -1">不通过</if>
                                    </div>
                                    <div class="operation">
                                        <a href="{:U('Home/Company/editcaseinfo',array('id'=>$v['id']))}">编辑</a>
                                        <a href="javascript:void(0)" class="a1 del_btn" data-id="{$v.id}">删除</a></div>
                                </div>
                            </li>
                        </foreach>
                        
                        <div class="page">
                            {$page}
                        </div>
                    </ul>
                </div>
            </div>
            <script type="text/javascript" src="__PUBLIC__/Home/js/addCaseInfo.js"></script>
            <div class="elear" style="clear:both;"></div>
        </div>
        <div class="elear" style="clear:both;"></div>
        <!-- 底部引用 -->
        <include file="Common/_footer" />
    </body>


<script type="text/javascript">
    $(function(){
        //删除
        $( "body" ).on('click', '.del_btn', function() {
          if(confirm("确定要删除？")){
              var id=$(this).attr('data-id');
              _ajax_del(id);
          }
        });
    });
</script>

<script type="text/javascript">
    //异步删除
    function _ajax_del(id){
        $.ajax({  
            type:'get',  
            url : "{:U('Home/Company/ajax_del_case')}",
            data:{
                id:id
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code == 0){
                    alert(json.msg);
                    window.location.reload();
                }else{
                    alert(json.msg);
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
    }
</script>
</html>