<html>
 <head> 
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>公司资料</title> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter_ztr.css" /> 
  <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">

  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>

  <style type="text/css">
        #add_form{margin:0 auto;}
        #add_form table{width:100%;margin:0 auto;}
        #add_form .div_300{width: 100%;}
        #add_form .div_150{width: 100%;}

        #add_form .layui-table td{padding:5px 12px;border: 0px;}
        #add_form .layui-table td .images_box a{padding:5px;box-sizing:border-box;width: 25%;display: block;}
        #add_form .layui-table td .images_box a img{width: 100%;}
        #add_form .layui-table td .img_box a{padding:5px;box-sizing:border-box;width: 25%;display: block;}
        #add_form .layui-table td .img_box a img{width: 100%;}

        .layui-upload-icon{height: 34px;line-height: 25px;padding-top: 6px;}
  </style>
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/_header" />
  <!-- cr头部引用 -->
  <include file="Common/_cr_header" />
  
  <div class="elear" style="clear:both;"></div> 
  <div class="mion"> 
   <div class="mion_left"> 
      <!-- 左侧引用 -->
      <include file="Common/_left" />
   </div> 
   <style>
 
</style> 
   <div class="mion_right"> 
    <div class="content_box"> 
     <h4><span>公司资料</span></h4> 
    
      <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
         <table class="layui-table">
           <colgroup>
              <col width="20%">
              <col width="40%">
              <col>
           </colgroup>
           <tbody>
             <tr>
               <td colspan="2">
                  <div class="row image_box"></div>
               </td>
             </tr>
             <tr>
               <td align="center">公司优势：</td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                   <textarea name="company_youshi" placeholder="重点描述公司擅长办理业务及主营区域，35字内" class="layui-textarea">{$row.company_youshi}</textarea>
                 </div>
               </td>
             </tr>

             <tr>
               <td align="center"></td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                    <div class="layui-elem-quote" style="margin-top: 0px;border-left: 0px solid red;color: red;">
                      重点描述公司擅长办理业务及主营区域，35字内
                    </div>
                 </div>
               </td>
             </tr>

             <tr>
               <td align="center">公司介绍：</td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                   <textarea class="layui-textarea layui-hide content" placeholder="" name="company_introduction" lay-verify="content" id="editer_add">{$row.company_introduction}</textarea>
                 </div>
               </td>
             </tr>

             <tr>
               <td align="center"></td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                    <div class="layui-elem-quote" style="margin-top: 0px;border-left: 0px solid red;color: red;">
                      示例：创立时间：2013年公司描述：主要为建筑企业提供公司注册、代理记账、建筑企业资质申办服务。服务理念：因为专注所以专业，多年来，公司始终秉承“专业、高效、合作、双赢”的经营理念和精神，在业界树立了良好的口碑，并积累了丰富的行业经验，业务流程娴熟。
                    </div>
                 </div>
               </td>
             </tr>



             <tr>
               <td align="center">业务范围：</td>
               <td colspan="2">
                 <!-- <div class="layui-input-inline div_300">
                   <input type="radio" name="company_yewufanwei" class="unit" value="1273" title="资质代办" checked="">
                   <input type="radio" name="company_yewufanwei" class="unit" value="1273" title="资质代办" checked="">
                   <input type="radio" name="company_yewufanwei" class="unit" value="1273" title="资质代办" checked="">
                 </div> -->
                
                 <div class="layui-input-inline div_300">
                    <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                      请慎重选择，若经查实贵公司的实际业务范围不符，将存在被封号的可能且信誉等级减半。【最多选6项！】
                    </div>
                 </div>

                 <div class="layui-tab">
                   <ul class="layui-tab-title">
                     <li class="layui-this" data-value="" id="company_types_1">资质代办</li>
                     <li>安许办理</li>
                     <li>公司注册</li>
                     <li>寻证挂靠</li>
                   </ul>
                   <div class="layui-tab-content">
                     <div class="layui-tab-item layui-show">
                          
                          <table class="layui-table">
                              <foreach name="company_types_zzdb" item="vo">
                                    <if condition="count($vo['_child']) gt 0">
                                         <tr>
                                             <td align="center">
                                               <a class="layui-btn layui-btn-warm layui-btn-radius">{$vo['title']}</a>
                                             </td>
                                             <td colspan="2">
                                                  <div class="layui-input-inline div_300" id="type_1_box">
                                                       <foreach name="vo['_child']" item="v">
                                                           <input type="checkbox" data-value="{$v.id}" <if condition="in_array($v['id'],$row['_company_types_zzdb'])"> checked="checked" </if> lay-filter="company_types_zzdb" name="zzdb[{$v.id}]" title="{$v.title}">
                                                       </foreach>
                                                  </div>
                                             </td>
                                         </tr>
                                    </if>
                              </foreach>
                          </table>

                     </div>
                     <div class="layui-tab-item">

                          <table class="layui-table">
                                 <tr>
                                     <td align="center">
                                     </td>
                                     <td colspan="2">
                                          <div class="layui-input-inline div_300" id="type_2_box">
                                               <foreach name="company_types_axbl" item="v">
                                                   <input type="radio" value="{$v.id}" <if condition="in_array($v['id'],$row['_company_types_axbl'])"> checked="checked" </if> lay-filter="company_types_axbl" name="axbl" title="{$v.title}">
                                               </foreach>
                                          </div>
                                     </td>
                                 </tr>
                          </table>

                     </div>
                     <div class="layui-tab-item">
                          
                          <table class="layui-table">
                                 <tr>
                                     <td align="center">
                                     </td>
                                     <td colspan="2">
                                          <div class="layui-input-inline div_300" id="type_3_box">
                                               <foreach name="company_types_gszc" item="v">
                                                   <input type="checkbox" data-value="{$v.id}" <if condition="in_array($v['id'],$row['_company_types_gszc'])"> checked="checked" </if> lay-filter="company_types_gszc" name="gszc[{$v.id}]" title="{$v.title}">
                                               </foreach>
                                          </div>
                                     </td>
                                 </tr>
                          </table>

                     </div>
                     <div class="layui-tab-item">
                          
                          <table class="layui-table">
                                 <tr>
                                     <td align="center">
                                     </td>
                                     <td colspan="2">
                                          <div class="layui-input-inline div_300" id="type_4_box">
                                               <foreach name="company_types_xzgk" item="v">
                                                   <input type="checkbox" data-value="{$v.id}" <if condition="in_array($v['id'],$row['_company_types_xzgk'])"> checked="checked" </if> lay-filter="company_types_xzgk" name="xzgk[{$v.id}]" title="{$v.title}">
                                               </foreach>
                                          </div>
                                     </td>
                                 </tr>
                          </table>

                     </div>
                   </div>
                 </div>


               </td>
             </tr>


             <tr>
               <td align="center">服务区域：</td>
               <td>
                 <div class="layui-input-inline div_150">
                   <select name="company_service_province" class="province" lay-filter="province" lay-verify="required" >
                     <option value="">省/市</option>
                     <foreach name="province" item="v">
                         <option value="{$v['provinceid']}" <if condition="$v['provinceid'] eq $row['company_service_province']"> selected="selected" </if>>{$v['first_name']} {$v['province']}</option>
                     </foreach>
                   </select>
                 </div>
               </td>
               <td>
                 <div class="layui-input-inline div_150">
                   <select name="company_service_city" class="city" lay-filter="city" lay-verify="required" >
                     <option value="">市/地区</option>
                     <foreach name="city" item="v">
                         <option value="{$v['cityid']}" <if condition="$v['cityid'] eq $row['company_service_city']"> selected="selected" </if>>{$v['first_name']} {$v['city']}</option>
                     </foreach>
                   </select>
                 </div>
               </td>
             </tr>
             
             <tr>
               <td colspan="3">
                  <div class="row img_box">
                    <if condition="$row['company_logo']">
                        <img src="{$row['company_logo']}">
                    </if>
                  </div>
               </td>
             </tr>


             <tr>
               <td align="center">公司Logo：</td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                    <input type="file" id="add_upload_img" name="img" class="layui-upload-file" style="float:left;">
                    <label class="layui-form-label" style="float:right;width:auto;">支持最大2MB的jpg/png格式图片</label>
                 </div>
               </td>
             </tr>

             <tr>
               <td colspan="3">
                  <div class="row images_box">
                    <if condition="$row['_company_images']">
                        <foreach name="row['_company_images']" item="v">
                          <img src="{$v}">
                        </foreach>
                    </if>
                  </div>
               </td>
             </tr>

             <tr>
               <td align="center">公司图册：</td>
               <td colspan="2">
                 <div class="layui-input-inline div_300">
                    <input type="file" id="add_upload_images" name="images" class="layui-upload-file" style="float:left;">
                    <label class="layui-form-label" style="float:right;width:auto;">支持最大2MB的jpg/png格式图片</label>
                 </div>
               </td>
             </tr>

             <tr>
               <td align="center">热线联系人：</td>
               <td colspan="2">
                 <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                      <input type="text" name="contact_people" lay-verify="required" value="{$row.contact_people}" autocomplete="off" class="layui-input contact_people">
                    </div>
                 </div>
               </td>
             </tr>
             <tr>
               <td align="center"></td>
               <td colspan="2">
                 <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                      <input type="text" name="contact_phone" lay-verify="required" value="{$row.contact_phone}" autocomplete="off" class="layui-input contact_phone">
                    </div>
                 </div>
               </td>
             </tr>

             <tr>
               <td colspan="3">
                 <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                    此热线电话将作为公司与建筑企业沟通的24小时联系电话
                  </div>
               </td>
             </tr>

           </tbody>
           <tfoot>
             <tr>
               <td colspan="3" style="text-align:center;">
                 <input type="hidden" name="company_types_zzdb" value="{$row['company_types_zzdb']}" lay-verify="required" class="layui-input company_types_zzdb">
                 <input type="hidden" name="company_types_axbl" value="{$row['company_types_axbl']}" class="layui-input company_types_axbl">
                 <input type="hidden" name="company_types_xzgk" value="{$row['company_types_xzgk']}" class="layui-input company_types_xzgk">
                 <input type="hidden" name="company_types_gszc" value="{$row['company_types_gszc']}" class="layui-input company_types_gszc">
                 <input type="hidden" name="company_logo" value="{$row['company_logo']}" lay-verify="required" class="layui-input company_logo">
                 <input type="hidden" name="company_images" value="{$row['company_images']}" lay-verify="required" class="layui-input company_images">
                 <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1_add">保存</button>
               </td>
             </tr>
           </tfoot>
         </table>
      </form>
    </div> 
   </div> 
  
   <div class="elear" style="clear:both;"></div> 
  </div> 
  <div class="elear" style="clear:both;"></div> 
  <!-- 底部引用 -->
  <include file="Common/_footer" />
 </body>
</html>



<script>
    function _ajax_save_company_info(_data){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Agententer/ajax_save_company_info')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.reload();
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_get_city_select(provinceid){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_city_list')}",
            data:{
              provinceid:provinceid
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>市/地区</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                    });
                    $('#add_form .city').html(str);
                    layui.form().render();

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });
    }   

    layui.use(['form', 'layedit', 'layer', 'laydate', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;


      //上传文件
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .img_box').html(str);
              $('#add_form .company_logo').val(res.data.src);
           }
         }
      });


      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_images')}" //上传接口
         ,elem: '#add_upload_images' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .images_box').append(str);


              var arr=[];
              $.each($('#add_form .images_box img'), function(name, value){
                  console.log($(value).attr('src'));
                  arr.push($(value).attr('src'));
              });
              var arr2str=arr.join('#');
              $('#add_form .company_images').val(arr2str);
           }
         }
      });

      
      
      //上传图片接口：注意：layedit.set 一定要放在 build前面，否则配置全局接口将无效
      layedit.set({
          uploadImage: {
              url: "{:U('Home/Index/lay_upload_file')}", //接口url
              type: 'post', //默认post
          }
      });

      //创建一个编辑器
      var editIndex = layedit.build('editer_add');

      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      form.on('select(province)', function(data){
          var provinceid=data.value;
          if(provinceid){
              _ajax_get_city_select(provinceid);
          }
          return false;
      });

      form.on('checkbox(company_types_zzdb)', function(data){
          var temp=data.elem.name;
          var temp_1=temp.split('[');
          var temp_2=temp_1[1];
          var temp_3=temp_2.split(']');
          var type=temp_3[0];

          var company_types_zzdb=$('#add_form .company_types_zzdb').val();
          var old_arr=company_types_zzdb.split('#');
          if(data.elem.checked){
              var _str=$('#add_form .company_types_zzdb').val();
              var _arr=_str.split('#');
              if(_arr.length==1116){
                  alert('最多选6项！');return false;
              }

              //加
              if(company_types_zzdb==''){
                  var str=type;
                  $('#add_form .company_types_zzdb').val(str);
              }else{
                  var new_arr=company_types_zzdb.split('#');
                      new_arr.push(type);
                  var str=new_arr.join('#');
                  $('#add_form .company_types_zzdb').val(str);
                  if(new_arr.length==1116){
                      $.each($('#type_1_box input'), function(name ,value){
                          var t=$(value).attr('data-value');
                          
                          if($.inArray( t, new_arr )>=0){

                          }else{
                              $(value).attr('disabled', 'disabled');
                          }
                      });
                  }
              }
          }else{
              //减
              new_arr = $.grep(old_arr, function(value) {
                  return value != type;
              });
              var str=new_arr.join('#');
              $('#add_form .company_types_zzdb').val(str);

              $('#type_1_box input').removeAttr('disabled');

          }
          layui.form().render();
          return false;
      });

      form.on('radio(company_types_axbl)', function(data){
          var value=data.value;

          $('#add_form .company_types_axbl').val(value);
          return false;
      });

      form.on('checkbox(company_types_gszc)', function(data){
          var temp=data.elem.name;
          var temp_1=temp.split('[');
          var temp_2=temp_1[1];
          var temp_3=temp_2.split(']');
          var type=temp_3[0];

          var company_types_gszc=$('#add_form .company_types_gszc').val();
          var old_arr=company_types_gszc.split('#');
          if(data.elem.checked){
              var _str=$('#add_form .company_types_gszc').val();
              var _arr=_str.split('#');
              if(_arr.length==6){
                  alert('最多选6项！');return false;
              }

              //加
              if(company_types_gszc==''){
                  var str=type;
                  $('#add_form .company_types_gszc').val(str);
              }else{
                  var new_arr=company_types_gszc.split('#');
                      new_arr.push(type);
                  var str=new_arr.join('#');
                  $('#add_form .company_types_gszc').val(str);
                  if(new_arr.length==6){
                      $.each($('#type_3_box input'), function(name ,value){
                          var t=$(value).attr('data-value');
                          
                          if($.inArray( t, new_arr )>=0){

                          }else{
                              $(value).attr('disabled', 'disabled');
                          }
                      });
                  }
              }
          }else{
              //减
              new_arr = $.grep(old_arr, function(value) {
                  return value != type;
              });
              var str=new_arr.join('#');
              $('#add_form .company_types_gszc').val(str);

              $('#type_3_box input').removeAttr('disabled');

          }
          layui.form().render();
          return false;
      });

      form.on('checkbox(company_types_xzgk)', function(data){
          var temp=data.elem.name;
          var temp_1=temp.split('[');
          var temp_2=temp_1[1];
          var temp_3=temp_2.split(']');
          var type=temp_3[0];

          var company_types_xzgk=$('#add_form .company_types_xzgk').val();
          var old_arr=company_types_xzgk.split('#');
          if(data.elem.checked){
              var _str=$('#add_form .company_types_xzgk').val();
              var _arr=_str.split('#');
              if(_arr.length==6){
                  alert('最多选6项！');return false;
              }

              //加
              if(company_types_xzgk==''){
                  var str=type;
                  $('#add_form .company_types_xzgk').val(str);
              }else{
                  var new_arr=company_types_xzgk.split('#');
                      new_arr.push(type);
                  var str=new_arr.join('#');
                  $('#add_form .company_types_xzgk').val(str);
                  if(new_arr.length==6){
                      $.each($('#type_4_box input'), function(name ,value){
                          var t=$(value).attr('data-value');
                          
                          if($.inArray( t, new_arr )>=0){

                          }else{
                              $(value).attr('disabled', 'disabled');
                          }
                      });
                  }
              }
          }else{
              //减
              new_arr = $.grep(old_arr, function(value) {
                  return value != type;
              });
              var str=new_arr.join('#');
              $('#add_form .company_types_xzgk').val(str);

              $('#type_4_box input').removeAttr('disabled');

          }
          layui.form().render();
          return false;
      });
      

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _json=_ajax_save_company_info(data.field);
        return false;
      });
    });
</script>

<script>
layui.use('element', function(){
  var $ = layui.jquery
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  
  //触发事件
  var active = {
    tabAdd: function(){
      //新增一个Tab项
      element.tabAdd('demo', {
        title: '新选项'+ (Math.random()*1000|0) //用于演示
        ,content: '内容'+ (Math.random()*1000|0)
        ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
      })
    }
    ,tabDelete: function(othis){
      //删除指定Tab项
      element.tabDelete('demo', '44'); //删除：“商品管理”
      
      
      othis.addClass('layui-btn-disabled');
    }
    ,tabChange: function(){
      //切换到指定Tab项
      element.tabChange('demo', '22'); //切换到：用户管理
    }
  };
});
</script>