<html>
 <head> 
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>常见问题</title> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" /> 
  <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/_header" />
  <!-- cr头部引用 -->
  <include file="Common/_cr_header" />
  
  <div class="elear" style="clear:both;"></div> 
  <div class="mion"> 
   <div class="mion_left"> 
      <!-- 左侧引用 -->
      <include file="Common/_left" />
   </div> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css" /> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/broker.css" /> 
   <div class="mion_right"> 
    <div class="upload"> 
     <span>常见问题</span> 
     <ul> 
      <li> <img src="__PUBLIC__/Home/images/u4247.png" style="margin:0 10px 15px 0" /> 
       <lable class="lab">
        为什么我的公司信息没有在前台展示？
       </lable> </li> 
      <li> 
       <lable class="lab" style="margin-left:18px;">
        答：公司信息未在前台展示，可能存在以下情况：
       </lable> </li> 
      <li> 
       <lable class="lab" style="margin-left:50px;">
         第一，注册手机号是否完成验证。如未验证，可前往
        <a href="{:U('Home/Safetyset/index')}" style="font-size:16px;">账户安全</a>进行验证。
       </lable> </li> 
      <li> 
       <lable class="lab" style="margin-left:50px;">
        第二，公司是否已完成          
        <a href="{:U('Home/Company/companylicense')}" style="font-size:16px;">实名认证</a>。
       </lable> </li> 
      <li> 
       <lable class="lab" style="margin-left:50px;">
        第三，
        <a href="{:U('Home/Company/companyinfo')}" style="font-size:16px;">公司资料</a>是否完善。
       </lable> </li> 
      <li> 
       <lable class="lab" style="margin-left:50px;">
         第四，
        <a href="{:U('Home/Company/team')}" style="font-size:16px;">精英团队</a>是否添加至少1人作为热线联系人。
       </lable> </li> 
     </ul> 
    </div> 
   </div> 
   <div class="elear" style="clear:both;"></div> 
  </div> 
  <div class="elear" style="clear:both;"></div> 
  <!-- 底部引用 -->
  <include file="Common/_footer" />
 </body>
</html>