<html>
    
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" />
        <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" />
        <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
        <script src="__PUBLIC__/Home/js/push.js"></script>
        <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script>
    </head>
    
    <body>
        <!-- 头部引用 -->
        <include file="Common/_header" />
        <!-- cr头部引用 -->
        <include file="Common/_cr_header" />

        <div class="elear" style="clear:both;"></div>
        <div class="mion">
            <div class="mion_left">
                <!-- 左侧引用 -->
                <include file="Common/_left" />
            </div>
            <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/popup.css" />
            <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/caseinfo.css?v=20160530" />
            <div class="mion_right">
                <h4>
                    <span>精英团队</span>
                </h4>
                <div class="team_zs">
                    <a href="{:U('Home/Company/addteam')}" class="return">新增人员</a>
                    <ul>
                        <foreach name="list" item="v">
                            <li>
                                <div class="personnel">
                                    <div class="imgg">
                                        <img src="{$v.img}" />
                                        <if condition="$v.hot eq 1">
                                          <div style="color:#ff0000;">热线联系人</div>
                                        </if>
                                    </div>
                                    <div class="information_ry">
                                        <p>姓名：
                                            <b class="b1">{$v.truename}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从业经验：
                                            <b>{$v.chongyejingyan}</b>
                                        </p>
                                        <p>联系方式：
                                            <b>{$v.phone}</b>
                                        </p>
                                        <p>服务理念：
                                            <b>{$v.fuwulinian}</b>
                                        </p>
                                    </div>
                                    <div class="operation_ry">
                                        <a href="{:U('Home/Company/editteam',array('id'=>$v['id']))}">编辑</a>
                                        <a href="javascript:void(0)" class="a1 del_btn" data-id="{$v.id}">删除</a>
                                        <span style="text-align:center;color:#666;">审核中</span></div>
                                </div>
                            </li>
                        </foreach>
                    </ul>
                    <link href="__PUBLIC__/Home/css/Page.css" rel="stylesheet" type="text/css" />
                    <div class="pages">
                        <span>1</span>
                        <a class="a1 counts">共1条</a></div>
                </div>
            </div>
            <script type="text/javascript" src="__PUBLIC__/Home/js/team.js"></script>
            <div class="elear" style="clear:both;"></div>
        </div>
        <div class="elear" style="clear:both;"></div>
        <!-- 底部引用 -->
        <include file="Common/_footer" />
    </body>

</html>