
<?php 
    $safe_type_1=M('Type')->where(array('pid'=>1377))->select();//办理类型
    $safe_type_2=M('Type')->where(array('pid'=>1378))->select();//资质情况
    $safe_type_3=M('Type')->where(array('pid'=>1379))->select();//人员情况
?>
<style type="text/css">
    #baojia_form table{width: 300px;background: none;}
    #baojia_form .div_300{width: 100%;}
    #baojia_form .div_150{width: 125px;}
    #baojia_form .div_180{width: 150px;}

    #baojia_form .layui-table td{padding:5px 12px;border: 0px;}

    #zhizgj_left{height: auto!important;}

    /*.anz_xiad_left{background: url(__PUBLIC__/Home/images/zizdb_xiad_bj.png) repeat-y 100% 100% !important;}*/
</style>

<div class="sec_topr_bd"> 
 <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 


 <div id="zhizgj_left" class="anz_xiad_left" style="top: 0px;background: #696CED!important;">
  <div>
    <img src="__PUBLIC__/Home/images/anzheng.jpg">
  </div> 
  <div class="mfhqbj an_mfhqbj"> 
   <div class="mfhqbj_num"> 
    <em>万元</em> 
    <div class="mfhqbj_jiagesz"> 
     <span class="mfhqbj_jiagesz_box">13.9</span> 
     <span class="mfhqbj_jiagesz_box">17.8</span> 
     <span class="mfhqbj_jiagesz_box">6.8</span> 
     <span class="mfhqbj_jiagesz_box">33.6</span> 
     <span class="mfhqbj_jiagesz_box">16.4</span> 
     <span class="mfhqbj_jiagesz_box">18.1</span> 
     <span class="mfhqbj_jiagesz_box">37.5</span> 
     <span class="mfhqbj_jiagesz_box">12.1</span> 
     <span class="mfhqbj_jiagesz_box">13.9</span> 
    </div> 
    <em>最近成交价</em> 
   </div> 
  </div> 
  

    <!-- 表单开始 -->
    <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="baojia_form" enctype="multipart/form-data">
        <table class="layui-table">
          <colgroup>
              <col width="50%">
              <col>
          </colgroup>
          <tbody>

            <tr>
              <td colspan="2">
                <div class="layui-input-inline div_300">
                  <select name="type_1" class="type_1" lay-filter="type_1" lay-verify="required" >
                    <option value="">办理类型</option>
                    <foreach name="safe_type_1" item="v">
                        <option value="{$v['id']}">{$v['title']}</option>
                    </foreach>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div class="layui-input-inline div_300">
                  <select name="type_2" class="type_2" lay-filter="type_2" lay-verify="required" >
                    <option value="">资质情况</option>
                    <foreach name="safe_type_2" item="v">
                        <option value="{$v['id']}">{$v['title']}</option>
                    </foreach>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div class="layui-input-inline div_300">
                  <select name="type_3" class="type_3" lay-filter="type_3" lay-verify="required" >
                    <option value="">人员情况</option>
                    <foreach name="safe_type_3" item="v">
                        <option value="{$v['id']}">{$v['title']}</option>
                    </foreach>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="layui-input-inline div_150">
                  <select name="province" class="province" lay-filter="_province" lay-verify="required" >
                    <option value="">省/市</option>
                    <foreach name="province" item="v">
                        <option value="{$v['provinceid']}">{$v['first_name']} {$v['province']}</option>
                    </foreach>
                  </select>
                </div>
              </td>
              <td>
                <div class="layui-input-inline div_150">
                  <select name="city" class="city" lay-filter="city" lay-verify="required" >
                    <option value="">市/地区</option>
                  </select>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <div class="layui-input-inline div_300">
                  <input type="tel" name="phone" lay-verify="phone" placeholder="填写手机号码，轻松获精准报价" class="layui-input phone_2">
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="layui-input-inline div_180">
                  <input type="text" name="code" autocomplete="off" placeholder="手机验证码" class="layui-input code" id="phone_code_2">
                </div>
                <label class="layui-form-label no" id="btn_verify_2" style="float:right;width:103px;">获取验证码</label>
              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" style="text-align:center;">
                 <input type="hidden" name="type" value='2' placeholder="安证代办" autocomplete="off" class="layui-input">
                 <input value="免费获取精准报价" lay-submit="" lay-filter="demo1_apply_safe" class="btn btn-primary btn-large" />
              </td>
            </tr>
          </tfoot>
        </table>

        <script type="text/javascript">
            $(function(){
                _init_safe();

                $('#phone_code_2').blur(function(){
                    var phone=$('.phone_2').val();
                    var code=$(this).val();
                    if(code && phone){
                        _ajax_check_code(code, phone);
                    }
                });

                $('.phone_2').blur(function(){
                    var phone=$(this).val();
                    if(_isPhoneNo(phone)){
                        $('#btn_verify_2').removeClass('no');
                    }
                });

                $('#btn_verify_2').click(function(){
                    var phone=$('.phone_2').val();
                    if(!isPhoneNo(phone)){
                        alert('请填写正确的手机号码');return;
                    }

                    if($(this).hasClass('no')){

                    }else{
                        if($(this).html()=='获取验证码'){
                            var phone=$('.phone_2').val();
                            _ajax_get_code(phone);
                            new invokeSettime("#btn_verify_2");
                        }
                    }
                });
            });
        </script>


        <script type="text/javascript">
          function _invokeSettime(obj){
              var countdown=60;
              settime(obj);
              function settime(obj) {
                  if (countdown == 0) {
                      $(obj).attr("disabled",false);
                      $(obj).text("获取验证码");
                      countdown = 60;
                      return;
                  } else {
                      $(obj).attr("disabled",true);
                      $(obj).text("(" + countdown + ") s 重新发送");
                      countdown--;
                  }
                  setTimeout(function() {
                      settime(obj) }
                  ,1000)
              }
          }

          // 验证手机号 
          function _isPhoneNo(phone) {
              var pattern = /^1[34578]\d{9}$/;
              return pattern.test(phone);
          }
        </script>

        <script>
            function _ajax_apply_safe(_data){
                 $.ajax({  
                     async:false,
                     type:'post',  
                     contentType:"application/x-www-form-urlencoded",
                     url : "{:U('Home/Index/ajax_apply_baojia')}",
                     data: _data,
                     dataType : 'json',
                     success  : function(json) {
                         if(json.code==0){
                             alert(json.msg);
                             window.location.reload();
                         }else{
                             alert(json.msg);
                         }
                     },
                     error  : function() {  
                         alert('error');
                     }  
                 }); 
            }

            function _ajax_get_code(phone){
                 $.ajax({  
                     async:false,
                     type:'post',  
                     contentType:"application/x-www-form-urlencoded",
                     url : "{:U('Home/User/getvalidatecode')}",
                     data: {
                        phone:phone
                     },
                     dataType : 'json',
                     success  : function(json) {
                         if(json.IsSuccess==true){
                             alert('验证码发送成功,请查收');
                         }else{
                             alert(json.Msg);
                         }
                     },
                     error  : function() {  
                         alert('error');
                     }  
                 }); 
            }

            function _ajax_check_code(code){
                 $.ajax({  
                     async:false,
                     type:'get',  
                     contentType:"application/x-www-form-urlencoded",
                     url : "{:U('Home/Index/ajax_check_code')}",
                     data: {
                        code:code
                     },
                     dataType : 'json',
                     success  : function(json) {
                         if(json.code==0){
                             alert(json.msg);
                         }else{
                             alert(json.msg);
                         }
                     },
                     error  : function() {  
                         alert('error');
                     }  
                 }); 
            }

            function _init_safe(){
                layui.use(['form', 'layer'], function(){
                  var form = layui.form()
                  ,layer = layui.layer
                  
                  form.on('select(_province)', function(data){
                      var provinceid=data.value;
                      if(provinceid){
                          _ajax_get_city_select_for_safe(provinceid);
                      }
                      return false;
                  });

                  //监听提交
                  form.on('submit(demo1_apply_safe)', function(data){
                    // console.log(data.field);
                    var _json=_ajax_apply_safe(data.field);
                    return false;
                  });
                });
            }

            function _ajax_get_city_select_for_safe(provinceid){
                $.ajax({  
                    async:false,
                    type:'get',  
                    contentType:"application/x-www-form-urlencoded",
                    url : "{:U('Home/Index/ajax_get_city_list')}",
                    data:{
                      provinceid:provinceid
                    },
                    dataType : 'json',
                    success  : function(json) {  
                        if(json.code==0){
                            var data=json.data;

                            var str="<option value=''>市/地区</option>";
                            $.each(json.data, function(key, value) {
                                 str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                            });
                            $('#baojia_form .city').html(str);
                            layui.form().render();

                        }else{
                            layer.msg(json.msg);
                        }
                    },
                    error  : function(json) {  
                        layer.msg(json.msg);
                    }  
                });
            }   
        </script>

     </form>
    <!-- 表单结束 -->


 </div> 


<?php 
    $the_company_list=D('User')->where(array('gid'=>33))->limit(6)->select();
?>

 </div> 
 <!-- 管家推荐 --> 
 <div class="guanj_Recommend"> 
  <h2>管家推荐</h2> 
  <div class="guanj_Recommend_list"> 
   <ul> 
       <foreach name="the_company_list" item="v">
          <li> <img alt="{$v.company_name}" src="{$v.company_logo}" /> <span class="guanj_tuij_name">{$v.company_name}</span> 
           <div class="guanjia_tuij_zhubyw"> 
            <p class="tuij_diq">{$v.company_address}</p> 
            <p>施工总承包</p> 
            <p>专业承包</p> 
            <p><a href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}" title="{$v.company_name}">免费获取报价</a></p> 
           </div> </li> 
       </foreach>
   </ul> 
  </div> 
 </div> 


<if condition="$_SERVER['PATH_INFO'] eq 'Index/daiban'">
    <div class="zgs_clr_fc"> 
     <span class="zcf_title">如何选择资质代办公司？</span> 
     <ul> 
      <li> <span class="zcf_kxy"></span> <b>看口碑</b> <em>数万家企业真实见证</em> </li> 
      <li> <span class="zcf_bfa"></span> <b>比方案</b> <em>注册/安证方案鼎力支持</em> </li> 
      <li> <span class="zcf_bbj"></span> <b>比报价</b> <em>多家报价横向对比 0水分</em> </li> 
      <li> <span class="zcf_bbz"></span> <b>比保障</b> <em>规模/案例 实力应证</em> </li> 
     </ul> 
    </div> 
</if>
 
<?php 
    $the_latest_news=M('Article')->order('time desc')->limit(8)->select();
?>

 <div class="right-bd" style="margin-top:0px;background:none"> 
  <div class="right-bd-p"> 
   <p>最新行业资讯</p> 
   <span><a href="{:U('Home/Index/news',array('type'=>1351))}" title="查看更多最新文章" rel="nofollow">更多</a></span> 
  </div> 
  <ul> 
    <foreach name="the_latest_news" item="v">
        <li>
            <if condition="$key lt 3">
                <span>0{$key+1}</span>
            <else/>
                <span class="span1">0{$key+1}</span>
            </if>
            <a href="{:U('Home/Index/news_detail',array('id'=>$v['id']))}" title="{$v.title}">{$v.title}</a>
        </li> 
    </foreach>
  </ul> 
 </div> 
</div>  














































