<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>公司简介</title> 
  <meta name="keywords" content="建筑管家-公司简介" /> 
  <meta name="description" content="建筑管家-公司简介" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
   
  
  
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于建筑管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <div class="about_left" style="margin:25px 25px 0 25px;"> 
      <div class="about_center_title"> 
       <h5 class="noBold" style="font-weight:bold; color:#333;">公司介绍<span>Company</span></h5> 
      </div> 
      <p style="margin-top:18px;line-height:27px"> 建筑管家（jianzhuguanjia.com）是国内首家建筑行业垂直领域的服务平台，创立于2013年，隶属于天津文瑞企业管理咨询有限公司。致力于为建筑行业创业者及中小建筑企业提供高效的、低价、专业的在线服务。 </p> 
      <p style="line-height:27px"> 建筑管家是国内首家垂直于建筑行业服务的网络平台，主要为建筑企业提供公司注册、代理记账服务、建筑企业资质申办服务。利用互联网技术开创建筑行业的电商模式，开拓整合 行业的资源，信息化对接客户需求，构建智能化在线资质报价系统，让创业及小微企业享受成本更低、效率更高、专业更强的服务。 </p> 
     </div> 
     <div class="yewu" style="margin:0 25px;">
      <p style="font-size:18px;">业务范围<span style="font-size:12px; line-height:40px;">&nbsp;/&nbsp;Business Scope</span></p>
     </div> 
     <p style="line-height:27px;margin:15px  25px 0px"> <b>注册公司</b><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 提供建筑行业最专业的注册公司服务，专人全程办理，足不出户快速开公司;<br /> </p> 
     <p style="line-height:27px;margin:0 25px;"> <b>代理记账</b><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 从事于建筑行业多年的认证会计团队为建筑企业提供财会相关的咨询、记账、报税等专业服务; </p> 
     <p style="line-height:27px;margin:0 25px;"> <b>代办资质</b><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 为建筑企业提供建委资质的咨询顾问服务，代理申报各类建筑企业资质、建筑安全生产许可证办理、设计施工一体化资质办理、房地产资质办理、物业资质办理等相关专业的资质。 </p> 
     <div class="about_center_title" style="margin:0 25px;"> 
      <h5 class="noBold" style="margin-top:30px; color:#333; font-weight:bold;">我们的优势<span>Our advantage</span></h5> 
     </div> 
     <p style="margin:0 25px;">在过去的几年里，建筑管家与建设部、北京市建委以及各区建委等政府相关部门有着良好的合作关系，同时也积累了丰厚的建筑企业资源以及建筑人才数据，成立至今，为来自全国的3000多家建筑企业以及7000多名建筑业注册类高级人才提供了专业的服务，赢得了一系列行业客户的高度认可和好评！并与其中近150家建筑企业签订了长期的战略合作协议。</p> 
     <div class="tu1" style="width:920px; margin:30px 25px 0 25px;"> 
      <img src="__PUBLIC__/Home/images/ping-img.jpg" style="width:100%;height: auto;" /> 
     </div> 
     <div class="about_center_title" style="margin:0 25px;"> 
      <h5 class="noBold" style="margin-top:30px; color:#333; font-weight:bold;">公司资质<span>Company qualification</span></h5> 
     </div> 
     <p style="margin:0 25px;">建筑管家通过运用数据化管理的方式，建立了标准化的企业服务和人才服务流程，在每一个服务环节上都设立了严格的管理标准，同时，把与政府部门以及企业职能部门之间的对接程序模块化，从而保证在企业服务、人才匹配、政府对接的过程中，做了到需求分析准确、报价细致真实、操作专业规范、服务快速高效。</p> 
     <div class="tu" style="width:900px; margin:30px 25px 0 25px;text-align:center;"> 
      <img src="__PUBLIC__/Home/images/yingye.jpg" style="margin-left:5px;" /> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
 
 </body>
</html>