<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质标准</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/baike/" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/baike/" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/baike/" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/base.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/company1.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/tag.css" /> 
  <link href="__PUBLIC__/Home/css/IndexReg.css" rel="stylesheet" /> 
  <style>
    #zhizgj_left {
        float: none !important;
        background: url(__PUBLIC__/Home/images/zzdd_right_img.jpg) #ffcc33 no-repeat;
        background-position: 0 100%;
        background-size: 300px 104px;
    }

    .right-bd {
        background: #fff !important;
        margin-top: 10px !important;
    }
</style> 
  <div class="details-bg-dis"> 
   <div class="details-nav"> 
    <h2> 
     <ul class="yiji_ul"> 
      <li>您当前的位置：</li> 
      <li><a href="http://www.zizhiguanjia.com/" title="建筑管家">建筑管家</a></li> 
      <li><span> &gt; </span></li> 
      <li><a href="zizhibiaozhun.html" title="资质百科">资质百科</a></li> 
     </ul> </h2> 
   </div> 
   <div class="container"> 
    <div class="company_l"> 
     <form id="publish_form" method="post" name="publish_form"> 
      <div class="zizbk-content"> 
        
        <foreach name="list_1" item="vo">
            <div class="zizbk_zizfl"> 
             <h2 class="zizfl_title"><img src="__PUBLIC__/Home/images/u754.png" />{$vo.title}</h2> 
             <ul class="zizfl-list"> 
                <foreach name="vo['_child']" item="v">
                    <li><a href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">{$v.title}</a><if condition="$v['hot'] eq 1"><span class="zzbk_hot"></span></if></li> 
                </foreach>
                <div class="clear"></div> 
             </ul> 
            </div>
        </foreach>
        
        <foreach name="list_2" item="vo">
            <div class="zizbk_zizfl_xiangq"> 
             <h2 class="zizfl_xiangq_title"><span>{$vo.title}</span></h2> 
             <ul class="zizfl_xiangq_list"> 
                <foreach name="vo['_child']" item="v">
                  <li><a href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">{$v.title}</a><if condition="$v['hot'] eq 1"><span class="zzbk_hot"></span></if></li> 
                </foreach>
                <div class="clear"></div> 
             </ul> 
            </div> 
        </foreach>

    
       <div class="zizbk_rmbq"> 
        <h2 class="zizbk_rmbq_title">热门标签<img src="__PUBLIC__/Home/images/zzbk-hot.png" /></h2> 
        <ul class="zizbk_rmbq_list"> 
          <foreach name="hot_tags" item="v">
              <li><a href="{:U('Home/Index/news_relevant',array('tags'=>$v['id']))}">{$v.title}</a></li> 
          </foreach>
         <div class="clear"></div> 
        </ul> 
       </div> 
       <div class="footer-link clear" style="width:840px; margin-top:20px;display: none;"> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">热门城市 :</span> 
         <div style="display:block;margin-left:63px;"> 
          <ul> 
            <foreach name="hot_province" item="v">
                <li style="margin-left: 25px; float: left;"><a target="_blank" title="{$v['province']}资质代办" href="{:U('Home/Index/daiban',array('province'=>$v['provinceid']))}">{$v['province']}资质代办</a></li> 
            </foreach>
          </ul> 
         </div> 
        </div> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">友情链接 :</span> 
         <div style="display:block;margin-left:63px"> 
          <ul> 
          </ul> 
         </div> 
        </div> 
       </div> 
      </div> 
     </form> 
    </div> 
    <div class="details-cons"> 
     <div class="sec_topr_bd" id="fixed-block"> 
      <img src="__PUBLIC__/Home/images/banlzz.gif" /> 
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
      <div id="zhizgj_left"> 
          <!-- 右侧引用 -->
          <include file="_company_r_daiban" />
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 头部引用 -->
  <include file="Common/footer" />



  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/area_data.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/Area.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/index_reg.js?v=20151110"></script> 
  <script src="__PUBLIC__/Home/js/subject_data.js"></script> 
  <script src="__PUBLIC__/Home/js/subject_data_method.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>
 </body>
</html>

<script type="text/javascript">
    $(function(){
        init_editer();

        $('#phone_code').blur(function(){
            var code=$(this).val();
            if(code.length==4){
                _ajax_check_code(code);
            }
        });
    });
</script>

<script>
    function _ajax_apply_baojia(_data){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_apply_baojia')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_check_code(code){
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_check_code')}",
             data: {
                code:code
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function init_editer(){
        layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
          var form = layui.form()
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;

          //自定义验证规则
          form.verify({
            title: function(value){
              if(value.length < 5){
                return '标题至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          });

          form.on('select(province)', function(data){
              var provinceid=data.value;
              if(provinceid){
                  _ajax_get_city_select(provinceid);
              }
              return false;
          });

          form.on('select(type_1)', function(data){
              var type_1=data.value;
              if(type_1){
                  _ajax_get_type_2_select(type_1);
              }
              return false;
          });

          form.on('select(type_2)', function(data){
              var type_2=data.value;
              if(type_2){
                  _ajax_get_type_3_select(type_2);
              }
              return false;
          });

          //监听提交
          form.on('submit(demo1_apply_baojia)', function(data){
            // console.log(data.field);
            var _json=_ajax_apply_baojia(data.field);
            return false;
          });
        });
    }

    function _ajax_get_city_select(provinceid){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_city_list')}",
            data:{
              provinceid:provinceid
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>市/地区</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                    });
                    $('#baojia_form .city').html(str);
                    layui.form().render();

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });
    }   

    function _ajax_get_type_2_select(type_1) {
        $.ajax({
            async: false,
            type: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "{:U('Home/Index/ajax_get_type_list')}",
            data: {
                type: type_1
            },
            dataType: 'json',
            success: function(json) {
                if (json.code == 0) {
                    var data = json.data;

                    var str = "<option value=''>资质专业</option>";
                    $.each(json.data,
                    function(key, value) {
                        str += "<option value='" + value.id + "'>" + value.title + "</option>";
                    });

                    $('#baojia_form .type_2').html(str);
                    layui.form().render();
                } else {
                    layer.msg(json.msg);
                }
            },
            error: function(json) {
                layer.msg(json.msg);
            }
        });
    }

    function _ajax_get_type_3_select(type_2) {
        $.ajax({
            async: false,
            type: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "{:U('Home/Index/ajax_get_type_list')}",
            data: {
                type: type_2
            },
            dataType: 'json',
            success: function(json) {
                if (json.code == 0) {
                    var data = json.data;

                    var str = "";
                    $.each(json.data,
                    function(key, value) {
                        str += "<option value='" + value.id + "'>" + value.title + "</option>";
                    });

                    $('#baojia_form .type_3').html(str);
                    layui.form().render();
                } else {
                    layer.msg(json.msg);
                }
            },
            error: function(json) {
                layer.msg(json.msg);
            }
        });
    }
</script>