<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质标准</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/baike/" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/baike/" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/baike/" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/base.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/company1.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/tag.css" /> 
  <link href="__PUBLIC__/Home/css/IndexReg.css" rel="stylesheet" /> 
  <style>
    #zhizgj_left {
        float: none !important;
        background: url(__PUBLIC__/Home/images/zzdd_right_img.jpg) #ffcc33 no-repeat;
        background-position: 0 100%;
        background-size: 300px 104px;
    }

    .right-bd {
        background: #fff !important;
        margin-top: 10px !important;
    }
    .li_1,.li_2,.li_3,.li_4{display: none;}
</style> 
  <div class="details-bg-dis"> 
   <!-- <div class="details-nav"> 
    <h2> 
     <ul class="yiji_ul"> 
      <li>您当前的位置：</li> 
      <li><a href="" title="建筑管家">建筑管家</a></li> 
      <li><span> &gt; </span></li> 
      <li><a href="" title="资质百科">资质百科</a></li> 
     </ul> </h2> 
   </div>  -->
   <div class="container"> 
    <div class="company_l"> 
     <form id="publish_form" method="post" name="publish_form"> 
      <div class="zizbk-content"> 
      
        <foreach name="list_1" item="vo">
            <div class="zizbk_zizfl li_{$key+1}"> 
             <h2 class="zizfl_title"><img src="__PUBLIC__/Home/images/u754.png" />{$vo.title}</h2> 
             <ul class="zizfl-list"> 
                <foreach name="vo['_child']" item="v">
                    <li><a href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">{$v.title}</a><if condition="$v['hot'] eq 1"><span class="zzbk_hot"></span></if></li> 
                </foreach>
                <div class="clear"></div> 
             </ul> 
            </div>
        </foreach>
        
        <foreach name="list_2" item="vo">
            <div class="zizbk_zizfl_xiangq"> 
             <h2 class="zizfl_xiangq_title"><span>{$vo.title}</span></h2> 
             <ul class="zizfl_xiangq_list"> 
                <foreach name="vo['_child']" item="v">
                  <li><a href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">{$v.title}</a><if condition="$v['hot'] eq 1"><span class="zzbk_hot"></span></if></li> 
                </foreach>
                <div class="clear"></div> 
             </ul> 
            </div> 
        </foreach>

    
       <div class="zizbk_rmbq"> 
        <h2 class="zizbk_rmbq_title">热门标签<img src="__PUBLIC__/Home/images/zzbk-hot.png" /></h2> 
        <ul class="zizbk_rmbq_list"> 
          <foreach name="hot_tags" item="v">
              <li><a href="{:U('Home/Index/news_relevant',array('tags'=>$v['id']))}">{$v.title}</a></li> 
          </foreach>
         <div class="clear"></div> 
        </ul> 
       </div> 
       <div class="footer-link clear" style="width:840px; margin-top:20px;display: none;"> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">热门城市 :</span> 
         <div style="display:block;margin-left:63px;"> 
          <ul> 
            <foreach name="hot_province" item="v">
                <li style="margin-left: 25px; float: left;"><a target="_blank" title="{$v['province']}资质代办" href="{:U('Home/Index/daiban',array('province'=>$v['provinceid']))}">{$v['province']}资质代办</a></li> 
            </foreach>
          </ul> 
         </div> 
        </div> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">友情链接 :</span> 
         <div style="display:block;margin-left:63px"> 
          <ul> 
          </ul> 
         </div> 
        </div> 
       </div> 
      </div> 
     </form> 
    </div> 
    <div class="details-cons"> 
     <div class="sec_topr_bd" id="fixed-block"> 
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
      <div id="zhizgj_left"> 
          <!-- 右侧引用 -->
          <include file="_company_r_daiban" />
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 头部引用 -->
  <include file="Common/footer" />



  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/area_data.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/Area.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/index_reg.js?v=20151110"></script> 
  <script src="__PUBLIC__/Home/js/subject_data.js"></script> 
  <script src="__PUBLIC__/Home/js/subject_data_method.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>
 </body>
</html>