<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质详情</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
  <script src="__PUBLIC__/Home/js/push.js"></script>
  <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script src="__PUBLIC__/Home/js/share.js?v=89860593.js?cdnversion=416661"></script>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/share_style0_16.css?v=6aba13f0.css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/share_popup.css?v=240f357d.css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/select_share.css?v=15f56735.css" />
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/css.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tag.css" /> 
  <div class="zsbase" style="padding:0px"> 
   <div class="details-nav"> 
    <h2> 
     <ul class="yiji_ul" style="padding-top:8px;"> 
      <li>您当前的位置：</li> 
      <li><a href="http://www.zizhiguanjia.com" title="建筑管家">建筑管家</a></li> 
      <li><span> &gt; </span></li> 
      <li><a href="http://www.zizhiguanjia.com/zzbz" title="资质标准">资质标准</a></li> 
      <li> <span> &nbsp;&nbsp;&nbsp;&gt; </span> </li> 
      <li><em>施工专业承包资质</em></li> 
     </ul> </h2> 
   </div> 
   <div class="zsbase-con"> 
    <div class="zzdb_xiangq_left"> 
     <div class="main content" style="width:230px;"> 
      <div class="left-sider"> 
       <div class="operate" id="show"> 
        <h3>资质标准查询</h3> 
        <ul id="juheweb"> 
            <foreach name="type" item="vo">
                <li class="selected">
                    <h4 class="" id="bg" onclick="cut(this,{$vo['id']});">
                        <a href="javascript:;">{$vo.title}</a></h4>
                    <div class="list-item none" style="display:none;">
                        <foreach name="vo['_child']" item="v">
                            <a href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">
                                <p>{$v.title}</p>
                            </a>
                        </foreach>
                        <p>
                            <a style="color:#ff0000;" href="{:U('Home/Index/baike')}">更多专业&gt;&gt;</a>
                        </p>
                    </div>
                </li>
            </foreach>
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="details-con" style="width:973px;float:right;"> 
     <h1>{$row.title}</h1> 
     <div class="details-tag"> 
      <span>关键字： 点击：
       <lable id="hits">
        {$row.eye}
       </lable>次 </span> 
     </div> 
     <div class="cont"> 
          {$row.content}
     </div> 
     <!--百度分享代码--> 
     <div class="bdsharebuttonbox bdshare-button-style0-16" style="padding-left:30px;" data-bd-bind="1499983609644">
      <label style="font-size:13px;float:left;padding:10px; margin-top:-5px;">分享到:</label>
      <a href="javascript:void(0)" class="bds_more" data-cmd="more"></a>
      <a href="javascript:void(0)" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
      <a href="javascript:void(0)" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
      <a href="javascript:void(0)" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
     </div> 
     <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

     <div class="index">
      <a href="{:U('Home/Index/index')}" title="建筑管家">返回建筑管家首页</a>
     </div> 
     <div class="details-dt">
       上一篇： 
      <a href="{:U('Home/Index/baike_detail',array('id'=>$prev['id']))}" title="{$prev['title']}">{$prev['title']}</a> 
      <br /> 下一篇： 
      <a href="{:U('Home/Index/baike_detail',array('id'=>$next['id']))}" title="{$next['title']}">{$next['title']}</a>
      <br /> 
     </div> 
     <div style="width: auto; overflow:auto;" class="details-conbd"> 
      <p style="width:auto">您可继续浏览<a title="施工专业承包资质" href="http://www.zizhiguanjia.com/zzbz/2.html">【施工专业承包资质】</a>的相关内容：</p> 
      <foreach name="list" item="v">
          <ul style="width:435px; float:left;"> 
              <li><a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}">{$v.title}</a> <span>{$v.time|date="Y-m-d H:i",###}</span></li> 
          </ul> 
      </foreach>
      
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
 
  <!-- 头部引用 -->
  <include file="Common/footer" />

  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/certificate.js"></script> 

   <script>
        function cut(obj, id) {
            if ($(obj).next().is(":hidden")) {
                $(obj).next().show();
                if (id == 1 || id == 2 || id == 201) {
                    $(obj).attr("id", "bg1");
                }
            } else {
                $(obj).next().hide();
                if (id == 1 || id == 2 || id == 201) {
                    $(obj).attr("id", "bg");
                }
            }
        }
    </script>
 </body>
</html>