<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质详情</title> 
  <meta name="keywords" content="施工专业承包资质,施工专业承包资质标准" /> 
  <meta name="description" content="资质管家是一家拥有上千家正规资质代办公司的平台，想了解施工专业承包资质，施工专业承包资质标准就上资质管家。" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zzbz/2.html" /> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
  <script src="__PUBLIC__/Home/js/push.js"></script>
  <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script src="__PUBLIC__/Home/js/share.js?v=89860593.js?cdnversion=416661"></script>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/share_style0_16.css?v=6aba13f0.css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/share_popup.css?v=240f357d.css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/select_share.css?v=15f56735.css" />
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/css.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tag.css" /> 
  <div class="zsbase" style="padding:0px"> 
   <div class="details-nav"> 
    <h2> 
     <ul class="yiji_ul" style="padding-top:8px;"> 
      <li>您当前的位置：</li> 
      <li><a href="http://www.zizhiguanjia.com" title="资质管家">资质管家</a></li> 
      <li><span> &gt; </span></li> 
      <li><a href="http://www.zizhiguanjia.com/zzbz" title="资质标准">资质标准</a></li> 
      <li> <span> &nbsp;&nbsp;&nbsp;&gt; </span> </li> 
      <li><em>施工专业承包资质</em></li> 
     </ul> </h2> 
   </div> 
   <div class="zsbase-con"> 
    <div class="zzdb_xiangq_left"> 
     <div class="main content" style="width:230px;"> 
      <div class="left-sider"> 
       <div class="operate" id="show"> 
        <h3>资质标准查询</h3> 
        <ul id="juheweb"> 
            <li class="selected">
                <h4 class="" id="bg" onclick="cut(this,1);">
                    <a href="http://www.zizhiguanjia.com/zzbz/1.html">施工总承包资质</a></h4>
                <div class="list-item none" style="display:none;">
                    <a href="http://www.zizhiguanjia.com/zzbz/54.html">
                        <p>建筑工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/58.html">
                        <p>市政公用工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/56.html">
                        <p>机电工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/112.html">
                        <p>矿山工程</p>
                    </a>
                    <p>
                        <a style="color:#ff0000;" href="zizhibiaozhun.html">更多专业&gt;&gt;</a></p>
                </div>
            </li>
            <li class="selected">
                <h4 class="on" id="bg1" onclick="cut(this,2);">
                    <a href="http://www.zizhiguanjia.com/zzbz/2.html">施工专业承包资质</a></h4>
                <div class="list-item none" style="display:block;">
                    <a href="http://www.zizhiguanjia.com/zzbz/75.html">
                        <p>防水防腐保温工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/65.html">
                        <p>建筑装修装饰工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/67.html">
                        <p>建筑幕墙工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/73.html">
                        <p>电子与智能化工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/111.html">
                        <p>消防设施工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/60.html">
                        <p>地基基础工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/64.html">
                        <p>钢结构工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/80.html">
                        <p>建筑机电安装工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/110.html">
                        <p>输变电工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/72.html">
                        <p>环保工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/52.html">
                        <p>特种工程</p>
                    </a>
                    <a href="http://www.zizhiguanjia.com/zzbz/26.html">
                        <p>模板脚手架</p>
                    </a>
                    <p>
                        <a style="color:#ff0000;" href="zizhibiaozhun.html">更多专业&gt;&gt;</a></p>
                </div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,3);">
                    <a href="http://www.zizhiguanjia.com/zzbz/3.html">施工劳务承包资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,116);">
                    <a href="http://www.zizhiguanjia.com/zzbz/116.html">安全生产许可证</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,201);">
                    <a href="http://www.zizhiguanjia.com/zzbz/201.html">工程设计综合资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,114);">
                    <a href="http://www.zizhiguanjia.com/zzbz/114.html">工程勘察综合资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,102);">
                    <a href="http://www.zizhiguanjia.com/zzbz/102.html">工程监理综合资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,113);">
                    <a href="http://www.zizhiguanjia.com/zzbz/113.html">工程造价咨询资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,115);">
                    <a href="http://www.zizhiguanjia.com/zzbz/115.html">安防工程资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,117);">
                    <a href="http://www.zizhiguanjia.com/zzbz/117.html">承装电力设施许可证</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,302);">
                    <a href="http://www.zizhiguanjia.com/zzbz/302.html">房地产开发企业资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,303);">
                    <a href="http://www.zizhiguanjia.com/zzbz/303.html">房地产经纪机构资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,301);">
                    <a href="http://www.zizhiguanjia.com/zzbz/301.html">物业服务企业资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,211);">
                    <a href="http://www.zizhiguanjia.com/zzbz/211.html">环境影响评价资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,402);">
                    <a href="http://www.zizhiguanjia.com/zzbz/402.html">城乡规划编制资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
            <li class="selected">
                <h4 class="" onclick="cut(this,401);">
                    <a href="http://www.zizhiguanjia.com/zzbz/401.html">城市园林绿化资质</a></h4>
                <div class="list-item none" style="display:none;"></div>
            </li>
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="details-con" style="width:973px;float:right;"> 
     <h1>{$row.title}</h1> 
     <div class="details-tag"> 
      <span>关键字： 点击：
       <lable id="hits">
        {$row.eye}
       </lable>次 </span> 
     </div> 
     <div class="cont"> 
          {$row.content}
     </div> 
     <!--百度分享代码--> 
     <div class="bdsharebuttonbox bdshare-button-style0-16" style="padding-left:30px;" data-bd-bind="1499983609644">
      <label style="font-size:13px;float:left;padding:10px; margin-top:-5px;">分享到:</label>
      <a href="javascript:void(0)" class="bds_more" data-cmd="more"></a>
      <a href="javascript:void(0)" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
      <a href="javascript:void(0)" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
      <a href="javascript:void(0)" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
     </div> 
     <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "http://www.zizhiguanjia.com/Images/wx.jpg", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["weixin", "tsina", "qzone"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["weixin", "tsina", "qzone"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script> 
     <div class="index">
      <a href="http://www.zizhiguanjia.com" title="资质管家">返回资质管家首页</a>
     </div> 
     <div class="details-dt">
       上一篇： 
      <a href="http://www.zizhiguanjia.com/zzbz/1.html" title="施工总承包资质">施工总承包资质</a> 
      <br /> 下一篇： 
      <a href="http://www.zizhiguanjia.com/zzbz/3.html" title="施工劳务承包资质">施工劳务承包资质</a>
      <br /> 
     </div> 
     <div style="width: auto; overflow:auto;" class="details-conbd"> 
      <p style="width:auto">您可继续浏览<a title="施工专业承包资质" href="http://www.zizhiguanjia.com/zzbz/2.html">【施工专业承包资质】</a>的相关内容：</p> 
      <ul style="width:435px; float:left;"> 
       <li><a title="装修施工资质等级标准是什么？" href="news_detail.html?7273.html">装修施工资质等级标准是什么？</a> <span>2017-06-27</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="劳务承包需要资质吗" href="news_detail.html?7193.html">劳务承包需要资质吗</a> <span>2017-06-12</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="全面解析2017年安全生产许可证延期办理材料！" href="news_detail.html?7186.html">全面解析2017年安全生产许可证延期办理材料！</a> <span>2017-06-10</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="建筑企业怎么有效管理建筑资质" href="news_detail.html?7182.html">建筑企业怎么有效管理建筑资质</a> <span>2017-06-09</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="冶金工程施工总承包二级资质2017最新标准" href="news_detail.html?7175.html">冶金工程施工总承包二级资质2017最新标准</a> <span>2017-06-08</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="建筑幕墙工程专业承包一级资质申请办理标准" href="news_detail.html?7174.html">建筑幕墙工程专业承包一级资质申请办理标准</a> <span>2017-06-08</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="特级房屋建筑工程施工总承包企业资质标准" href="news_detail.html?7173.html">特级房屋建筑工程施工总承包企业资质标准</a> <span>2017-06-08</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="申请承装修试电力设施许可证需要具备哪些条件" href="news_detail.html?7172.html">申请承装修试电力设施许可证需要具备哪些条件</a> <span>2017-06-08</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="办理工程设计综合资质需要具备哪些条件" href="news_detail.html?7171.html">办理工程设计综合资质需要具备哪些条件</a> <span>2017-06-08</span></li> 
      </ul> 
      <ul style="width:435px; float:left;"> 
       <li><a title="造成监理企业资质升级不成功有哪些原因" href="news_detail.html?7170.html">造成监理企业资质升级不成功有哪些原因</a> <span>2017-06-08</span></li> 
      </ul> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
 
  <!-- 头部引用 -->
  <include file="Common/footer" />

  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/certificate.js"></script> 

  
 </body>
</html>