<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>建筑管家-联系我们</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" />
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于建筑管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" style="padding-bottom:45px;padding-top:25px;"> 
     <div class="address"> 
      <div class="map"> 
       <!--百度地图容器--> 
       <div style="width: 600px; height: 360px; border: 1px solid rgb(204, 204, 204); overflow: hidden; position: relative; z-index: 0;  text-align:center;" left="" id="dituContent">
       
        </div> 
       </div> 
       <!-- 联系方式 --> 
       <div class="contac">  

        <p> <span>总部地址：天津市滨海新区华贸大厦501</span><br /><br /> 
        1.乘座地铁9号线 塘沽站下，转乘110.821路公交车浙商大厦下往东500米.<br /> 
        2.乘座地铁9号线 塘沽站下，转乘110.821路公交车浙商大厦下往东500米.<br /><br /> 
        </p> 
       </div> 
       <div class="address_other"> 
        <ul> 
         <li> 
          <div class="infor"> 
           <i class="in1"></i> 
           <span>资质代办</span> 
           <p>咨询热线： 13512048690</p> 
           <p>专家手机： 13512048690</p> 
          </div> </li> 
         <li> 
          <div class="infor"> 
           <i class="in2"></i> 
           <span>企业寻证</span> 
           <p>咨询热线： 13512048690</p> 
           <p>专家手机： 13512048690</p> 
          </div> </li> 
         <li style="border:0;"> 
          <div class="infor"> 
           <i class="in3"><img src="__PUBLIC__/Home/images/erweima_jzgj.jpg" width="95" height="75" /></i> 
           <p>微信公众号：<em style="color:#0b9fe6;">jianzhuguanjia-tj</em></p> 
           <p>新浪微博：<a style="color:#0b9fe6;" href="http://www.weibo.com/izizhiguanjia">weibo.com/jianzhuguanjia</a></p> 
          </div> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 公司环境 --> 
    <!--   <div class="science"> 
       <div class="science_top"> 
        <span class="lcon"></span> 
        <p> <em>公司环境</em> Environment </p> 
       </div> 
       <div class="science_content"> 
        <img src="__PUBLIC__/Home/images/hj3.png" /> 
        <img src="__PUBLIC__/Home/images/hj4.png" /> 
        <img src="__PUBLIC__/Home/images/hj1.png" /> 
        <img src="__PUBLIC__/Home/images/hj2.png" /> 
       </div> 
      </div>  -->
     

      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


   <!-- 引用 -->
  <include file="Common/footer" />


 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
   <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OMA8YUbZCYXaLkgMkgwVNZWrIFV0VFD7"></script>
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.baiduMap.min.js"></script>
   <script type="text/javascript">
      new BaiduMap({
        id: "dituContent",
        title: {
          text: "天津文瑞企业管理咨询有限公司",
          className: "title"
        },
        content: {
          className: "content",
          text: ["地址：天津市滨海新区华贸大厦501", "电话：13512048690"]
        },
        point: {
          lng: "117.486321",
          lat: "38.854736"
        },
        level: 15,
        type: true,
        width: 320,
        height: 70,
        icon: {
          url: "__PUBLIC__/Home/images/icon.png",
          width: 36,
          height: 36
        }
      });
   </script>
 
 </body>
</html>