<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质管家-联系我们</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> > 
 </head> 
 <body> 
  <div class="header"> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 
      <ul> 
       <li> 
        <div id="regist" style="float:left;margin-left:-90px;"> 
         <em style="background:none;">您好，欢迎来到资质管家!</em> 
         <a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerindex">熊丽丽</a> 
         <span id="loginout"><a target="_blank" href="javascript:void(0);" rel="nofollow">(退出)</a></span> 
         <a class="head_jianzqy">我是建筑企业</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <a class="head_jianzqy" style="margin-left: 15px;">我是服务中介</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <span class="head_kefrx">客服热线：13371739040</span> 
        </div> 
        <div class="head_jianzqy_content head_fuwzj_content "> 
         <ul> 
          <li><a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerorder/" rel="nofollow">我的订单</a></li> 
          <li><a target="_blank" href="/tuiguang.html" rel="nofollow">我要推广</a></li> 
         </ul> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="header_top_left"> 
      <div class="dingw_title"> 
       <img alt="定位" src="__PUBLIC__/Home/images/PCicon.png" class="dingw_img" /> 
       <a target="_blank" href="javascript:void(0)" id="city-dingw"><span>全国</span><font class="city_qieh">[切换]</font></a> 
      </div> 
      <div id="city"> 
       <div class="city_list" id="city_list"> 
        <a href="javascript:void(0)">全国</a>
        <div class="clear"></div> 
        <a href="javascript:void(0)" data-area="beijing">北京</a>
        <a href="javascript:void(0)" data-area="tianjin">天津</a> 
        <a href="javascript:void(0)" data-area="hebei">河北</a>
        <a href="javascript:void(0)" data-area="shanxi">山西</a> 
        <a href="javascript:void(0)" data-area="namenggu">内蒙古</a>
        <a href="javascript:void(0)" data-area="liaoning">辽宁</a> 
        <a href="javascript:void(0)" data-area="jilin">吉林</a>
        <a href="javascript:void(0)" data-area="heilongjiang">黑龙江</a> 
        <a href="javascript:void(0)" data-area="shanghai">上海</a>
        <a href="javascript:void(0)" data-area="jiangsu">江苏</a> 
        <a href="javascript:void(0)" data-area="zhejiang">浙江</a>
        <a href="javascript:void(0)" data-area="anhui">安徽</a> 
        <a href="javascript:void(0)" data-area="fujiang">福建</a>
        <a href="javascript:void(0)" data-area="jiangxi">江西</a> 
        <a href="javascript:void(0)" data-area="shandong">山东</a>
        <a href="javascript:void(0)" data-area="henan">河南</a> 
        <a href="javascript:void(0)" data-area="hubei">湖北</a>
        <a href="javascript:void(0)" data-area="hunan">湖南</a> 
        <a href="javascript:void(0)" data-area="guangdong">广东</a>
        <a href="javascript:void(0)" data-area="guangxi">广西</a> 
        <a href="javascript:void(0)" data-area="hainanf">海南</a>
        <a href="javascript:void(0)" data-area="zhongqing">重庆</a> 
        <a href="javascript:void(0)" data-area="sichuan">四川</a>
        <a href="javascript:void(0)" data-area="guizhou">贵州</a> 
        <a href="javascript:void(0)" data-area="yunnan">云南</a>
        <a href="javascript:void(0)" data-area="xizang">西藏</a> 
        <a href="javascript:void(0)" data-area="shanxii">陕西</a>
        <a href="javascript:void(0)" data-area="gansu">甘肃</a> 
        <a href="javascript:void(0)" data-area="shanxi">青海</a>
        <a href="javascript:void(0)" data-area="ningxia">宁夏</a> 
        <a href="javascript:void(0)" data-area="xinjiang">新疆</a> 
        <div style="clear:both"></div> 
       </div> 
      </div> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
   </div> 
   <div id="float_div"> 
    <div id="head"> 
     <div class="head_left"> 
      <a href="index.html"><img alt="资质管家" src="__PUBLIC__/Home/images/zzgj_logo_3.0.gif" class="zzgj_logo" /></a> 
      <img alt="办资质就上资质管家" src="__PUBLIC__/Home/images/zzgj_ggy.gif" /> 
     </div> 
     <div class="head_middle"> 
      <div class="head_middle_mfzfw">
       免费找服务
      </div> 
      <div class="head_middle_option"> 
       <select class="option_on head_potion_list"> <option value="/baojia/">资质代办</option> <option value="/gongsizhuce/">公司注册</option> <option value="/anzheng/">安证办理</option> </select> 
      </div> 
      <div class="head_middle_sous"> 
      </div> 
     </div> 
     <div class="head_right"> 
      <img alt="北京资质服务专线" src="__PUBLIC__/Home/images/index_head_phone.png" /> 
      <span>北京资质服务专线</span>
      <br /> 
      <span class="head_right_phone">010-56269198</span> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="nav_main_box"> 
     <div class="nav_box nav_box_bottom"> 
      <div class="pull_nav"> 
       <span class="pull_nav_title">服务导航</span> 
       <div class="pull_box" style="display:none"> 
        <ul class="pull_box_nav_list"> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/gongsizhuce/">公司注册</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=1">新注册</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=1" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=2">企业变更</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=2" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/baojia/">建筑资质</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/baojia/?id=1">施工总承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=54" class="classify_detail_link_color">建筑工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=58">市政公用工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=56">机电工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=112">矿山工程</a> 
              <a target="_blank" href="/zizhi/sgzcbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/baojia/?id=2">施工专业承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=65">建筑装饰装修</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=75" class="classify_detail_link_color">防水防腐保温</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=3&amp;subjectid=80">建筑机电安装</a> 
              <a target="_blank" href="/zizhi/sgzycbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/zizhi/">其他资质</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/zizhi/gcsj/" class="classify_detail_link_color">工程设计</a> 
              <a target="_blank" href="/zizhi/gckczz/">工程勘察</a> 
              <a target="_blank" href="/zizhi/gcjlzz/">工程监理</a> 
              <a target="_blank" href="/zizhi/gczjzxzz/">工程造价</a> 
              <a target="_blank" href="/zizhi/czxs/">承装修试</a> 
              <a target="_blank" href="/zizhi/fdc/">房地产</a> 
              <a target="_blank" href="/zizhi/hjyxpjzz/" class="classify_detail_link_color">环境评价</a> 
              <a target="_blank" href="/zizhi/iso/" class="classify_detail_link_color">ISO体系</a> 
              <a target="_blank" href="/zizhi/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/anzheng/">安全许可</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/anzheng?type=1">首次申请</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=1" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">专业安证办理，让你无忧接项目</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/anzheng?type=2">延期办理</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=2" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">全国靠谱中介，延期不再是难题</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/xunzheng/">企业寻证</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/xunzheng/">建造师</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">一级建造师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">二级建造师</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">职称证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">高级职称证书</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">中级职称证书</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">更多证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">八大员</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">技工证</a> 
              <a target="_blank" href="/xunzheng/">监理工程师</a> 
              <a target="_blank" href="/xunzheng/">电气工程师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">造价工程师</a> 
              <a target="_blank" href="/xunzheng/">土木工程师</a> 
              <a target="_blank" href="/xunzheng/">注册咨询师</a> 
              <a target="_blank" href="/xunzheng/">共用设备工程师</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li_more"> <span><a style="border-bottom:0px;color:#fff!important;cursor:auto;">更多服务</a></span> </li> 
        </ul> 
       </div> 
      </div> 
      <ul class="main_menu"> 
       <li><a class="" href="index.html">首　页</a></li> 
       <li><a class="" href="baojia.html">资质询价</a></li> 
       <li><a class="" href="daiban.html" id="zzarea">资质代办</a></li> 
       <li><a class="" href="safe.html" id="azarea">安证办理</a></li> 
       <li><a class="" href="zizhibiaozhun.html">资质标准</a></li> 
       <li><a class="" href="news.html">行业资讯</a></li> 
       <li><a class="on" href="about.html">关于我们</a></li> 
      </ul> 
      <div class="nav_58logo"> 
       <a target="_blank" href="http://www.58guakao.com"><img alt="58建筑" src="__PUBLIC__/Home/images/nav_58logo.png" /></a> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于资质管家<span>ABOUT</span></h1> 
     <ul> 
      <li><a rel="nofollow" href="about.html" title="公司简介">公司简介</a></li> 
      <li><a rel="nofollow" href="http://www.zizhiguanjia.com/cul.html" title="精英团队">精英团队</a></li> 
      <li><a rel="nofollow" href="http://www.zizhiguanjia.com/join.html" title="加入我们">加入我们</a></li> 
      <li><a rel="nofollow" href="http://www.zizhiguanjia.com/mzsm.html" title="免责声明">免责声明</a></li> 
      <li class="on"><a href="http://www.zizhiguanjia.com/contact.html" rel="nofollow" title="联系我们">联系我们</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/tuiguang.html" title="推广服务">推广服务</a></li> 
     </ul> 
    </div> 
    <div class="zsbase-r" style="padding-bottom:45px;padding-top:25px;"> 
     <div class="address"> 
      <div class="map"> 
       <!--百度地图容器--> 
       <div style="width: 600px; height: 360px; border: 1px solid rgb(204, 204, 204); overflow: hidden; position: relative; z-index: 0; background-image: url(" http:="" api.map.baidu.com="" mages="" g.png");="" color:="" rgb(0,="" 0,="" 0);="" text-align:="" left;"="" id="dituContent">
       
        </div> 
       </div> 
       <!-- 联系方式 --> 
       <div class="contac"> 
        <p> <span>总部地址：北京市通州区九棵树瑞都国际中心23层</span><br /><br /> 1.乘坐地铁1号线到四惠，然后换成八通线到九棵树站下车，出地铁50米即到.<br /> 2.开车上东四环沿京通快速路行驶到通州北苑地铁，顺着城铁（沿京津公路）开到九棵树路口瑞都国际中心.<br /><br /> </p> 
       </div> 
       <div class="address_other"> 
        <ul> 
         <li> 
          <div class="infor"> 
           <i class="in1"></i> 
           <span>资质代办</span> 
           <p>咨询热线： 13371739040</p> 
           <p>专家手机： 13371631038</p> 
          </div> </li> 
         <li> 
          <div class="infor"> 
           <i class="in2"></i> 
           <span>企业寻证</span> 
           <p>咨询热线： 13363862207</p> 
           <p>专家手机： 13739754550</p> 
          </div> </li> 
         <li style="border:0;"> 
          <div class="infor"> 
           <i class="in3"><img src="__PUBLIC__/Home/images/wx.jpg" width="95" height="75" /></i> 
           <p>微信公众号：<em style="color:#0b9fe6;">zizhiguanjia-bj</em></p> 
           <p>新浪微博：<a style="color:#0b9fe6;" href="http://www.weibo.com/izizhiguanjia">weibo.com/izizhiguanjia</a></p> 
          </div> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 公司环境 --> 
      <div class="science"> 
       <div class="science_top"> 
        <span class="lcon"></span> 
        <p> <em>公司环境</em> Environment </p> 
       </div> 
       <div class="science_content"> 
        <img src="__PUBLIC__/Home/images/hj3.png" /> 
        <img src="__PUBLIC__/Home/images/hj4.png" /> 
        <img src="__PUBLIC__/Home/images/hj1.png" /> 
        <img src="__PUBLIC__/Home/images/hj2.png" /> 
       </div> 
      </div> 
      <!-- 分公司 --> 
      <div class="branch"> 
       <div class="science_top"> 
        <span class="lcon tb1"></span> 
        <p> <em>我们的分公司</em> our branch office </p> 
       </div> 
       <div class="branch_content"> 
        <ul> 
         <li> <h2>通州北苑</h2> <p>联系电话：15321432909 (周老师)</p> <p>公司地址：北京市通州区通州北苑万达写字楼D座1815-1818</p> </li> 
         <li> <h2>海淀</h2> <p>联系电话：18910280638 (勾老师)</p> <p>公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室</p> </li> 
         <li style="margin:0;"> <h2>河北</h2> <p>联系电话：13363862207 (李老师)</p> <p>公司地址：河北省石家庄市裕华区裕华东路与育才街交口金领大厦2号楼2号写字楼29楼2904室</p> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 公司活动 --> 
      <div class="activity"> 
       <div class="science_top"> 
        <span class="lcon tb2"></span> 
        <p> <em>公司活动</em> company event </p> 
       </div> 
       <div class="activityer" id="focus"> 
        <ul style="width: 4890px;"> 
         <li><img src="__PUBLIC__/Home/images/hd-1.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-2.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-3.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-4.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-5.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-6.png" alt="" /></li> 
        </ul> 
        <div class="btnBg" style="opacity: 0;"></div>
        <div class="">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
        </div>
        <div class="preNext pre" style="opacity: 0.5;"></div>
        <div class="preNext next" style="opacity: 0.5;"></div>
       </div> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
   <footer> 
    <div class="footer-warp"> 
     <div class="footer-bq"> 
      <a href="daiban.html">资质代办 </a>|
      <a href="zizhibiaozhun.html">资质标准 </a>|
      <a href="news.html">行业资讯 </a>|
      <a href="reg.html" rel="nofollow">中介入驻 </a>|
      <a href="/aboutus.html" rel="nofollow">关于我们 </a>|
      <a href="/join.html" rel="nofollow">加入我们 | </a>
      <a href="/contact.html" rel="nofollow">联系我们 </a>|
      <a href="#" rel="nofollow" style="cursor:default">常见问题 </a>|
      <a href="#" rel="nofollow" style="cursor:default">意见反馈</a>
      <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
      <br /> 版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1 
      <br /> Copyright &copy; 2016 zizhiguanjia.com All Rights Reserved
      <br /> 公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室 &nbsp;电话： 010-56269198&nbsp; 
     </div> 
    </div> 
   </footer> 
   <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
   <script src="__PUBLIC__/Home/js/push.js"></script>
   <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
   <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script> 
   <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'js/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script> 
   <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'js/analytics.js', 'ga');

        ga('create', 'UA-101792527-1', 'auto');
        ga('send', 'pageview');

    </script> 
   <div style="display: none"> 
    <a href="http://www.cnzz.com/stat/website.php?web_id=1255699131" target="_blank" title="站长统计">站长统计</a> 
   </div> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
   <script type="text/javascript" src="http://api.map.baidu.com/api?key=&amp;v=1.1&amp;services=true"></script>
   <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.1&amp;ak=&amp;services=true&amp;t=20130716024058"></script>
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bmap.css" /> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/10051268.js" charset="utf-8"></script>
   <div id="doyoo_panel" style="position: fixed; top: 150px; right: 5px; width: 144px;">
    <div id="ohead" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" ead_1.gif?131127")="" no-repeat="" scroll="" 0%="" 0%;="" cursor:="" move;"="">
     <div id="ocls"></div>
     <div id="omin" onclick=""></div>
     <div id="otitle">
      在线客服
     </div>
     <div id="oentrance"></div>
    </div>
    <div id="ocontent" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" ack_1.gif?131127")="" repeat-y="" scroll="" 0%="" 0%;="" height:="" 240px;"="">
     <div id="allcontent">
      <div class="group_title">
       <span class="doyoo_group_name">北京资质办理咨询</span>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_other" onclick="javascript:doyoo.util.openChat(" n="gouyan&quot;)&quot;">
        <div class="doyoo_status">
         电话
        </div><span class="doyoo_group_name">勾老师</span> </a>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="zhoujianping001&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">红彩老师</span> </a>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="why&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">宏岩老师</span> </a>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="zhouguomei&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">周老师</span> </a>
      </div>
      <div class="group_title">
       <span class="doyoo_group_name">河北资质办理咨询</span>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="licuiping&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">李老师</span> </a>
      </div>
      <div class="group_title">
       <span class="doyoo_group_name">财税咨询专区</span>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="caishuizx&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">财税咨询</span> </a>
      </div>
      <div class="group_title">
       <span class="doyoo_group_name">法律咨询专区</span>
      </div>
      <div class="group_content">
       <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="falvzx&quot;)&quot;">
        <div class="doyoo_status">
         留言
        </div><span class="doyoo_group_name">法律咨询</span> </a>
      </div>
     </div>
    </div>
    <div id="ofoot" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" oot_1.gif?131127")="" no-repeat="" scroll="" 0%="" 0%;"="">
     <div onclick="javascript:window.open(" http:="" www.looyuoms.com")"=""></div>
    </div>
   </div> 
   <div id="doyoo_monitor" style="background: rgba(0, 0, 0, 0) url(__PUBLIC__/Home/images/dn_sc.gif?131127" );"=""></div>
  </div>
  <div id="doyoo_mon_closer"></div> 
  <div id="talk99_message"></div> 
  <div id="doyoo_share" style="display:none;"></div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/oms.css?17070503" /> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/oms.js?170704" charset="utf-8"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/simplefoucs.js"></script> 
  <!--
    资质管家:资质代办,北京资质代办,代办建筑工程资质,资质代理,工商注册,代理记账公司
    资质管家,资质代办,代办资质,公司注册,代理记账,北京代办资质
    资质管家(zizhiguanjia.com),靠谱的资质代办平台.北京拥有正规经营资质代办资格的资质代办公司.专注资质代办,代办建筑工程资质,资质代理,工商注册,代理记账等服务.办资质,找资质管家!
    --> 
 </body>
</html>