<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>建筑管家-联系我们</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" />
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于建筑管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" style="padding-bottom:45px;padding-top:25px;"> 
     <div class="address"> 
      <div class="map"> 
       <!--百度地图容器--> 
       <div style="width: 600px; height: 360px; border: 1px solid rgb(204, 204, 204); overflow: hidden; position: relative; z-index: 0;  text-align:center;" left="" id="dituContent">
       
        </div> 
       </div> 
       <!-- 联系方式 --> 
       <div class="contac"> 
        <p> <span>总部地址：天津市滨海新区古林街福绣园33-3-502</span><br /><br /> 1.乘坐地铁1号线到四惠，然后换成八通线到九棵树站下车，出地铁50米即到.<br /> 2.开车上东四环沿京通快速路行驶到通州北苑地铁，顺着城铁（沿京津公路）开到九棵树路口瑞都国际中心.<br /><br /> </p> 
       </div> 
       <div class="address_other"> 
        <ul> 
         <li> 
          <div class="infor"> 
           <i class="in1"></i> 
           <span>资质代办</span> 
           <p>咨询热线： 13512048690</p> 
           <p>专家手机： 13512048690</p> 
          </div> </li> 
         <li> 
          <div class="infor"> 
           <i class="in2"></i> 
           <span>企业寻证</span> 
           <p>咨询热线： 13512048690</p> 
           <p>专家手机： 13512048690</p> 
          </div> </li> 
         <li style="border:0;"> 
          <div class="infor"> 
           <i class="in3"><img src="__PUBLIC__/Home/images/wx.jpg" width="95" height="75" /></i> 
           <p>微信公众号：<em style="color:#0b9fe6;">jianzhuguanjia-tj</em></p> 
           <p>新浪微博：<a style="color:#0b9fe6;" href="http://www.weibo.com/izizhiguanjia">weibo.com/jianzhuguanjia</a></p> 
          </div> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 公司环境 --> 
      <div class="science"> 
       <div class="science_top"> 
        <span class="lcon"></span> 
        <p> <em>公司环境</em> Environment </p> 
       </div> 
       <div class="science_content"> 
        <img src="__PUBLIC__/Home/images/hj3.png" /> 
        <img src="__PUBLIC__/Home/images/hj4.png" /> 
        <img src="__PUBLIC__/Home/images/hj1.png" /> 
        <img src="__PUBLIC__/Home/images/hj2.png" /> 
       </div> 
      </div> 
      <!-- 分公司 --> 
      <div class="branch"> 
       <div class="science_top"> 
        <span class="lcon tb1"></span> 
        <p> <em>我们的分公司</em> our branch office </p> 
       </div> 
       <div class="branch_content"> 
        <ul> 
         <li> <h2>通州北苑</h2> <p>联系电话：15321432909 (周老师)</p> <p>公司地址：北京市通州区通州北苑万达写字楼D座1815-1818</p> </li> 
         <li> <h2>海淀</h2> <p>联系电话：18910280638 (勾老师)</p> <p>公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室</p> </li> 
         <li style="margin:0;"> <h2>河北</h2> <p>联系电话：13363862207 (李老师)</p> <p>公司地址：河北省石家庄市裕华区裕华东路与育才街交口金领大厦2号楼2号写字楼29楼2904室</p> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 公司活动 --> 
      <div class="activity"> 
       <div class="science_top"> 
        <span class="lcon tb2"></span> 
        <p> <em>公司活动</em> company event </p> 
       </div> 
       <div class="activityer" id="focus"> 
        <ul style="width: 4890px;"> 
         <li><img src="__PUBLIC__/Home/images/hd-1.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-2.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-3.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-4.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-5.png" alt="" /></li> 
         <li><img src="__PUBLIC__/Home/images/hd-6.png" alt="" /></li> 
        </ul> 
        <div class="btnBg" style="opacity: 0;"></div>
        <div class="">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
        </div>
        <div class="preNext pre" style="opacity: 0.5;"></div>
        <div class="preNext next" style="opacity: 0.5;"></div>
       </div> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
   <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


   <!-- 引用 -->
  <include file="Common/footer" />


 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
   <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OMA8YUbZCYXaLkgMkgwVNZWrIFV0VFD7"></script>
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.baiduMap.min.js"></script>
   <script type="text/javascript">
      new BaiduMap({
        id: "dituContent",
        title: {
          text: "北京故宫博物院",
          className: "title"
        },
        content: {
          className: "content",
          text: ["地址：天津市滨海新区古林街福绣园33-3-502", "电话：13512048690"]
        },
        point: {
          lng: "117.486321",
          lat: "38.854736"
        },
        level: 15,
        type: true,
        width: 320,
        height: 70,
        icon: {
          url: "__PUBLIC__/Home/images/icon.png",
          width: 36,
          height: 36
        }
      });
   </script>
 
 </body>
</html>