<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>首页</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
  <style type="text/css">
      .index_zzbz_left_list li{overflow: hidden;}
  </style>
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />
  
  <div class="global-banner"> 
   <div class="index_banner" style="width:100%;height:100%;margin:0 auto;"> 
    <div id="index_slider" class="banner_slider"> 
      <foreach name="focus_list" item="v">
          <p style="display: <if condition='$key eq 0'>inline<else/>none</if>;background-image:url({$v.img});background-position:center;width:100%;height:100%;position:absolute;cursor:auto;" rel="{$key+1}" title="资质代办费用,代办资质价格,资质办理材料"></p> 
      </foreach>
    </div> 
    <ul class="slider_mark" style="margin-left: -50px;"> 
      <foreach name="focus_list" item="v">
          <li <if condition='$key eq 0'>class="mark_dot_on"</if> data="{$key+1}"> <a href="javascript:void(0);" class="slider_ico"></a> </li>  
      </foreach>
    </ul> 
   </div> 
   <link href="__PUBLIC__/Home/css/index_content.css" rel="stylesheet" /> 
   <div class="banner_content" style="right:10px;"> 
    <div class="banner_content_form"> 
          <!-- 引用 -->
          <include file="_form_group" />
    </div> 
   </div> 
   <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
   <script src="__PUBLIC__/Home/js/push.js"></script>
   <script>
    var isLogin = "False" == "True" ? true : false;
    var isBroker = "False" == "True" ? true : false;
</script> 
   <script src="__PUBLIC__/Home/js/index.js"></script> 
  </div> 
  <div class="main_link"> 
   <div class="hot_link"> 
    <div class="service_link"> 
     <span>热搜<br />服务</span> 
     <div class="link_1"> 
      <p> <a target="_blank" href="{:U('Home/Index/baojia')}">施工资质代办 </a> <a target="_blank" href="{:U('Home/Index/safe')}">安全生产许可证 </a> </p> 
      <p> <a target="_blank" href="{:U('Home/Index/xunzheng')}">二级建造师证 </a> <a target="_blank" href="{:U('Home/Index/xunzheng')}">项目负责人招聘</a> </p> 
     </div> 
    </div> 
    <div class="service_link information_link"> 
     <span>焦点<br />资讯</span> 
     <div class="link_1"> 
      <p> <a target="_blank" href="{:U('Home/Index/baojia')}">资质标准 </a> <a target="_blank" href="{:U('Home/Index/baojia')}">建筑施工 </a> <a target="_blank" href="{:U('Home/Index/baojia')}">施工劳务 </a> </p> 
      <p> <a target="_blank" href="{:U('Home/Index/baojia')}">市政工程 </a> <a target="_blank" href="{:U('Home/Index/baojia')}">通信工程</a> <a target="_blank" href="{:U('Home/Index/daiban')}">园林绿化</a> </p> 
     </div> 
    </div> 
    <div class="service_link region_link"> 
     <span>热门<br />地区</span> 
     <div class="link_1"> 
      <p> 
        <a target="_blank" href="http://www.wrzx168.com">北京</a> 
        <a target="_blank" href="http://www.wrzx168.com">上海</a> 
        <a target="_blank" href="http://www.wrzx168.com">南昌</a> 
        <a target="_blank" href="http://www.wrzx168.com">成都</a> 
        <a target="_blank" href="http://www.wrzx168.com">安徽</a> 
      </p> 
      <p> 
        <a target="_blank" href="http://www.wrzx168.com">石家庄</a> 
        <a target="_blank" href="http://www.wrzx168.com">深圳</a> 
        <a target="_blank" href="http://www.wrzx168.com">太原</a> 
        <a target="_blank" href="http://www.wrzx168.com">西安</a> 
        <a target="_blank" href="http://www.wrzx168.com">武汉</a> 
      </p> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="gold_zhongj"> 
   <span> <img src="__PUBLIC__/Home/images/gold_zhongj.gif" /> </span> 
   <ul class="gold_zhongj_list"> 
      <foreach name="zhongjie_list" item="v">
          <if condition="$v['recommend'] eq 1">
              <li>
                  <img style="width:100%;height:100%;" src="{$v.company_logo}" />
                  <div class="jianpzj_text" title="{$v.company_name}">
                      <p>{$v.company_service_province}</p>
                      <p>{$v.company_name}</p>
                      <p>
                          <a target="_blank" rel="nofollow" href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">获取报价</a>
                      </p>
                  </div>
              </li>
          <else/>
              <li>
                  <img style="width:100%;height:100%;" src="__UPLOAD__/{$configInfo['ad_img']}" />
              </li>
          </if>
          
      </foreach>
   </ul> 
   <div class="clear"></div> 
  </div> 
  <div class="dingd_shengy" id="latest_orders"> 
   <div class="ding_shengy_w"> 
    <div class="ziz_title"> 
     <div class="ziz_dingd_title"> 
      <h3><span>|</span>最新申请服务</h3> 
      <p><img src="__PUBLIC__/Home/images/zz_dingd_icon.png" width="25" height="16" />已为 <i>42037</i> 家建筑企业提供一站式资质服务</p> 
     </div> 
     <div class="kef_shengy_title"> 
      <h3><span>|</span>客户的声音</h3> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="modulat-daibgs modulat-order"> 
     <div class="modulat-order-list"> 



      

      <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
      <style type="text/css">
          /* 本例子css */
          .txtMarquee-top{ width:100%;  overflow:hidden; position:relative;  border:1px solid #ccc;   }
          .txtMarquee-top .bd{}
          .txtMarquee-top .infoList li{ height:50px; line-height:50px; width:100%;overflow: hidden;  }
          .txtMarquee-top .infoList li { float:left; color:#999; display: block;height: 50px;line-height: 50px; }
          .txtMarquee-top .infoList li div{ float:right; color:#999; box-sizing: border-box; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
      </style>

      <div class="txtMarquee-top">
        <div class="hd">
          <a class="next"></a>
          <a class="prev"></a>
        </div>
        <div class="bd">
          <table width="100%" border="1"> 

             <thead>
                <tr> 
                 <th width="17%" valign="middle" align="center"> 建筑企业 </th> 
                 <th width="43%" valign="middle" align="center"> 服务类型 </th> 
                 <th width="20%" valign="middle" align="center"> 地区 </th> 
                 <th width="20%" valign="middle" align="center"> 发布时间 </th> 
                </tr>
             </thead>
             <tbody>
                <ul class="infoList">
                 <foreach name="order_list" item="v">
                   <li> 
                    <div style="width:17%;float: left;text-align: center;">{$v.phone}</div> 
                    <div style="width:43%;float: left;">{$v.type_1}=>{$v.type_2}=>{$v.type_2}</div> 
                    <div style="width:20%;float: left;text-align: center;">{$v.province}=>{$v.city}</div> 
                    <div style="width:20%;float: left;text-align: center;">{$v.time}</div> 
                   </li> 
                 </foreach>
                </ul>
             </tbody>
             
          </table> 
        </div>
      </div>


      <script type="text/javascript">
        $(".txtMarquee-top").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:5,interTime:50});
      </script>


     </div> 
    </div> 
    <div class="modulat-index-city modulat-order modulat-evaluate"> 
     <div class="modulat-evaluate-list"> 
      <ul> 
          <foreach name="voice_list" item="v">
              <li>
                  <div class="modulat-evaluate-icon">
                      <img style="width: 36px;height: 40px;" src="{$v.img}" />
                  </div>
                  {$v.content}
                  <div class="clear"></div>
              </li>
          </foreach>
          
          <div class="clear"></div> 
      </ul> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="index_fuwlc"> 
   <div class="fulx_title">
     资质代办服务类型
    <span>正规中介公司分别报价，资质代办行情轻松掌握</span> 
   </div> 
   <div class="fulx_list"> 
        <foreach name="type_list" item="v">
            <a target="_blank" href="{:U('Home/Index/baojia')}">{$v.title}
                <if condition="$key lt 5"><i></i></if>
            </a> 
        </foreach>
   </div> 
   <div class="clear"></div> 
  </div> 
  <div class="index_news"> 
   <div class="index_news_w"> 
    <div class="index_news_title"> 
     <h2>建筑行业资讯</h2> 
     <p>海量资质资讯实时推荐，不为办资质烦恼</p> 
    </div> 

    <foreach name="news_list" item="vo">
        <ul class="hangy_news" <if condition="$key eq 0">style="margin-left: 0px;"</if>> 
           <h3><span>|</span>{$vo.title}<a taget="_blank" href="{:U('Home/Index/news',array('type'=>$vo['id']))}">更多&gt;&gt;</a></h3> 
           <foreach name="vo['_child']" item="v">
               <li>
                   <a taget="_blank" href="{:U('Home/Index/news_detail',array('id'=>$v['id']))}" title="{$v.title}">{$v.title}
                       <i style="background:url(__PUBLIC__/Home/images/global.png) no-repeat scroll -239px -57px; display:inline-block; padding:0 15px;width:22px;height:18px"></i></a>
                   <span class="index_news_shij">{$v.time}</span>
               </li>
           </foreach>
        </ul> 
    </foreach>
 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="fuwlc"> 
   <div class="index_zizbz-title"> 
    <span>|</span> 
    <a href="/baike/" target="_blank">建筑资质标准</a> 
   </div> 
   <div class="index_zizbz_left"> 
    <div class="zizbz_left_img"> 
     <img src="__PUBLIC__/Home/images/zzbz_zongcb.gif" /> 
     <h3>总承包资质</h3> 
    </div> 
    <ul class="index_zzbz_left_list"> 
        <foreach name="zizhi_1_list" item="v">
            <li><a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a></li> 
        </foreach>
        <li><a href="{:U('Home/Index/baike')}" rel="nofollow" target="_blank">更多&gt;&gt;</a></li> 
    </ul> 
   </div> 
   <div class="index_zizbz_right"> 
    <div class="zizbz_left_img"> 
     <img src="__PUBLIC__/Home/images/zzbz_zhuanycb.gif" /> 
     <h3>专业承包资质</h3> 
    </div> 
    <ul class="index_zzbz_left_list"> 
        <foreach name="zizhi_2_list" item="v">
            <li><a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a></li> 
        </foreach>
        <li><a href="{:U('Home/Index/baike')}" rel="nofollow" target="_blank">更多&gt;&gt;</a></li> 
    </ul> 
   </div> 
   <div class="clear"></div> 
   <div class="more_ziz"> 
        <a href="{:U('Home/Index/baike')}">更多资质</a> 
        <foreach name="zizhi_3_list" item="v">
            <a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a> 
        </foreach>
   </div> 
   <div class="clear"></div> 
  </div> 
  <div class="index_report"> 
   <div class="index_report_w"> 
    <div class="index_zizbz-title"> 
     <span>|</span> 
     <a> 专业报道</a> 
    </div> 
    <ul class="report_list"> 
     <a href="" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon.gif" height="50" /> <h3>新浪网</h3> <p>建筑管家：<br />O2O模式，解决建筑行业痛点</p> </li> </a> 
     <a href="" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon2.gif" height="50" /> <h3>百度百家</h3> <p>建筑管家：<br />电商模式试水建筑行业</p> </li> </a> 
     <a href="" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/zhonghuaw.png" height="50" /> <h3>中华网</h3> <p>建筑管家：操刀电商O2O模式，<br />盘活建筑行业创业残局</p> </li> </a> 
     <a href="" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon3.gif" height="50" /> <h3>凤凰网</h3> <p>建筑管家：<br />互联网+建筑服务行业的颠覆者</p> </li> </a> 
     <div class="clear"></div> 
    </ul> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  
  <!-- 引用 -->
  <include file="Common/footer" />

  

  


  <script src="__PUBLIC__/Home/js/index.js"></script> 
  <script type="text/javascript">
        var banner = new Banner();
        banner.CallBanner($(".index_banner"), $(".banner_slider"), 4)
  </script>
 
 </body>
</html>


