<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>首页</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />
  
  <div class="global-banner"> 
   <div class="index_banner" style="width:100%;height:100%;margin:0 auto;"> 
    <div id="index_slider" class="banner_slider"> 
      <foreach name="focus_list" item="v">
          <p style="display: <if condition='$key eq 0'>inline<else/>none</if>;background-image:url({$v.img});background-position:center;width:100%;height:100%;position:absolute;cursor:auto;" rel="{$key+1}" title="资质代办费用,代办资质价格,资质办理材料"></p> 
      </foreach>
    </div> 
    <ul class="slider_mark" style="margin-left: -50px;"> 
      <foreach name="focus_list" item="v">
          <li <if condition='$key eq 0'>class="mark_dot_on"</if> data="{$key+1}"> <a href="javascript:void(0);" class="slider_ico"></a> </li>  
      </foreach>
    </ul> 
   </div> 
   <link href="__PUBLIC__/Home/css/index_content.css" rel="stylesheet" /> 
   <div class="banner_content" style="right:10px;"> 
    <div class="banner_content_form"> 
          <!-- 引用 -->
          <include file="_form_group" />
    </div> 
   </div> 
   <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
   <script src="__PUBLIC__/Home/js/push.js"></script>
   <script>
    var isLogin = "False" == "True" ? true : false;
    var isBroker = "False" == "True" ? true : false;
</script> 
   <script src="__PUBLIC__/Home/js/index.js"></script> 
  </div> 
  <div class="main_link"> 
   <div class="hot_link"> 
    <div class="service_link"> 
     <span>热搜<br />服务</span> 
     <div class="link_1"> 
      <p> <a target="_blank" href="/baojia/">施工资质代办 </a> <a target="_blank" href="/anzheng/">安全生产许可证 </a> </p> 
      <p> <a target="_blank" href="/xunzheng/">二级建造师证 </a> <a target="_blank" href="http://post.58guakao.com/Company/FullTimeRecruit?EnterFlag=3">项目负责人招聘</a> </p> 
     </div> 
    </div> 
    <div class="service_link information_link"> 
     <span>焦点<br />资讯</span> 
     <div class="link_1"> 
      <p> <a target="_blank" href="zizhibiaozhun.html">资质标准 </a> <a target="_blank" href="news_detail.html?tag-jzsgzz/">建筑施工 </a> <a target="_blank" href="news_detail.html?tag-sglwzz/">施工劳务 </a> </p> 
      <p> <a target="_blank" href="news_detail.html?tag-szgczz/">市政工程 </a> <a target="_blank" href="news_detail.html?tag-txgczz/">通信工程</a> <a target="_blank" href="news_detail.html?tag-yllhzz/">园林绿化</a> </p> 
     </div> 
    </div> 
    <div class="service_link region_link"> 
     <span>热门<br />地区</span> 
     <div class="link_1"> 
      <p> <a target="_blank" href="http://www.zizhiguanjia.com/beijing-zizhi/">北京</a> <a target="_blank" href="http://www.zizhiguanjia.com/shanghai-zizhi/">上海</a> <a target="_blank" href="http://www.zizhiguanjia.com/nanchang-zizhi/">南昌</a> <a target="_blank" href="http://www.zizhiguanjia.com/chengdou-zizhi/">成都</a> <a target="_blank" href="http://www.zizhiguanjia.com/anhui-zizhi/">安徽</a> </p> 
      <p> <a target="_blank" href="http://www.zizhiguanjia.com/shijiazhuang-zizhi/">石家庄</a> <a target="_blank" href="http://www.zizhiguanjia.com/shenzhen-zizhi/">深圳</a> <a target="_blank" href="http://www.zizhiguanjia.com/taiyuan-zizhi/">太原</a> <a target="_blank" href="http://www.zizhiguanjia.com/xian-zizhi/">西安</a> <a target="_blank" href="http://www.zizhiguanjia.com/wuhan-zizhi/">武汉</a> </p> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="gold_zhongj"> 
   <span> <img src="__PUBLIC__/Home/images/gold_zhongj.gif" /> </span> 
   <ul class="gold_zhongj_list"> 
      <foreach name="zhongjie_list" item="v">
          <li>
              <img style="width:100%;height:100%;" src="{$v.company_logo}" />
              <div class="jianpzj_text" title="{$v.company_name}">
                  <p>{$v.company_service_province}</p>
                  <p>{$v.company_name}</p>
                  <p>
                      <a target="_blank" rel="nofollow" href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">获取报价</a>
                  </p>
              </div>
          </li>
      </foreach>
   </ul> 
   <div class="clear"></div> 
  </div> 
  <div class="dingd_shengy"> 
   <div class="ding_shengy_w"> 
    <div class="ziz_title"> 
     <div class="ziz_dingd_title"> 
      <h3><span>|</span>最新申请服务</h3> 
      <p><img src="__PUBLIC__/Home/images/zz_dingd_icon.png" width="25" height="16" />已为 <i>42037</i> 家建筑企业提供一站式资质服务</p> 
     </div> 
     <div class="kef_shengy_title"> 
      <h3><span>|</span>客户的声音</h3> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="modulat-daibgs modulat-order"> 
     <div class="modulat-order-list"> 
      <table width="100%" border="1"> 
       <tbody>
        <tr> 
         <th width="17%" valign="middle" align="center"> 建筑企业 </th> 
         <th width="34%" valign="middle" align="center"> 服务类型 </th> 
         <th width="14%" valign="middle" align="center"> 地区 </th> 
         <th width="14%" valign="middle" align="center"> 发布时间 </th> 
        </tr> 
        <foreach name="order_list" item="v">
            <tr> 
             <td valign="middle" align="center">{$v.phone}</td> 
             <td valign="middle" align="center">{$v.type_1}<br />{$v.type_2} {$v.type_2}</td> 
             <td valign="middle" align="center">{$v.province}-{$v.city}</td> 
             <td valign="middle" align="center">{$v.time}</td> 
            </tr> 
        </foreach>
       </tbody>
      </table> 
     </div> 
    </div> 
    <div class="modulat-index-city modulat-order modulat-evaluate"> 
     <div class="modulat-evaluate-list"> 
      <ul> 
          <foreach name="voice_list" item="v">
              <li>
                  <div class="modulat-evaluate-icon">
                      <img style="width: 36px;height: 40px;" src="{$v.img}" />
                  </div>
                  {$v.content}
                  <div class="clear"></div>
              </li>
          </foreach>
          
          <div class="clear"></div> 
      </ul> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="index_fuwlc"> 
   <div class="fulx_title">
     资质代办服务类型
    <span>正规中介公司分别报价，资质代办行情轻松掌握</span> 
   </div> 
   <div class="fulx_list"> 
        <foreach name="type_list" item="v">
            <a target="_blank" href="{:U('Home/Index/baojia')}">{$v.title}
                <if condition="$key lt 5"><i></i></if>
            </a> 
        </foreach>
   </div> 
   <div class="clear"></div> 
  </div> 
  <div class="index_news"> 
   <div class="index_news_w"> 
    <div class="index_news_title"> 
     <h2>建筑行业资讯</h2> 
     <p>海量资质资讯实时推荐，不为办资质烦恼</p> 
    </div> 

    <foreach name="news_list" item="vo">
        <ul class="hangy_news" <if condition="$key eq 0">style="margin-left: 0px;"</if>> 
           <h3><span>|</span>{$vo.title}<a taget="_blank" href="/zs/zzzc/">更多&gt;&gt;</a></h3> 
           <foreach name="vo['_child']" item="v">
               <li>
                   <a taget="_blank" href="news_detail.html?7273.html" title="{$v.title}">{$v.title}
                       <i style="background:url(__PUBLIC__/Home/images/global.png) no-repeat scroll -239px -57px; display:inline-block; padding:0 15px;width:22px;height:18px"></i></a>
                   <span class="index_news_shij">{$v.time}</span>
               </li>
           </foreach>
        </ul> 
    </foreach>
 
    <div class="clear"></div> 
   </div> 
  </div> 
  <div class="fuwlc"> 
   <div class="index_zizbz-title"> 
    <span>|</span> 
    <a href="/baike/" target="_blank">建筑资质标准</a> 
   </div> 
   <div class="index_zizbz_left"> 
    <div class="zizbz_left_img"> 
     <img src="__PUBLIC__/Home/images/zzbz_zongcb.gif" /> 
     <h3>总承包资质</h3> 
    </div> 
    <ul class="index_zzbz_left_list"> 
        <foreach name="zizhi_1_list" item="v">
            <li><a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a></li> 
        </foreach>
        <li><a href="{:U('Home/Index/baike')}" rel="nofollow" target="_blank">更多&gt;&gt;</a></li> 
    </ul> 
   </div> 
   <div class="index_zizbz_right"> 
    <div class="zizbz_left_img"> 
     <img src="__PUBLIC__/Home/images/zzbz_zhuanycb.gif" /> 
     <h3>专业承包资质</h3> 
    </div> 
    <ul class="index_zzbz_left_list"> 
        <foreach name="zizhi_2_list" item="v">
            <li><a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a></li> 
        </foreach>
        <li><a href="{:U('Home/Index/baike')}" rel="nofollow" target="_blank">更多&gt;&gt;</a></li> 
    </ul> 
   </div> 
   <div class="clear"></div> 
   <div class="more_ziz"> 
        <a href="{:U('Home/Index/baike')}">更多资质</a> 
        <foreach name="zizhi_3_list" item="v">
            <a title="{$v.title}" href="{:U('Home/Index/baike_detail',array('id'=>$v['id']))}" target="_blank">{$v.title}</a> 
        </foreach>
   </div> 
   <div class="clear"></div> 
  </div> 
  <div class="index_report"> 
   <div class="index_report_w"> 
    <div class="index_zizbz-title"> 
     <span>|</span> 
     <a> 专业报道</a> 
    </div> 
    <ul class="report_list"> 
     <a href="http://hlj.sina.com.cn/jx/fashion/2015-08-05/094610853.html" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon.gif" height="50" /> <h3>新浪网</h3> <p>资质管家：<br />O2O模式，解决建筑行业痛点</p> </li> </a> 
     <a href="http://baijiahao.baidu.com/builder/preview/s?id=1572676569590997" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon2.gif" height="50" /> <h3>百度百家</h3> <p>资质管家：<br />电商模式试水建筑行业</p> </li> </a> 
     <a href="http://finance.china.com/fin/kj/201508/04/9585951.html" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/zhonghuaw.png" height="50" /> <h3>中华网</h3> <p>资质管家：操刀电商O2O模式，<br />盘活建筑行业创业残局</p> </li> </a> 
     <a href="http://hainan.ifeng.com/finance/shanghui/detail_2015_08/04/4189660_0.shtml" target="_blank" rel="nofollow"> <li> <img src="__PUBLIC__/Home/images/report-icon3.gif" height="50" /> <h3>凤凰网</h3> <p>资质管家：<br />互联网+建筑服务行业的颠覆者</p> </li> </a> 
     <div class="clear"></div> 
    </ul> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  
  <!-- 引用 -->
  <include file="Common/footer" />

  

  


  <script src="__PUBLIC__/Home/js/index.js"></script> 
  <script type="text/javascript">
        var banner = new Banner();
        banner.CallBanner($(".index_banner"), $(".banner_slider"), 4)
  </script>
 
 </body>
</html>


