<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质管家-加入我们</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于资质管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <img src="__PUBLIC__/Home/images/jrwm1.gif" style="margin:25px 25px 10px 25px;" />
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">一、SEO经理</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：12K~20K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.负责58建筑网/资质管家SEO策略的制定与实施，对全站SEO流量负责；<br /> 2.监控、分析、评估网站的关键词，设定关键字策略，提升搜索引擎流量份额；<br /> 3.能撰写SEO方案并实施，及时、有效的推动与协同部门的配合；<br /> 4.对公司网站以及竞争对手网站进行监控流量和数据分析，并根据分析结果及时出处理方案和应对措施；<br /> 5.带领团队完成流量任务，并合理分配工作，培养下属成长；<br /> <b style="font-size:14px;font-size: 14px;font-weight: normal;">【职位要求】：</b><br /> 1.有3年以上SEO经验，有多个Baidu或google站点优化案例；<br /> 2.有很强的项目管理、创新意识和沟通协调能力，能够积极主动的带领团队完成流量任务；<br /> 3.有独到的思维方式，注重SEO策略的长远布局，对新技术有快速的学习能力，能持续关注搜索引擎的发展及最新动向；<br /> 4.高度的工作热情和责任心，有创业激情与创新精神，注重团队合作；<br /> 5.爱好SEO事业，擅长探索、研究新的SEO技术；<br /> 6.熟悉使用SEO工具，能针对关键词优化进行合理内容设计；熟悉各大搜索引擎蜘蛛爬行的规律规则及原理。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">二、SEO主管</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：8K~15K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <br /> 
     <p style="text-indent:0px;margin: 0 25px;"> 1. 负责58建筑网/资质管家SEO流量的提升，配合项目经理完成流量任务；<br /> 2. 监控、分析、评估网站的关键词，设定关键字策略，提升搜索引擎流量份额；<br /> 3. 能撰写SEO方案并实施，及时、有效的推动与协同部门的配合；<br /> 4. 能够自主发现流量提升点，并成功获取流量。<br /> 5. 带领外链团队完成合作任务，有效提升关键词排名；<br /> 【职位要求】：<br /> 1. 至少2年SEO从业经验，有成功的站点优化案例；<br /> 2. 有较强的项目管理能力、沟通协调能力，能够积极主动的推动、协调各部门配合，并顺利完成任务；<br /> 3. 有独立的思维方式，注重SEO流量收取及策略的分解，对新技术有快速的学习能力，能持续关注搜索引擎的发展及最新动向。<br /> 4. 爱好SEO事业，擅长探索、研究新的SEO技术。<br /> 5. 熟悉使用SEO工具，能针对关键词优化进行合理内容设计；熟悉各大搜索引擎蜘蛛爬行的规律规则及原理；<br /> </p> 
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">三、SEO专员</h3>
     <p></p> 
     <p>【招聘人数】：2~3人</p> 
     <p>【薪资范围】：6K~10K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.根据要求对相关页面进行友情链接交换。<br /> 2.对相关资讯网站进行内容伪原创编辑。<br /> 3.查询、统计、跟踪相关收录、排名等数据，并制作报表。<br /> 4.协助团队其他成员完成seo相关支持工作。<br /> 【职位要求】：<br /> 1.掌握基本的交换友链的手段和方法，能够完成指定的链接数量。<br /> 2.对伪原创有一定了解，对新闻，资讯内容敏感，有较好语感。<br /> 3.掌握互联网的各项应用操作，了解SEO等相关网络基本知识&nbsp;，具有一定的数据分析能力。<br /> 4.有团队合作精神，积极完成分配的工作任务。<br /> 5.有一定的沟通能力，性格外向，善于和他人交流。<br /> 6.对数据敏感，有一定的数据分析能力。<br /> 7.乐观、开朗、敬业、品德好、学习能力强，有一定抗压能力。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">四、.NET开发工程师</h3>
     <p></p> 
     <p>【招聘人数】：5~6人</p> 
     <p>【薪资范围】：8K~16K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.根据项目具体要求，承担开发任务，按计划完成任务目标；<br /> 2.参与项目需求的系统分析与设计；<br /> 3.根据开发规范与流程独立完成模块的设计、编码、测试及相关文档；<br /> 4.对完成的代码进行检查和优化，提高产品易用性和性能；<br /> 【职位要求】：<br /> 1.专科以上学历，计算机或其他相关专业；<br /> 2.精通.Net（C#）开发语言，有良好的编程习惯；<br /> 3.熟悉B/S框架，1年以上相关经验者优先；<br /> 4.有SQL&nbsp;Server数据库开发使用经验，处理大数据量经验者优先；<br /> 5.了解MVC的架构模式，熟悉Html、CSS/JS、JavaScript、Jquery；<br /> 6.以具备开发经验为佳，也欢迎对自己有信心的应届生！<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">五、产品经理</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：10K~20K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【岗位职责】</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 直接和CEO沟通，制定产品策略后进行WEB端的产品设计；<br /> 具备一定的交互和审美，跟进和配合设计师进行产品的视觉设计工作；<br /> 与技术人员沟通需求，讨论解决方案，完成产品功能测试，项目上线等实施过程；<br /> 协助处理项目产品开发过程中的问题，确保开发进度及产品、设计方案的统一。<br /> 【职责要求】<br /> 能够独立完成产品设计，熟练使用设计软件和编写设计文档；<br /> 较好的表达能力，良好的跨部门沟通和项目协调能力，强烈的结果导向意识；<br /> 具备优秀的分析判断能力和方案设计能力，对数据敏感，具备一定的无授权领导能力和影响能力；<br /> 独立思考，思路清晰，心态开放，善于学习和总结。<br /> 具有2年以上web端产品经验，计算机相关背景<br /> （希望有建筑行业经验/垂直性信息分类网站经验的您投递、加入我们！）<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">六、内容运营编辑</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：面议</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.&nbsp;负责网站资讯频道的文章编辑及内容建设，包括内容整合、策划、选题、编辑，跟踪推广效果，整理分析数据并反馈；<br /> 2.&nbsp;负责新媒体平台微信的内容编辑及运营，对接媒体渠道进行投放并跟踪推广效果；<br /> 3.&nbsp;负责线上产品及专题活动的文案撰写；<br /> 4.&nbsp;协助产品运营，参与公司整体品牌、产品的营销策划与市场推广；<br /> 【职位要求】：<br /> 1.&nbsp;中文、新闻、广告、传播等相关专业大专及以上学历；<br /> 2.&nbsp;1年以上工作经验，对互联网建筑行业有足够的兴趣和爱好；<br /> 3.&nbsp;具有一定的写作功底，擅长内容的选题、编辑、策划工作；<br /> 4.&nbsp;熟悉产品运营或有建筑行业新媒体工作经验者优先；<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">七、人事专员</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：面议</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1、根据现有编制及业务发展需求，协调、统计各部门的招聘需求，制定分公司招聘计划；&nbsp;<br /> 2、充分利用各种招聘渠道满足公司的人才需求；&nbsp;&nbsp;&nbsp;<br /> 3、执行招聘、甄选、面试、选择、安置工作；&nbsp;<br /> 4、进行聘前测试和简历甄别工作；&nbsp;&nbsp;<br /> 5、负责员工日常劳动纪律、考勤、绩效考核工作，并办理员工晋升、奖惩等人事手续；<br /> 7、日常人事行政事务；<br /> 【职位要求】：<br /> 1、大专及以上学历，1-2年工作经验，有技术人才猎头/互联网行业工作背景者优先；<br /> 2、熟悉各种招聘渠道，善于整合资源，较好的洞察及辨析能力；<br /> 3、优秀的分析问题。解决问题思维和能力，优秀沟通表达能力；<br /> 4、积极主动，责任心强，工作踏实，有较好的抗压能力；<br /> 5、外表端庄大方，普通话流利。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">八、销售代表</h3>
     <p></p> 
     <p>【招聘人数】：不限</p> 
     <p>【薪资范围】：5~10K</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【岗位职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1、通过电话与目标客户进行沟通,筛选意向客户；&nbsp;<br /> 2、开发和跟进客户,不断发现自身沟通障碍，学习掌握销售技能。<br /> 3、完善业务知识，为建筑企业提供高端建筑人才、证书办理等企业级服务。<br /> 4、客户回款及市场信息分析,完成部门主管制定的销售业绩。&nbsp;<br /> 【任职要求】:<br /> 1、22-30周岁之间,大专及以上学历，1-2年销售经验；<br /> 2、普通话标准、口齿清晰,有较强的沟通能力和学习能力；<br /> 3、抗压能力强，工作严谨、有责任心。<br /> 晋升之路：见习销售—销售代表—高级销售—销售主管<br /> </p>
     <br /> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  
 </body>
</html>