<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质管家-免责声明</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于资质管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <div class="about_center_title" style="margin:25px 25px 0 25px;"> 
      <h5 class="noBold" style="font-weight:bold; color:#333;">服务条款<span>Terms of Service</span></h5> 
     </div>
     <br /> 
     <p style="margin:0 25px;">欢迎使用资质管家！任何使用资质管家的用户均应仔细阅读本声明，用户可选择不使用资质管家，用户使用资质管家的行为，包括进入资质管家主页及各层页面将被视为对本声明全部内容的认可。</p>
     <br /> 
     <p style="margin:0 25px;">资质管家所有刊登内容，以及所提供的信息资料，目的是为了更好地服务我们的访问者，本网站不保证所有信息、文本、图形、链接及其它 项目的绝对准确性和完整性，故仅供访问者参照使用。</p>
     <br /> 
     <p style="margin:0 25px;">资质管家不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不做担保。对于因不可抗力或资质管家不能控制的原因造成的网络服务中断或其他缺陷，资质管家不承担任何责任，但将尽力减少因此而给用户造成的损失和 影响.资质管家严格保障用户隐私权，对上网用户的个人信息保密，未经上网用户同意不得向他人泄露，但法律另有规定的除外.用户自愿注册个人信息，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。注册个人信息的用户同意资质管家对这些信息进行善意利用。用户明确同意其使用资质管家网络服务所存在的风险将完全由其自己承担。</p>
     <br /> 
     <p style="margin:0 25px;">任何单位或个人认为通过资质管家的内容（或通过资质管家到的第三方内容：例如，口袋资源分享）可能涉嫌侵犯其合法权益，应该及时向资质管家书面反馈，并提供身份证明、权属证明及详细侵权情况证明，资质管家在收到上述法律文件后，将会尽快删除被控侵权内容。</p>
     <br /> 
     <p style="margin:0 25px;">除资质管家注明之服务条款外，其它因使用资质管家而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识产权侵犯及其所造成的各种损失 （包括因下载而感染电脑病毒），资质管家概不负责，亦不承担任何法律责任。</p>
     <br /> 
     <p style="margin:0 25px;">任何透过资质管家网页而链接及得到之资讯、产品及服务，资质管家概不负责，亦不负任何法律责任。</p>
     <br /> 
     <p style="margin:0 25px;">资质管家内所有内容并不反映任何资质管家之意见及观点。</p>
     <br /> 
     <p style="margin:0 25px;">资质管家适用于中华人民共和国法律法规规定的其它有关免责规定。</p>
     <br /> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
 </body>
</html>