<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>行业资讯</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zs/" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zs/" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zs/" /> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 

<style type="text/css">
    
</style>
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/header" />

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tag.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/IndexReg.css" /> 
  <div class="zsbase" style="padding-top:0px"> 
   <div class="details-nav"> 
    <h2 style="margin-left:6px;"> 您当前的位置：<a href="http://www.zizhiguanjia.com/" title="资质管家">资质管家</a><span> &gt; </span><a href="news.html" title="知识库">知识库</a> </h2> 
   </div> 
   <div class="zsbase-con"> 
    <div class="zsbase-b"> 


        <!-- 引用 -->
        <include file="_news_left" />


    </div> 


    <div class="zsbase-r">
        <ul style="margin:25px;">
            <li class="li" style="background:url(__PUBLIC__/Home/images/xtb1.gif) no-repeat; background-position:left;">和“{$tags_info.title}”相关的文章</li>

            <foreach name="list" item="vo">
                <li>
                  <div class="kn-time">
                      <a href="{:U('Home/Index/news',array('type'=>$vo['type']))}" style="color:#fff; margin:0; padding:0;">
                          <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;">{$vo.type}</span></a>
                      <h3>
                          <a style="width: 600px; color: #333;" href="{:U('Home/Index/news_detail',array('id'=>$vo['id']))}" title="{$vo.title}" target="_blank">{$vo.title}</a>
                          <span>
                              <i class="icon-k2"></i>发布时间：{$vo.time}</span>
                          <span>
                              <i class="icon-k1"></i>浏览：{$vo.eye}</span>
                          <span>
                              <i class="icon-k3"></i>标签： 
                              <foreach name="vo['_child']" item="v">
                                  {$v.title}<label>&nbsp;&nbsp;</label>
                              </foreach>
                          </span>
                      </h3>
                  </div>
                  <p>{$vo.desc}</p>
              </li>
            </foreach>


            
        </ul>
        <link href="__PUBLIC__/Home/css/Page.css" rel="stylesheet" type="text/css" /> 
        <div class="pages">
            {$page}
        </div>
    </div>

    
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
 </body>
</html>