<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资讯详情</title> 
 </head>
 <body>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="Cache-Control" content="no-transform" /> 
    
    <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zs/7186.html" /> 
    <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zs/7186.html" /> 
    <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zs/7186.html" /> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">

    <!-- 引用 -->
    <include file="Common/header" />


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/base.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/company1.css" /> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/tag.css" /> 
  <link href="__PUBLIC__/Home/css/IndexReg.css" rel="stylesheet" /> 
    <style>
    #zhizgj_left {
        float: none !important;
        background: url(__PUBLIC__/Home/images/zzdd_right_img.jpg) #ffcc33 no-repeat;
        background-position: 0 100%;
        background-size: 300px 104px;
    }

    .right-bd {
        background: #fff !important;
        margin-top: 10px !important;
    }
</style> 
    <div class="details-bg-dis"> 
     <div class="details-nav"> 
      <h2> 
       <ul class="yiji_ul"> 
        <li>您当前的位置：</li> 
        <li><a href="{:U('Home/Index/index')}" title="建筑管家">建筑管家</a></li> 
        <li><span> &gt; </span></li> 
        <li><a href="{:U('Home/Index/news', array('type'=>1351))}" title="知识库">知识库</a></li> 
        <li><span>&gt;</span></li> 
        <li> 
         <div class="divSelect"> 
          <div class="yiji_class"> 
           <img src="__PUBLIC__/Home/images/xtb.png" class="img_trigon" data-bd-imgshare-binded="1" /> 
           <a href="{:U('Home/Index/news', array('type'=>1351))}" title="行业新闻">行业新闻</a> 
          </div> 
          <div id="line_1" class="class2"></div> 
          <ul class="erji_ul"> 
           <div id="div_option" class="class2"> 
            <li><a href="{:U('Home/Index/news', array('type'=>1351))}" title="政策动态">政策动态</a></li> 
            <li><a href="{:U('Home/Index/news', array('type'=>1351))}" title="资质百科">资质百科</a></li> 
           </div> 
          </ul> 
         </div> </li> 
        <li>&gt;</li> 
        <li><em> 全面解析2017年安全生产许可证延期办理材料！</em></li> 
       </ul> </h2> 
     </div> 
     <div class="container"> 
      <div class="details-con"> 
       <div class="xiangqy_jsq" style="display: none;"> 
        <h3><span class="biaot_xian">—————</span>资质代办多少钱？ <span style="color:#00af62;">10秒</span>获取在线智能报价<span class="biaot_xian">—————</span></h3> 
        <form id="form1" name="form1" method="post" action="" class="xinq_jisq_biand"> 
         <input value="0" id="hid_SubjectPType1" type="hidden" /> 
         <input value="0" id="hid_majorLevel1" type="hidden" /> 
         <input value="0" id="hid_SubjectType1" type="hidden" /> 
         <div class="xiangqy_xuanzz"> 
          <ul> 
           <li> <select name="SubjectPid" id="SubjectPType_" onfocus="Add(4,1)"> <option value="0">请选择资质类型</option> <option value="1">施工总承包资质</option> <option value="2">专业承包资质</option> </select> </li> 
           <li> <select name="SubjectId" id="SubjectType_" onfocus="Add(4,2)"><option value="0" selected="selected">请选择资质专业</option></select> </li> 
           <li> <select name="SubjectLv" id="SubjectLv_" onfocus="Add(4,3)"> <option value="0" selected="selected">请选择专业等级</option> </select> </li> 
          </ul> 
          <div style="clear:both"></div> 
          <div class="xiangqy_jis"> 
           <input value="开始计算" class="xiangqy_jis_ann" onclick="Add(4,4)" type="button" /> 
          </div> 
         </div> 
         <div class="jisq_baoj"> 
          <p class="xiangqy_baoj_wenz">您的资质代办预算约：<span class="jisq_yusbj">请选择资质类型、专业及等级</span><span id="wy"></span></p> 
          <p class="xianqy_jisqbj_tix">该价格仅以北京地区为参考，精准价格请以资质代办公司报价为准</p> 
          <p class="xiangqy_jisq_qitlj"><a href="baojia.html" target="_blank">查看报价详情&gt;&gt;</a><a href="daiban.html" target="_blank">资质代办公司&gt;&gt;</a><a href="zizhibiaozhun.html" target="_blank">了解资质标准&gt;&gt;</a></p> 
         </div> 
        </form> 
       </div> 
       <div style="height:10px; width: 100%; background-color: #efeff0;"></div> 
       <h1>{$row.title} </h1> 
       <div class="details-tag"> 
        <span> <span>关键词：{$row.tag} </span> <span>时间：{$row.time} &nbsp;&nbsp;&nbsp;&nbsp;点击：
          <lable id="hits">
           {$row.eye} 
          </lable>次</span> <span>来源：{$row.from} </span> </span> 
       </div> 
       <div class="desc" style="text-indent: 2em;"> 
        <label>摘要:</label>&nbsp;&nbsp;{$row.desc} 
       </div> 
       <div class="cont"> 
            {$row.content}
       </div> 
       <div class="Keyword"> 
        <div style="float:right">
         <!--百度分享代码--> 
         <div class="bdsharebuttonbox bdshare-button-style0-16" style="padding-left:30px;" data-bd-bind="1499955454646">
          <label style="font-size:13px;float:left;padding:10px; margin-top:-5px;">分享到:</label>
          <a href="javascript:void(0)" class="bds_more" data-cmd="more"></a>
          <a href="javascript:void(0)" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
          <a href="javascript:void(0)" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
          <a href="javascript:void(0)" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
         </div> 
         <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "http://www.zizhiguanjia.comimages/wx.jpg", "bdStyle": "0", "bdSize": "16" }, "share": {}, "image": { "viewList": ["weixin", "tsina", "qzone"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["weixin", "tsina", "qzone"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script> 
        </div> 
        <p style="font-size:12px;display:inline"> 【编辑：amanda】 <a href="news_detail.html?tag-aqscxkz/" title="安全生产许可证-建筑管家">安全生产许可证</a> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>本文链接：</span> <a href="news_detail.html?7186.html" title="全面解析2017年安全生产许可证延期办理材料！-建筑管家">href="news_detail.html?7186.html</a> </p> 
       </div> 
       <div class="details-dt"> 
        <span>上一篇：</span>
        <a href="news_detail.html?7185.html" title="古建筑资质质如何办理">古建筑资质质如何办理</a>
        <br /> 
        <span>下一篇：</span>
        <a href="news_detail.html?7187.html" title="办理安防工程三级资质注意事项">办理安防工程三级资质注意事项</a> 
       </div> 
       <div class="xiangqy_zhongjru" style="display: none;"> 
        <div class="xiangqy_zhongjru_list"> 
         <div style="width:130px; margin:0px;">
          我是建筑企业：
         </div> 
         <div>
          <a href="" target="_blank">免费获资质报价&gt;&gt;</a>
         </div> 
         <div>
          <a href="" target="_blank">免费寻人才证书&gt;&gt;</a>
         </div> 
         <div style="clear:both"></div> 
        </div> 
        <div class="xiangqy_zhongjru_list"> 
         <div style="width:130px; margin:0px;">
          我是服务中介：
         </div> 
         <div>
          <a href="reg.html" target="_blank">免费入驻平台&gt;&gt;</a>
         </div> 
         <div>
          <a href="http://resume.58guakao.com/resumet59c0p1.html" target="_blank">轻松查找证书&gt;&gt;</a>
         </div> 
         <div style="clear:both"></div> 
        </div> 
        <div style="clear:both"></div> 
       </div> 
       <div class="details-conbd" style="height: auto;display: none;"> 
        <p>刚看完<a href="news_detail.html?7186.html" title="全面解析2017年安全生产许可证延期办理材料！">【全面解析2017年安全生产许可证延期办理材料！】</a>正在看以下内容：</p> 
        <ul> 
         <li style="background-image:none;"> <a href="news_detail.html?zzdb/" style="color:#fff; margin:0;padding: 0px 5px;"> <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;font-size: 12px;float: left;text-align: center;padding-left: 0px; padding-right:0px">行业新闻</span> </a> <a href="news_detail.html?7396.html" title="市政资质代理"> 市政资质代理 </a> 2017-07-13 19:00:47 </li> 
         <li style="background-image:none;"> <a href="news_detail.html?zzdb/" style="color:#fff; margin:0;padding: 0px 5px;"> <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;font-size: 12px;float: left;text-align: center;padding-left: 0px; padding-right:0px">行业新闻</span> </a> <a href="news_detail.html?7395.html" title="建筑企业资质年审"> 建筑企业资质年审 </a> 2017-07-13 18:53:57 </li> 
         <li style="background-image:none;"> <a href="news_detail.html?zzdb/" style="color:#fff; margin:0;padding: 0px 5px;"> <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;font-size: 12px;float: left;text-align: center;padding-left: 0px; padding-right:0px">行业新闻</span> </a> <a href="news_detail.html?7394.html" title="承装修试电力资质代办"> 承装修试电力资质代办 </a> 2017-07-13 18:46:10 </li> 
         <li style="background-image:none;"> <a href="news_detail.html?zzdb/" style="color:#fff; margin:0;padding: 0px 5px;"> <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;font-size: 12px;float: left;text-align: center;padding-left: 0px; padding-right:0px">行业新闻</span> </a> <a href="news_detail.html?7393.html" title="公路工程资质等级标准"> 公路工程资质等级标准 </a> 2017-07-13 18:17:26 </li> 
         <li style="background-image:none;"> <a href="news_detail.html?zzdb/" style="color:#fff; margin:0;padding: 0px 5px;"> <span class="span" style="background:url(__PUBLIC__/Home/images/xtb2.gif) no-repeat; background-position:left;width: 105px;font-size: 12px;float: left;text-align: center;padding-left: 0px; padding-right:0px">行业新闻</span> </a> <a href="news_detail.html?7392.html" title="电子与智能化资质代办"> 电子与智能化资质代办 </a> 2017-07-13 17:11:55 </li> 
        </ul> 
       </div> 
       <div class="footer-link clear" style="border:1px solid #eaeaea;width:900px;padding:20px;display: none;"> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">资质百科 :</span> 
         <div style="display:block;margin-left:63px;"> 
          <ul> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="二级资质办理多少钱" href="news_detail.html?7263.html">二级资质办理多少钱</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="施工许可证办理费用" href="news_detail.html?7266.html">施工许可证办理费用</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="办二级建筑资质多少钱" href="news_detail.html?7268.html">办二级建筑资质多少钱</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="装修装饰资质三级标准" href="news_detail.html?7322.html">装修装饰资质三级标准</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="环保咨询公司经营范围" href="news_detail.html?7313.html">环保咨询公司经营范围</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="幕墙设计资质标准" href="news_detail.html?7329.html">幕墙设计资质标准</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="建筑幕墙工程资质标准" href="news_detail.html?7283.html">建筑幕墙工程资质标准</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="装饰公司资质怎么办理" href="news_detail.html?7330.html">装饰公司资质怎么办理</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="办理施工许可证的费用" href="news_detail.html?7270.html">办理施工许可证的费用</a></li> 
           <li style="margin-left: 25px; float: left;"><a target="_blank" title="安全生产许可证的作用" href="news_detail.html?7315.html">安全生产许可证的作用</a></li> 
          </ul> 
         </div> 
        </div> 
        <div style="width:100%;" class="clear"> 
         <span style="float:left;font-size:14px;line-height:27px;color:black">热门搜索 :</span> 
         <div style="display:block;margin-left:63px;"> 
          <ul> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="装修资质代办" href="http://www.zizhiguanjia.com/zxzzdb/">装修资质代办</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="系统集成资质办理" href="http://www.zizhiguanjia.com/xtjczzbl/">系统集成资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="电力设计资质代办" href="http://www.zizhiguanjia.com/dlsjzzdb/">电力设计资质代办</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="物业公司资质办理" href="http://www.zizhiguanjia.com/wygszzbl/">物业公司资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="建筑设计资质办理" href="http://www.zizhiguanjia.com/jzsjzzbl/">建筑设计资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="建筑施工资质办理" href="http://www.zizhiguanjia.com/jzsgzzbl/">建筑施工资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="消防维保资质办理" href="http://www.zizhiguanjia.com/xfwbzzbl/">消防维保资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="消防检测资质办理" href="http://www.zizhiguanjia.com/xfjczzbl/">消防检测资质办理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="劳务派遣许可证代办" href="http://www.zizhiguanjia.com/lwpqxkzdb/">劳务派遣许可证代办</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="装修资质代理" href="http://www.zizhiguanjia.com/zxzzdl/">装修资质代理</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="监理企业资质" href="http://www.zizhiguanjia.com/jlqyzz/">监理企业资质</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="建筑八大员有哪些" href="http://www.zizhiguanjia.com/jzbdyynx/">建筑八大员有哪些</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="门窗资质代办" href="http://www.zizhiguanjia.com/mczzdb/">门窗资质代办</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="机电安装三级资质" href="http://www.zizhiguanjia.com/jdazsjzz/">机电安装三级资质</a></li> 
           <li style="margin-left:25px; float:left; "><a target="_blank" title="二级资质办理多少钱" href="http://www.zizhiguanjia.com/ejzzbldsq/">二级资质办理多少钱</a></li> 
          </ul> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="details-cons"> 
       <div class="sec_topr_bd" id="fixed-block"> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
        <div id="zhizgj_left"> 
         <!-- 右侧引用 -->
          <include file="_company_r_daiban" />
        </div> 
       </div> 
       <div class="zsbase-l" style="margin-top:10px; float:none;width:300px;"> 
        <div class="right-bd-p" style="margin:10px 10px 5px 15px; padding-top:10px;height:43px;"> 
         <p>快速导航</p> 
        </div> 
        <dl style="color:#444; padding: 20px 10px 20px 15px; width:280px; min-height:120px;"> 
         <a href="{:U('Home/Index/daiban')}" title="办资质" class="a1">办资质</a> 
         <a href="{:U('Home/Index/news',array('type'=>1351))}" title="政策动态">政策动态</a> 
         <a href="{:U('Home/Index/news',array('type'=>1352))}" title="资质百科">资质百科</a> 
         <a href="{:U('Home/Index/news',array('type'=>1353))}" title="行业新闻">行业新闻</a> 
        </dl> 
       </div> 
        
      </div> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


    <!-- 引用 -->
    <include file="Common/footer" />



    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/AddClick.js"></script> 

    <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/area_data.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/Area.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/subject_data.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/subject_data_method.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/index_reg.js?v=20151110"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/knowledge_info.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/tab.js"></script> 
    <script>
        //_HotArticle
        $(document).ready(function () {
            var tab = new Tab();
            tab.cutTab($(".right-bd-p span"), $(".right-bd-p").children("span"), $(".right-bd").children("ul[class='wpp-list item']"), "right-bd-span-on");
        })
    </script> 
 </body>
</html>