<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>行业资讯</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zs/" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zs/" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zs/" /> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 

<style type="text/css">
    
</style>
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/header" />

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/tag.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/IndexReg.css" /> 
  <div class="zsbase" style="padding-top:0px"> 
   <div class="details-nav"> 
    <h2 style="margin-left:6px;"> 您当前的位置：<a href="http://www.zizhiguanjia.com/" title="资质管家">资质管家</a><span> &gt; </span><a href="news.html" title="知识库">知识库</a> </h2> 
   </div> 
   <div class="zsbase-con"> 
    <div class="zsbase-b"> 
     <div class="zzbz" style="background-color:#fff;"> 
          <div class="icon-knowl1"></div> 
          <div class="icon-knowl2"></div> 
          <b>知识库<span style="display:inline">knowledge base</span></b>
          <span style="display:block">

              <foreach name="news_type" item="v">
                  <h2 <if condition="$_GET['type'] eq $v['id']">class="on"</if>><a href="{:U('Home/Index/news',array('type'=>$v['id']))}" title="{$v.title}">{$v.title}</a></h2>
              </foreach>
             
          </span>
     </div> 
     <div class="zsbase-l" style="margin-top:10px;"> 
      <div class="icon-knowl1"></div> 
      <div class="icon-knowl2"></div> 
      <b style="font-size:16px;"><a href="news_detail.html?tag/">热门标签</a></b> 
      <ol style="color:#444; padding: 10px 10px 20px 15px; width:210px; height:auto;"> 
       <a href="news_detail.html?tag-zzbz/" title="资质标准-资质管家">资质标准</a> 
       <a href="news_detail.html?tag-fdczz/" title="房地产资质-资质管家" style="font-size:20px;">房地产资质</a> 
       <a href="news_detail.html?tag-gcsjzz/" title="工程设计资质-资质管家" style="font-size:20px;">工程设计资质</a> 
       <a href="news_detail.html?tag-fdckfzz/" title="房地产开发资质-资质管家" style="font-size:18px;">房地产开发资质</a> 
       <a href="news_detail.html?tag-zzsj/" title="资质升级-资质管家" style="font-size:20px;">资质升级</a> 
       <a href="news_detail.html?tag-aqscxkz/" title="安全生产许可证-资质管家" style="font-size:20px;">安全生产许可证</a> 
       <a href="news_detail.html?tag-zzbl/" title="资质办理-资质管家">资质办理</a> 
       <a href="news_detail.html?tag-gckczz/" title="工程勘察资质-资质管家">工程勘察资质</a> 
       <a href="news_detail.html?tag-zycbzz/" title="专业承包资质-资质管家">专业承包资质</a> 
       <a href="news_detail.html?tag-zzjw/" title="资质就位-资质管家" style="font-size:18px;">资质就位</a> 
       <a href="news_detail.html?tag-jzzzdb/" title="建筑资质代办-资质管家">建筑资质代办</a> 
       <a href="news_detail.html?tag-zzdb/" title="资质代办-资质管家" style="font-size:26px;">资质代办</a> 
       <a href="news_detail.html?tag-jzzz/" title="建筑资质-资质管家" style="font-size:18px;">建筑资质</a> 
       <a href="news_detail.html?tag-zzhzzz/" title="资质换证-资质管家">资质换证</a> 
       <a href="news_detail.html?tag-zzzs/" title="资质证书-资质管家">资质证书</a> 
       <a href="news_detail.html?tag-sglwzz/" title="施工劳务资质-资质管家" style="font-size:20px;">施工劳务资质</a> 
       <a href="news_detail.html?tag-yllhzz/" title="园林绿化资质-资质管家" style="font-size:20px;">园林绿化资质</a> 
       <a href="news_detail.html?tag-gcjlzz/" title="工程监理资质-资质管家" style="font-size:18px;">工程监理资质</a> 
       <a href="news_detail.html?tag-zszxzz/" title="装饰装修资质_建筑装修装饰施工资质_建筑装修装饰工程专业总承包资质-资质管家" style="font-size:18px;">装饰装修资质</a> 
       <a href="news_detail.html?tag-hbzz/" title="环保资质_环保工程资质代办_环保工程专业承包资质_环保资质办理-资质管家">环保资质</a> 
       <a href="news_detail.html?tag-wyglzz/" title="物业管理资质-资质管家" style="font-size:18px;">物业管理资质</a> 
       <a href="news_detail.html?tag-gczbdlzz/" title="工程招标代理资质-资质管家">工程招标代理资质</a> 
       <a href="news_detail.html?tag-afgczz/" title="安防工程资质-资质管家">安防工程资质</a> 
       <a href="news_detail.html?tag-dljzzz/" title="代理记账-资质管家" style="font-size:18px;">代理记账</a> 
       <a href="news_detail.html?tag-zcgs/" title="注册公司-资质管家">注册公司</a> 
       <a href="news_detail.html?tag-gszczz/" title="公司注册-资质管家">公司注册</a> 
       <a href="news_detail.html?tag-szgczz/" title="市政工程资质_市政工程施工资质_市政公用工程资质-资质管家" style="font-size:18px;">市政工程资质</a> 
       <a href="news_detail.html?tag-dlsgzz/" title="电力施工资质_电力工程施工资质代办_电力施工总承包资质-资质管家">电力施工资质</a> 
       <a href="news_detail.html?tag-gjzzz/" title="古建筑资质_古建筑施工资质代办_古建筑工程专业承包资质-资质管家">古建筑资质</a> 
       <a href="news_detail.html?tag-mqzz/" title="幕墙资质_幕墙资质升级_建筑幕墙工程资质代办-资质管家">幕墙资质</a> 
       <a href="news_detail.html?tag-slsdzz/" title="水利施工资质_机电安装资质_水利水电机电安装工程资质代办-资质管家">水利水电资质</a> 
       <a href="news_detail.html?tag-txgczz/" title="通信工程资质_通信工程施工资质代办_通信工程总承包资质-资质管家">通信工程资质</a> 
       <a href="news_detail.html?tag-csdlzmzz/" title="城市道路照明资质_道路照明施工资质代办_城市及道路照明专业承包资质-资质管家">城市道路照明资质</a> 
       <a href="news_detail.html?tag-jzsgzz/" title="建筑工程资质_房屋建筑工程资质_建筑施工总承包资质-资质管家" style="font-size:26px;">建筑施工资质</a> 
       <a href="news_detail.html?tag-jdsbazzz/" title="机电设备安装资质_建筑机电设备安装资质_建筑机电安装工程专业承包资质-资质管家" style="font-size:18px;">机电设备安装资质</a> 
       <a href="news_detail.html?tag-gczjzxzz/" title="工程造价咨询资质-资质管家">工程造价咨询资质</a> 
       <a href="news_detail.html?tag-glgcsgzz/" title="公路工程资质_公路施工资质代办_公路工程施工资质-资质管家">公路工程施工资质</a> 
       <a href="news_detail.html?tag-gjggczz/" title="钢结构资质_钢结构工程资质代办_钢结构工程专业承包资质-资质管家">钢结构工程资质</a> 
       <a href="news_detail.html?tag-xfssgczz/" title="消防施工资质_消防设施工程资质_消防施工资质代办_消防工程资质标准-资质管家">消防设施工程资质</a> 
       <a href="news_detail.html?tag-djyjcsgzz/" title="地基基础施工资质_地基基础工程资质代办_地基基础专业承包资质-资质管家">地基与基础施工资质</a> 
       <a href="news_detail.html?tag-fsffbwgczz/" title="建筑防水工程资质_防腐保温工程资质代办_防水防腐保温保温工程资质-资质管家">防水防腐保温工程资质</a> 
       <a href="news_detail.html?tag-dzyznhgczycbzz/" title="电子与智能化工程资质_建筑智能化工程资质_电子与智能化工程专业承包资质-资质管家">电子与智能化工程专业承包资质</a> 
       <a href="news_detail.html?tag-tzzygczz/" title="特种专业工程资质_特种工程专业承包资质_特种工程装也承包资质代办-资质管家">特种专业工程资质</a> 
       <a href="news_detail.html?tag-sbdgczz/" title="输变电资质_输送变电施工资质代办_输变电工程专业承包资质-资质管家">输变电工程资质</a> 
       <a href="news_detail.html?tag-zzxz/" title="资质新政-资质管家" style="font-size:18px;">资质新政</a> 
      </ol> 
     </div> 
    </div> 
    <div class="zsbase-r"> 
     <ul style="margin:25px;"> 

          <foreach name="list" item="v">
              <li>
                  <div class="kn-time">
                      <h3>
                          <a style="width: 600px; color: #333;" href="{:U('Home/Index/news_detail',array('id'=>$v['id']))}" title="{$v.title}" target="_blank">{$v.title}</a>
                          <span>
                              <i class="icon-k2"></i>发布时间：{$v.time}</span>
                          <span>
                              <i class="icon-k1"></i>浏览：{$v.eye}</span>
                          <span>
                              <i class="icon-k3"></i>标签： {$v.tag}
                              <label>&nbsp;&nbsp;</label></span>
                      </h3>
                  </div>
                  <p>{$v.desc}</p>
              </li>
          </foreach>
          
     </ul> 
     <link href="__PUBLIC__/Home/css/Page.css" rel="stylesheet" type="text/css" /> 
     <div class="pages"> 
        {$page}
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  

  <!-- 头部引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
 </body>
</html>