<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质代办</title> 
  <meta name="keywords" content="资质代办公司,代办资质公司,建筑企业资质代办,建筑公司资质办理" /> 
  <meta name="description" content="建筑管家是一家拥有上千家正规资质代办公司的平台，为企业提供公司资质代办、公司建筑资质办理、代理企业资质办理等等想要了解资质代办费用及资质办理标准就上建筑管家。" /> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/zizhi/" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/zizhi/" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/zizhi/" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
  <style>
      .layui-form-item{margin-bottom: 0px;}
  </style>
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/header" />


  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/company1.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/company_list.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/Home/css/IndexReg.css" rel="stylesheet" /> 
  <!--主模块开始--> 
  <div class="container"> 
   <div class="company_l"> 
    <div class="zgs_select_type"> 
     <input id="popsub" name="popsub" value="3" type="hidden" /> 
     <input id="AreaId" name="AreaId" value="393" type="hidden" /> 
     <h1 class="zgs_meitu_nav"> 
      <ul> 
       <li class="has_arrow"> <a href="daiban.html"> <h2 style="font-weight:normal">资质代办公司</h2> </a> <span class="nav_arrow_right"></span> </li> 
       <if condition="$fit_1_info||$fit_2_info||$fit_3_info||$fit_3_info">
          <if condition="$fit_1_info">
              <li class="nav_type_select"> <a href="">{$fit_1_info.title}</a> </li>
          </if>
          <if condition="$fit_2_info">
              <li class="nav_type_select"> <a href="">{$fit_2_info.title}</a> </li>
          </if>
          <if condition="$fit_3_info">
              <li class="nav_type_select"> <a href="">{$fit_3_info.province}</a> </li>
          </if>
          <if condition="$fit_4_info">
              <li class="nav_type_select"> <a href="">{$fit_4_info.city}</a> </li>
          </if>
       <else/>
          <li class="nav_type_select"> <a href="">全国</a> </li>
       </if>
        
        
      </ul> <em> 共 {$count} 个资质代办公司</em> </h1> 

     
      <form id="filterForm" name="form1" method="get" action="{:U('Home/Index/safe')}">
         <input id="fit_1" type="hidden" value="" name="fit_1" to="filter">
         <input id="fit_3" type="hidden" value="" name="fit_3" to="filter">
         <input id="fit_4" type="hidden" value="" name="fit_4" to="filter">
      </form>


      <dl class="zgs_st_dl" id="proId">
          <dt>办理类型</dt>
          <dd>
              <foreach name="type" item="v">
                  &nbsp; <a fit_1="{$v.id}" href="javascript:Filter('fit_1','{$v.id}');">{$v.title}</a>&nbsp;  
              </foreach>
          </dd>
      </dl>

      <dl class="zgs_st_dl" id="proId">
          <dt>省　　市</dt>
          <dd>
              <foreach name="province" item="v">
                  &nbsp; <a fit_3="{$v.provinceid}" href="javascript:Filter('fit_3','{$v.provinceid}');">{$v.province}</a>&nbsp; 
              </foreach>
          </dd>
      </dl>

      <dl class="zgs_st_dl" <if condition="!$city">style="display:none;"</if>>
          <dt>地　　区</dt>
          <dd>
              <foreach name="city" item="v">
                  &nbsp; <a fit_4="{$v.cityid}" href="javascript:Filter('fit_4','{$v.cityid}');">{$v.city}</a>&nbsp; 
              </foreach>
          </dd>
      </dl>
    </div> 
    <div class="zgs_rank"> 
     <ul style="position:relative;"> 
      <li> <a class="on " href="{:U('Home/Index/safe')}"> <h3>综合排序</h3> </a> </li> 
      <li> <a class="" href="{:U('Home/Index/safe')}"> <h3>口碑飙升榜</h3> <i></i> </a> </li> 
      <li class="rz" style="position: absolute; right: 10px; top: -7px; border: 0; "> <a href="{:U('Home/User/register')}" target="_blank" rel="nofollow"> <img alt="我要入驻" src="__PUBLIC__/Home/images/rz.png" onclick="Add(2,1)" /> </a> </li> 
     </ul> 
    </div> 
    <div class="company_list"> 
         <ul> 

            <foreach name="list" item="v">
               <li>
                   <div class="zgscl_container">
                       <div class="zgscl_left">
                           <a class="zgscl_logo" target="_blank" href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">
                               <img alt="{$v.company_name}" src="{$v.company_logo}" /></a>
                           <span class="zgscl_zix_num">已有
                               <i>25625</i>人咨询</span>
                       </div>
                       <div class="zgsclc_data">
                           <span class="zd_one">
                               <h4>
                                   <a class="zgscl_name" target="_blank" href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">{$v.company_name}</a>
                                   <span class="zizhi_yingyzz" title="营业执照已认证">营</span>
                                   <span class="zizhi_chenggalrz" title="成功案例已认证">认</span></h4>
                           </span>
                           <!-- 主营业务 -->
                           <span class="zd_five">
                               <i>
                               </i>
                               <p>
                                  <foreach name="v['_company_types']" item="vo">
                                      <a href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">
                                          <span>{$vo.title}</span>
                                      </a>
                                  </foreach>
                               </p>
                           </span>
                           <span class="zd_three">
                               <div class="clear" style="height:0;"></div>
                               <i title="{$v.company_address}">地址：{$v.company_address}</i></span>
                           <span class="zd_four">
                               <p class="tel">
                                   <em></em>
                                   <font id="4417">{$v._contact_phone}</font>
                                   <i class="4417">[
                                       <b class="showPhone" contact_phone="{$v.contact_phone}">查看</b>]
                                   </i>
                                </p>
                           </span>
                       </div>
                       <div class="zgsclc_koubei">
                           <div class="zzdb_fuwcgqy" title="近期成功服务建企"></div>
                           <div class="zgsclc_koubei_hp">
                               <span class="zzdb_koubz">口碑值
                                   <i>11543</i>
                               </span>
                               <span>接单率
                                   <i>100.00%</i>
                               </span>
                               <p>诚信认证
                                   <em></em>
                                   <em></em>
                                   <em></em>
                                   <em></em>
                                   <em></em>
                               </p>
                               <a class="free_design" href="{:U('Home/Gongsi/index',array('cid'=>$v['id']))}">免费获取报价</a></div>
                       </div>
                   </div>
               </li>
           </foreach>
              
         </ul> 

    </div> 
    <link href="__PUBLIC__/Home/css/Page.css" rel="stylesheet" type="text/css" /> 
    <div class="pages"> 
        {$page}
    </div> 
    <div class="footer-link clear" style="border:1px solid #eaeaea;width:900px;padding:20px;display:none;"> 
     <div style="width:100%;" class="clear"> 
      <span style="float:left;font-size:14px;line-height:27px;color:black">热门城市 :</span> 
      <div style="display:block;margin-left:63px;"> 
       <ul> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="天津建筑资质代办" href="http://www.zizhiguanjia.com/tianjin-zizhi/">天津建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="四川建筑资质代办" href="http://www.zizhiguanjia.com/sichuan-zizhi/">四川建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="重庆建筑资质代办" href="http://www.zizhiguanjia.com/zhongqing-zizhi/">重庆建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="山东建筑资质代办" href="http://www.zizhiguanjia.com/shandong-zizhi/">山东建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="云南建筑资质代办" href="http://www.zizhiguanjia.com/yunnan-zizhi/">云南建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="河南建筑资质代办" href="http://www.zizhiguanjia.com/henan-zizhi/">河南建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="广东建筑资质代办" href="http://www.zizhiguanjia.com/guangdong-zizhi/">广东建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="江苏建筑资质代办" href="http://www.zizhiguanjia.com/jiangsu-zizhi/">江苏建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="黑龙江建筑资质代办" href="http://www.zizhiguanjia.com/heilongjiang-zizhi/">黑龙江建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="湖北建筑资质代办" href="http://www.zizhiguanjia.com/hubei-zizhi/">湖北建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="广州建筑资质代办" href="http://www.zizhiguanjia.com/guangzhou-zizhi/">广州建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="哈尔滨建筑资质代办" href="http://www.zizhiguanjia.com/haerbin-zizhi/">哈尔滨建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="济南建筑资质代办" href="http://www.zizhiguanjia.com/jinan-zizhi/">济南建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="哈尔滨建筑资质代办" href="http://www.zizhiguanjia.com/haerbin-zizhi/">哈尔滨建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="武汉建筑资质代办" href="http://www.zizhiguanjia.com/wuhan-zizhi/">武汉建筑资质代办</a></li> 
        <li style="margin-left:25px; float:left; "><a target="_blank" title="郑州建筑资质代办" href="http://www.zizhiguanjia.com/zhengzhou-zizhi/">郑州建筑资质代办</a></li> 
       </ul> 
      </div> 
     </div> 
     <div style="width:100%;" class="clear"> 
      <span style="float:left;font-size:14px;line-height:27px;color:black">热门专业 :</span> 
      <div style="display:block;margin-left:63px;"> 
       <ul> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="资质" href="http://www.zizhiguanjia.com/">资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="公路工程施工资质" href="news_detail.html?834.html">公路工程施工资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="环保资质" href="news_detail.html?2726.html">环保资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="劳务资质" href="news_detail.html?909.html">劳务资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="土石方工程资质" href="news_detail.html?1379.html">土石方工程资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="建造师取消挂靠" href="news_detail.html?4745.html">建造师取消挂靠</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="安防资质办理" href="news_detail.html?1708.html">安防资质办理</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="办理资质升级" href="http://www.zizhiguanjia.com/zsk/tag/zzsj/">办理资质升级</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="施工劳务资质" href="news_detail.html?909.html">施工劳务资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="施工劳务企业资质" href="news_detail.html?3696.html">施工劳务企业资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="市政监理资质" href="news_detail.html?4427.html">市政监理资质</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="安防资质代办" href="news_detail.html?5958.html">安防资质代办</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="劳务资质办理" href="news_detail.html?3358.html">劳务资质办理</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="资质代办公司" href="http://www.zizhiguanjia.com/">资质代办公司</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="物业资质代办" href="news_detail.html?3586.html">物业资质代办</a></li> 
        <li style="margin-left: 25px; float: left;"><a target="_blank" title="建筑资质代办" href="http://www.zizhiguanjia.com/">建筑资质代办</a></li> 
       </ul> 
      </div> 
     </div> 
     <div style="width:100%;" class="clear"> 
      <span style="float:left;font-size:14px;line-height:27px;color:black">友情链接 :</span> 
      <div style="display:block;margin-left:63px"> 
       <ul> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!--左侧模块结束--> 
   <div class="company_r"> 
        <!-- 右侧引用 -->
        <include file="_company_r_safe" />
   </div> 
   <div class="clear"></div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 头部引用 -->
  <include file="Common/footer" />


 


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/roll.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/AddClick.js"></script> 
  <script src="__PUBLIC__/Home/js/jquery.validate.min.js"></script> 
  <script src="__PUBLIC__/Home/js/CompanyList.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>


  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/area_data.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/Area.js"></script> 
  <script src="__PUBLIC__/Home/js/subject_data.js"></script> 
  <script src="__PUBLIC__/Home/js/subject_data_method.js"></script> 

 </body>
</html>


<script>
 $(function(){
   <?php
      if($_GET){
        echo 'var obj='.json_encode($_GET).';';
      }
   ?>
  if(typeof(obj)!='undefined'){
      for(k in obj){
        $("#"+k).val(obj[k]);
        $("a["+k+"="+obj[k]+"]").addClass("on").siblings().removeClass("on");
      }
  }
 })
</script>
<script>
    function Filter(a,b){
      var $ = function(e){return document.getElementById(e);}
      var ipts = $('filterForm').getElementsByTagName('input'),result=[];
      for(var i=0,l=ipts.length;i<l;i++){
      if(ipts[i].getAttribute('to')=='filter'){
      result.push(ipts[i]);
      }
      }
      if($(a)){
      $(a).value = b;
      for(var j=0,len=result.length;j<len;j++){
      
        if(result[j].value=='' || result[j].value=='0'){
        result[j].parentNode.removeChild(result[j]);
        }
      }
        document.forms['filterForm'].submit();
      }
      return false;
      } 
</script>



<script type="text/javascript">
    $(function(){
        $('.showPhone').click(function(){
            var contact_phone=$(this).attr('contact_phone');

            console.log(contact_phone);
            $(this).parent().prev().html(contact_phone);
        });
    });
</script>

