<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>建筑管家-精英团队</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />



  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于建筑管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" /> 
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <div class="about_center_title" style="margin:25px 25px 0 25px;"> 
      <h5 class="noBold" style="font-weight:bold; color:#333;">精英团队<span>Elite team</span></h5> 
     </div> 
     <div id="content" style="margin:20px 25px 0 25px;"> 
      <p>现有员工近100人，是一支专业强、经验足、有拼劲的年轻团队，热情诚恳是他们的本性，严格自律是他们的素养，专业可靠是他们的优势。</p> 
      <p><b style="background:none; padding-left:0;">建筑管家</b>拥有一支永远充满活力的团队，<br /></p> 
      <p>成员均来自国内正规院校，<br /></p> 
      <p>核心成员多是来自IT、<br /></p> 
      <p>互联网行业的顶尖人才，<br /></p> 
      <p style="margin-bottom:10px;">拥有超过10年的行业服务经验！<br /></p> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 


  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
  
 </body>
</html>