<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>建筑管家-推广服务</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" /> 
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />


  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pub.css" /> 
  <link href="__PUBLIC__/Home/css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于建筑管家<span>ABOUT</span></h1> 
     <ul> 
          <!-- 引用 -->
          <include file="_aboutus_left" />
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <div class="about_left" style="margin:25px 25px 0 25px;"> 
      <div class="about_center_title"> 
       <h5 class="noBold" style="font-weight:bold; color:#333;">推广服务<span>Promotion Service</span></h5> 
      </div> 


      <p style="margin-top:18px;line-height:27px"> 为了让广大用户能在建筑管家上更快、更高效的找到建筑企业客户，本平台经过产品结构调整，服务内容优化，为中介用户推出网络营销一站式推广解决方案。 </p> 
     
      <p>【活动说明】：</p> 

      <p>1. 100元/1张订单劵：500元/5张订单劵；</p> 
      <p>2. 月卡 ：900元/10张订单劵；</p> 
      <p>3. 季度卡  ：1700元/20张订单劵；</p> 
      <p>4. 半年卡 ：2800元/35张订单劵；</p> 
      <p>5. 年卡  ：3750元/50张订单劵；</p> 

      <p>6. 置顶广告位：480元/3个月（仅限8位）；</p> 
      <p>7. 首页广告位：500元/1个月；</p> 

      <p style="margin-top:18px;line-height:27px"> 买劵方式：直接拨打客服电话022-65616119或13512048690告知您建筑管家的注册账号买的种类扫下面任意二维码付款，订单劵发放到您的账户中 </p>
      <p style="margin-top:18px;line-height:27px"> 查看订单劵：回到你的账户中心首页，在订单劵使用情况中可以看到 </p> 

      <p>【详情咨询】：马老师 电话：13512048690 QQ：2974847453</p>
      <div class="about_center_title">
       <h5 class="noBold" style="font-weight:bold; color:#333;">支付方式<span>Payment</span></h5>
      </div>
      <div>
       <table style="width:100%;margin: 20px 10px;">
        <tr>
         <th align="center" style="width:460px;">
          微信支付
         </th>
         <th align="center" style="width:460px;">
          支付宝支付
         </th>
        </tr>
        <tr>
         <td align="center">
          <img style="width:350px;" src="__PUBLIC__/Home/images/wxpay.jpg" />
         </td>
         <td align="center">
          <img style="width:350px;" src="__PUBLIC__/Home/images/alipay.jpg" />
         </td>
        </tr>
       </table>
      </div>
     </div>

    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 

  
  <!-- 引用 -->
  <include file="Common/footer" />


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/header.js"></script> 
 </body>
</html>