<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>企业录证</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/new.css" />  
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
  <style type="text/css">
        #zhizgj_left {
            float: none !important;
            background-color: #fff;
        }

        .right-bd {
            background: #fff !important;
            margin-top: 10px !important;
        }
        .layui-form-pane .layui-form-label{width: 150px;}
    </style> 
  <link href="__PUBLIC__/Home/css/base.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/Home/css/tag.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/Home/css/company1.css" rel="stylesheet" type="text/css" /> 
  <link href="__PUBLIC__/Home/css/company_form.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/Home/css/IndexReg.css" rel="stylesheet" /> 

  <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
  <script src="__PUBLIC__/layer/layer.js"></script>
 </head> 
 <body> 
  <!-- 引用 -->
  <include file="Common/header" />

  <div class="details-bg-dis"> 
   <div class="details-nav"> 
    <h2> 
     <ul class="yiji_ul"> 
      <li>您当前的位置：</li> 
      <li><a href="{:U('Home/Index/index')}" title="建筑管家">建筑管家</a></li> 
      <li><span> &gt; </span></li> 
      <li><a href="{:U('Home/Index/xunzheng')}" title="知识库">企业寻证</a></li> 
     </ul> 
    </h2> 
   </div> 
   <div class="container"> 
    <div class="company_l"> 
      <div class="qiyxz-content"> 
       <p class="qiyxz-hs">放心找人才，轻松办资质</p> 
       <div class="qiyxz-porcess"> 
        <ul> 
         <li><img src="__PUBLIC__/Home/images/qiyxz-porcess1.gif" />1分钟快速发布人才需求</li> 
         <li><img src="__PUBLIC__/Home/images/qiyxz-porcess2.gif" />坐等多家靠谱中介联系</li> 
         <li><img src="__PUBLIC__/Home/images/qiyxz-porcess3.gif" />放心选中介，安心签协议</li> 
         <li><img src="__PUBLIC__/Home/images/qiyxz-porcess4.gif" />人才、资质一站式解决</li> 
         <div class="clear"></div> 
        </ul> 
       </div> 
       <div class="porcess1">
        一分钟发布需求
        <span>建筑管家会严格保护您的隐私，请放心填写！</span>
       </div> 
       <div class="qiyxz-demandfill"> 
          <!-- 表单开始 -->
                <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="form_xunzheng" enctype="multipart/form-data">
                                                                              
                    <table class="layui-table">
                      <tbody>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">您的称呼</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="nickname" lay-verify="required" class="layui-input nickname">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">证件类别</label>
                                <div class="layui-input-inline">
                                  <select name="type_2" class="xunzheng_1" lay-filter="xunzheng_1">
                                    <option value="">请选择</option>
                                    <foreach name="xunzheng_1" item="v">
                                        <option value="{$v['id']}">{$v['title']}</option>
                                    </foreach>
                                  </select>
                                </div>
                                <div class="layui-input-inline">
                                  <select name="type_3" class="xunzheng_2">
                                    <option value="">请选择</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">数量</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="num" lay-verify="required" class="layui-input num">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">价格</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="price" lay-verify="required" class="layui-input price">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">我的地址</label>
                                <div class="layui-input-inline">
                                  <select name="province" class="province" lay-filter="province">
                                    <option value="">--省/市--</option>
                                    <foreach name="province" item="v">
                                        <option value="{$v['provinceid']}">{$v['first_name']} {$v['province']}</option>
                                    </foreach>
                                  </select>
                                </div>
                                <div class="layui-input-inline">
                                  <select name="city" class="city" lay-filter="city">
                                    <option value="">--市/地区--</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-inline">
                                  <input type="tel" name="phone" lay-verify="phone" placeholder="填写手机号码，轻松获精准报价" class="layui-input phone phone_1">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">手机验证码</label>
                                <div class="layui-input-inline div_180">
                                  <input type="text" name="code" autocomplete="off" placeholder="手机验证码" class="layui-input code" id="phone_code_1">
                                </div>
                                <label class="layui-form-label no" id="btn_verify_1" style="float:right;width:103px;">获取验证码</label>
                              </div>
                            </div>
                          </td>
                        </tr>

                     
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2" style="text-align:center;">
                            <input type="hidden" name="type" value="3" lay-verify="required" class="layui-input">
                            <button class="layui-btn layui-btn-normals" lay-submit="" lay-filter="demo1_xunzheng">提交</button>
                          </td>
                        </tr>
                      </tfoot>
                    </table>

                 </form>
                <!-- 表单结束 -->
       </div> 
      </div> 
    </div> 
    <div class="details-cons"> 
     <div class="sec_topr_bd" id="fixed-block"> 
      <img src="__PUBLIC__/Home/images/banlzz.gif" /> 
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/popup.css" /> 
      <div id="zhizgj_left"> 

        <!-- 右侧引用 -->
        <include file="_company_r_safe" />

      </div> 
     </div> 
      
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" /> 
  <!-- 引用 -->
  <include file="Common/footer" />
 </body>
</html>

<script type="text/javascript">
    $(function(){
        init_editer();

        $('#phone_code_1').blur(function(){
            var phone=$('.phone_1').val();
            var code=$(this).val();
            if(code && phone){
                _ajax_check_code(code, phone);
            }
        });

        $('.phone_1').blur(function(){
            var phone=$(this).val();
            if(isPhoneNo(phone)){
                $('#btn_verify_1').removeClass('no');
            }
        });

        $('#btn_verify_1').click(function(){
            var phone=$('.phone_1').val();
            if(!isPhoneNo(phone)){
                alert('请填写正确的手机号码');return;
            }

            if($(this).hasClass('no')){

            }else{
                if($(this).html()=='获取验证码'){
                    var phone=$('.phone_1').val();
                    _ajax_get_code(phone);
                    new invokeSettime("#btn_verify_1");
                }
            }
        });
    });
</script>
<script type="text/javascript">
  function invokeSettime(obj){
      var countdown=60;
      settime(obj);
      function settime(obj) {
          if (countdown == 0) {
              $(obj).attr("disabled",false);
              $(obj).text("获取验证码");
              countdown = 60;
              return;
          } else {
              $(obj).attr("disabled",true);
              $(obj).text("(" + countdown + ") s 重新发送");
              countdown--;
          }
          setTimeout(function() {
              settime(obj) }
          ,1000)
      }
  }

  // 验证手机号 
  function isPhoneNo(phone) {
      var pattern = /^1[34578]\d{9}$/;
      return pattern.test(phone);
  }
</script>
<script>
    function _ajax_apply_baojia(_data){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_apply_baojia')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.href="{:U('Home/Index/index')}"+"#latest_orders";
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_get_code(phone){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/getvalidatecode')}",
             data: {
                phone:phone
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.IsSuccess==true){
                     alert('验证码发送成功,请查收');
                 }else{
                     alert(json.Msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function _ajax_check_code(code, phone){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/checkvalidatecode')}",
             data: {
                code:code,
                phone:phone
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.IsSuccess==true){
                     $('#apply_daiban').removeAttr('disabled');
                 }else{
                     alert(json.Msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

    function init_editer(){
        layui.use(['form', 'layer'], function(){
          var form = layui.form()
          ,layer = layui.layer

          form.on('select(province)', function(data){
              var provinceid=data.value;
              if(provinceid){
                  _ajax_get_city_select(provinceid);
              }else{
                  alert('请选择省份');
              }

              return false;
          });

          form.on('select(xunzheng_1)', function(data){
              var id=data.value;
              if(id){
                  _ajax_get_xunzheng_2_select(id);
              }else{
                  alert('请选择');
              }

              return false;
          });
          

          //监听提交
          form.on('submit(demo1_xunzheng)', function(data){
            // console.log(data.field);
            var _json=_ajax_apply_baojia(data.field);
            return false;
          });
        });
    }

    function _ajax_get_city_select(provinceid){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_city_list')}",
            data:{
              provinceid:provinceid
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>--市/地区--</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                    });
                    $('#form_xunzheng .city').html(str);
                    layui.form().render();

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });
    }   

    function _ajax_get_xunzheng_2_select(id){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_xunzheng_2_list')}",
            data:{
              id:id
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>请选择</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.id+"'>"+value.title+"</option>";
                    });
                    $('#form_xunzheng .xunzheng_2').html(str);
                    layui.form().render();

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });
    }   
</script>