<html>
<head>
<meta http-equiv="x-ua-compatible" content="ie=7"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>账户资料</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601"/>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script>
<script type="text/javascript">
    var Home_Accountinfor_companyalter="{:U('Home/Accountinfor/companyalter')}";
  </script>
</head>
<body>
<div class="header">
  <div class="header_center">
    <div class="header_left">
      <h1><a href="http://www.zizhiguanjia.com/">资质代办，找资质管家</a></h1>
    </div>
    <div class="header_right">
      <ul>
        <li>
        <div id="regist" style="float:right;margin-top:5px">
          <em>咨询热线：<span>010-56269198 </span></em>
          <em style="background:none;">您好，欢迎来到资质管家！</em>
          <a href="http://www.zizhiguanjia.com/accountinfor/personalinfo/">素材火</a>
          <span id="loginout"><a href="javascript:void(0);" rel="nofollow" onclick="LoginOut();">(退出)</a></span>
          <a href="http://www.zizhiguanjia.com/order/list/" rel="nofollow">我的订单</a>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="cr_header">
  <div class="w1000">
    <h1><a href="http://www.zizhiguanjia.com/"><img src="__PUBLIC__/Home/images/logo.gif"/></a></h1>
    <ul>
      <li><a href="http://www.zizhiguanjia.com/">网站首页</a></li>
      <li class="li2"><a href="http://www.zizhiguanjia.com/zzdb/">资质代办</a></li>
      <li><a href="http://www.zizhiguanjia.com/ryjz/">企业寻证</a></li>
      <li><a href="zizhibiaozhun.html">资质标准</a></li>
      <li><a href="about.html">关于我们</a></li>
    </ul>
  </div>
</div>
<div class="elear" style="clear:both;">
</div>
<div class="mion">
  <div class="mion_left">
    <dl>
      <img src="__PUBLIC__/Home/images/tx.jpg" width="80" height="80"/>
      <dt>
      <span title="南京炫迈网络科技有限公司" style="font-size:16px;">南京炫迈网..</span> (素材火) 
      </dt>
      <dd class="dd">
      <a href="http://www.zizhiguanjia.com/accountinfor/personalinfo"><span style="background:url(__PUBLIC__/Home/images/uz.png) no-repeat; background-position:left;">账户资料</span></a>
      </dd>
      <dd class="">
      <a href="http://www.zizhiguanjia.com/safetyset/index"><i></i><span style="background:url(__PUBLIC__/Home/images/us.png) no-repeat; background-position:left;">安全设置</span></a>
      </dd>
      <dd class="">
      <a href="http://www.zizhiguanjia.com/order/list"><i></i><span style="background:url(__PUBLIC__/Home/images/uo.png) no-repeat; background-position:left;">订单管理</span></a>
      </dd>
    </dl>
  </div>
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css"/>
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/popup.css"/>
  <div class="mion_right">
    <div class="content_box">
      <h2>个人资料</h2>
      <h3><span>基本资料</span></h3>
      <ul>
        <li><i style="background:url(__PUBLIC__/Home/images/xt4.jpg) no-repeat; background-position:left top;"> 手机认证<br/><span>18005151538</span></i><a style="background:#a9d86e;cursor:default"><img src="__PUBLIC__/Home/images/xt6.png"/>已认证</a></li>
        <li><i style="background:url(__PUBLIC__/Home/images/xt5.jpg) no-repeat; background-position:left top;"> 登陆密码<br/> ******** </i><a href="http://www.zizhiguanjia.com/SafetySet/ChangePassword" style="background:#59ace2;"><img src="__PUBLIC__/Home/images/xt6.png"/>去修改</a></li>
      </ul>
    </div>
    <div class="content_box" style="margin-top:30px;">
      <h3><span>公司资料</span></h3>
      <form method="post" action="/usercenter/companyalter" id="sub_company" novalidate="novalidate">
        <li>
        <p>
          <span style="color:red">*</span>&nbsp;企业名称：
        </p>
        <input name="Name" class="inp1" id="Name" value="{$companyinfo.company_name}" type="text"/><span class="messge"></span></li>
        <li>
        <p>
          <span style="color:red">*</span>&nbsp;真实姓名：
        </p>
        <input class="inp1" id="contact" name="contact" onkeyup="this.value = this.value.replace(/^ +| +$/g, '')" onkeydown=" this.value ="" this.value.replace(/\s/g, '')" value="{$companyinfo.truename}" type="text"/><span class="messge"></span></li>
        <li>
        <p>
          <span style="color:red"></span>&nbsp;固定电话：
        </p>
        <input name="TelPhone" class="inp1" id="TelPhone" value="{$companyinfo.contact_phone}" type="text"/><span class="messge"></span></li>
        <li>
        <p>
          <span style="color:red">*</span>&nbsp;邮箱地址：
        </p>
        <input name="Email" class="inp1" id="Email" value="{$companyinfo.contact_email}" type="text"/><span class="messge"></span></li>
        <li>
        <p>
          <span style="color:red">*</span>&nbsp;公司地址：
        </p>
        <select id="AreaPpid" class="longtext " name="AreaPpid" style="width:157px;">
          <option value="">--省/市--</option>
          <foreach name="province" item="v">
              <option value="{$v['provinceid']}" <if condition="$v['provinceid'] eq $companyinfo['company_province']">selected="selected"</if>>{$v['first_name']} {$v['province']}</option>
          </foreach>
        </select>

        <select name="AreaId" class="longtext" id="AreaPid" style="width:157px;">
          <option value="">市/地区</option>
          <foreach name="city" item="v">
              <option value="{$v['cityid']}" <if condition="$v['cityid'] eq $companyinfo['company_city']">selected="selected"</if>>{$v['first_name']} {$v['city']}</option>
          </foreach>
        </select>
        <input value="{$companyinfo.company_city}" id="InpAreaId" type="hidden"/>
        <input value="{$companyinfo.company_province}" id="InpAreaPid" type="hidden"/>
        <input name="address" class="inp1" value="{$companyinfo.company_address}" type="text"/><span class="messge" id="address_span"></span></li>
        <li>
        <p>
          <span style="color:red">*</span>&nbsp;公司简介：
        </p>
        <textarea cols="33" rows="7" name="Introduction" id="Introduction">{$companyinfo.company_introduction}</textarea><span class="messge" id="introduction_span"></span></li>
        <li><input value="保存资料" class="input1" id="sub_com" type="submit"/></li>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script>
  <!-- <script type="text/javascript" src="__PUBLIC__/Home/js/area_data.js"></script> -->
  <!-- <script type="text/javascript" src="__PUBLIC__/Home/js/Area.js"></script> -->
  <script type="text/javascript" src="__PUBLIC__/Home/js/companyalter.js"></script>
</div>
<div class="elear" style="clear:both;">
<div style=" color: #999;height: 20px;margin: 20px 0;text-align: center;width: 100%;">
   版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1&nbsp;&nbsp;
</div>

<script type="text/javascript">
    function LoginOut() {
        var message = "确定要退出当前用户吗？";
        if (confirm(message)) {
            $.post("/user/exituser", "", function (data) {
                if (data.IsSuccess) {
                    location.href = "http://www.zizhiguanjia.com";
                }
            })
        }
    };
</script>

</body>
</html>



<script type="text/javascript">
    $('#AreaPpid').change(function(){
        var provinceid=$(this).children('option:selected').val();
        if(provinceid){
            _ajax_get_city_select(provinceid);
        }else{
            alert('请选择省份');
        }
    });


    function _ajax_get_city_select(provinceid){
        $.ajax({  
            async:false,
            type:'get',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Home/Index/ajax_get_city_list')}",
            data:{
              provinceid:provinceid
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code==0){
                    var data=json.data;

                    var str="<option value=''>市/地区</option>";
                    $.each(json.data, function(key, value) {
                         str+="<option value='"+value.cityid+"'>"+value.first_name+" "+value.city+"</option>";
                    });
                    $('#AreaPid').html(str);

                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function(json) {  
                layer.msg(json.msg);
            }  
        });  
    } 
</script>