<?php
    $config_info=M('Config')->find(1);
 ?>

 <div class="bottom"> 
   <ul> 
    <li> <a href="">资质代办</a>| <a href="">资质标准</a>| <a href="">行业资讯</a>| <a href="" rel="nofollow">中介入驻</a>| <a href="" rel="nofollow">关于我们</a>| <a href="" rel="nofollow">加入我们</a>| <a href="" rel="nofollow">联系我们</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">常见问题</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">意见反馈</a>| </li> 
    <li>{$config_info.beian}</li> 
   </ul> 
   <a href="http://www.zizhiguanjia.com/sitemap.html" target="_blank" style="color: #5e5c5b;text-decoration: none !important;"></a> 
  </div>