<html>
 <head> 
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" /> 
  <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" /> 
  <script async="" src="__PUBLIC__/Home/js/analytics.js"></script>
  <script src="__PUBLIC__/Home/js/push.js"></script>
  <script src="__PUBLIC__/Home/js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/_header" />
  <!-- cr头部引用 -->
  <include file="Common/_cr_header" />

  <div class="elear" style="clear:both;"></div> 
  <div class="mion"> 
   <div class="mion_left"> 
      <!-- 左侧引用 -->
      <include file="Common/_left" />
   </div> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/popup.css" /> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css" /> 
   <link href="__PUBLIC__/Home/css/css.css" rel="stylesheet" /> 
   <link href="__PUBLIC__/Home/css/lanrenzhijia2.css" rel="stylesheet" /> 
   <div class="mion_right" style="margin-top: 0;"> 
    <div class="content_box"> 
     <input id="show" value="" type="hidden" /> 
     <input id="selectedOrderUid" value="" type="hidden" /> 
     <input id="NowTicketCount" value="3" type="hidden" /> 
     <h4><span></span></h4> 
     <form method="post" action="/usercenter/brokerorder" id="search_form">
       日期查询：
      <select class="text" name="TimeType" id="TimeType"> <option value="0">全部类型</option> <option value="1">一天内</option> <option value="7">一周内</option> <option value="30">最近一个月</option> <option value="180">最近半年</option> <option value="365">最近一年</option> </select> 订单号：
      <input class="text" id="OrderNum" name="OrderNum" type="text" /> 
      <input value="查询" class="button" id="Search" type="submit" /> 
     </form> 
     <span>您还没有任何订单。</span> 
    </div> 
   </div> 
   <!--订单券弹幕--> 
   <div class="theme-popover popover-gerzx "> 
    <div class="theme-poptit"> 
     <a href="javascript:;" title="关闭" class="close"><img src="__PUBLIC__/Home/images/guanbcon.png" /></a> 
    </div> 
    <div class="theme-popbod dform"> 
     <div id="tank_wenz" style="bottom:20px;"> 
      <span class="baojbjz">可免费咨询 13611127228</span> 
     </div> 
     <form class="theme-signin" id="sub_from" action="zzdb_tijym.html" method="post"> 
      <input name="IdempotentRequestId" value="6e42d4e7-9f4e-4ab0-92b7-741a82a1757a" type="hidden" /> 
      <div class="tank_wenz2"> 
       <p>此次查看将花费<span class="striking">&nbsp;1&nbsp;</span>个订单券，<span class="striking">确认查看？</span></p> 
       <p>您当前拥有<span class="striking">&nbsp;3&nbsp;</span>个订单券<span class="yebz_span"></span></p> 
      </div> 
      <div class="tk_btn"> 
       <input id="btn_confirm" value="确 认" type="button" /> 
       <input id="btn_cancel" value="取 消" type="button" /> 
      </div> 
     </form> 
    </div> 
   </div> 
   <div class="theme-popover-mask"></div> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/broker_fast.js"></script> 
   <div></div> 
   <div class="elear" style="clear:both;"></div> 
  </div> 
  <div class="elear" style="clear:both;"></div> 
  <!-- 底部引用 -->
  <include file="Common/_footer" />
 </body>
</html>