<html>
 <head> 
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>管理中心首页</title> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" /> 
  <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">

  
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Home/js/popup.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script> 
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/_header" />
  <!-- cr头部引用 -->
  <include file="Common/_cr_header" />

  <div class="elear" style="clear:both;"></div> 
  <div class="mion"> 
   <div class="mion_left"> 
      <!-- 左侧引用 -->
      <include file="Common/_left" />
   </div> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css" /> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/broker.css" /> 
   <div class="mion_right"> 
    <div class="data"> 
     <div class="head"> 
      <img id="logo" src="{$user.company_logo}" width="100" height="100" /> 
     </div> 
     <div class="information"> 
      <ul style="position:absolute"> 
       <li> 欢&nbsp;&nbsp;迎&nbsp;&nbsp;您：<b>{$user.phone}</b> <span>&nbsp;&nbsp;&nbsp;已验证</span> 
        <div class="hid">
          公告：
         <br /> 
         <img src="__PUBLIC__/Home/images/BlackPoint.png" />&nbsp;如果企业信息未在前台展示，
         <a id="tips">查看原因</a> 
         <br /> 
         <img src="__PUBLIC__/Home/images/BlackPoint.png" />&nbsp;获取订单券，请咨询
         <span style="color:#ff4400">{$configInfo.company_phone}</span> 
        </div> </li>
       <li> 企业名称：<b style="font-weight:normal;">{$user.company_name}</b> </li> 
       <li> 审核状态： 
          <b>
              <if condition="$user['status'] eq 1">待审核</if>
              <if condition="$user['status'] eq 2">已认证</if>
              <if condition="$user['status'] eq -1">未通过</if>
          </b>
        </li> 
       <li class="li_dealpercent"> 
        <lable class="lab" style="font-size:14px">
         接单率
         <i><img src="__PUBLIC__/Home/images/wenhao.png" /></i>：
        </lable> <em>接单率由成交率和新订单查看速度决定</em><span style="color:red;font-size:14px">100.00%</span> </li> 
      </ul> 
     </div> 
    </div> 
    <div id="hid" class="showCause">  
     <p> 1.营业执照不清楚 <a href="{:U('Home/Company/companylicense')}" style="margin-left:50px;">去认证</a> </p> 
     <p style="margin-top:20px;"> 2.公司信息未完善。 <a href="{:U('Home/Company/companyinfo')}" style="margin-left:70px;">去完成</a> </p>
     <p> </p>
     <p> 您还可以拨打人工客服010-56269198，咨询具体原因。 </p>
     <p> </p>
    </div> 
    <div class="upload"> 
     <span>订单情况（服务范围内）<a href="{:U('Home/Company/companyinfo')}">（设置服务范围）</a></span> 
     <ul class="ul_ordercount"> 
      <li> <i> 总数：&nbsp;&nbsp;<a href="{:U('Home/Usercenter/brokerorder')}"><label>{$all_num}</label> </a></i> <i>未查看：&nbsp;&nbsp;<a href="{:U('Home/Usercenter/brokerorder')}"><label>{$nosee_num}</label></a> 个 </i> <i><a class="qcc" href="{:U('Home/Usercenter/brokerorder')}">(去查看)</a></i> </li>           
     </ul> 
     <span>订单券使用情况</span> 
     <ul class="ul_ticketcount"> 
      <li style="line-height"> 
       <lable class="lab">
        您当前拥有&nbsp;
        <strong class="num_style">{$coupon_info.num}</strong>&nbsp;个订单券
        <i tip="ticketcount_lab_i"><img src="__PUBLIC__/Home/images/wenhao.png" /></i>
       </lable> <em style="margin-left:168px">如何获取订单券，请咨询{$config_info.company_phone}</em> </li> 
     </ul> 
     <span>账户资料情况</span> 
     <ul class="ul_account"> 
      <li> 
       <lable class="lab">
        实名认证
        <i><img src="__PUBLIC__/Home/images/wenhao.png" /></i>：
       </lable> <em>完成实名认证，将提高建筑企业的信任，实现与建企在线沟通</em> 
       <if condition="$user['status'] eq 1"><b>待审核</b> </if>
       <if condition="$user['status'] eq 2"><b>已认证</b> </if>
       <if condition="$user['status'] eq -1"><b>未通过</b> </if>
       
       </li> 
      <li> 
       <lable class="lab">
        公司资料
        <i><img src="__PUBLIC__/Home/images/wenhao.png" /></i>：
       </lable> <em>平台将根据信息完善度进行排名，信息越完善，建筑企业越信任</em> <b>已完成 0 %</b> <span> <a href="{:U('Home/Company/companyinfo')}">去完善</a> </span> </li> 
      <li> 
       <lable class="lab">
        成功案例
        <i><img src="__PUBLIC__/Home/images/wenhao.png" /></i>：                                                                             
       </lable> <em>成功案例是公司业务实力的体现，如实填写办理周期和价格，更容易引导企业下单咨询</em> <b>已添加 0 例</b> <span> <a href="{:U('Home/Company/addcaseinfo')}">去添加</a> </span> </li> 
      <li> 
       <lable class="lab">
        精英团队
        <i><img src="__PUBLIC__/Home/images/wenhao.png" /></i>：                                                                            
       </lable> <em>团队人员是公司规模和实力的象征，靠谱的团队更容易获得企业的青睐</em> <b>团队建设 0 人</b> <span style="margin-left:295px"> <a href="{:U('Home/Company/team')}">去增员</a> </span> </li> 
     </ul> 
    </div> 
    <div class="advantage"> 
     <span><h2>为什么要丰富公司信息</h2></span> 
     <ul> 
      <li><img src="__PUBLIC__/Home/images/advantage_1.png" /><p>展示公司信息</p></li> 
      <li><img src="__PUBLIC__/Home/images/advantage_2.png" /><p>赢得建企青睐</p></li> 
      <li><img src="__PUBLIC__/Home/images/advantage_3.png" /><p>提高诚信排名</p></li> 
      <li><img src="__PUBLIC__/Home/images/advantage_4.png" /><p>获取更多订单</p></li> 
     </ul> 
    </div> 
   </div> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
   <script>
    $(function () {
        $(".lab i").mousemove(function () {
            $(this).parent().next().show();
        }).mouseleave(function () {
            $(this).parent().next().hide();
        });
    });

    function ShowCause() {
        if ($("#hid").is(":hidden")) {
            $("#hid").show();
        } else {
            $("#hid").hide();
        }
    }
</script> 
<script>
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
  
  $('#tips').click(function(){
      var message="{$user.company_check_remark}";
      layer.tips(message, '#tips', {
          tips: [1, '#3595CC'],
          time: 4000
      });
  });
  
});
</script>

   <div class="elear" style="clear:both;"></div> 
  </div> 
  <div class="elear" style="clear:both;"></div> 
  <!-- 底部引用 -->
  <include file="Common/_footer" />
 </body>
</html>