<html>
 <head> 
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title> 
  <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css?v=20160601" /> 
  <link href="__PUBLIC__/Home/css/broker.css" rel="stylesheet" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">

  <style type="text/css">
      #search_table .layui-form-item{margin-bottom: 0px;}
      #search_table tbody tr td{text-align: left;}
      .content_box form{width: auto!important;}
      .mion_right h4{width: auto!important;}
  </style>


  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script> 
  <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
 </head> 
 <body> 
  <!-- 头部引用 -->
  <include file="Common/_header" />
  <!-- cr头部引用 -->
  <include file="Common/_cr_header" />

  <div class="elear" style="clear:both;"></div> 
  <div class="mion"> 
   <div class="mion_left"> 
      <!-- 左侧引用 -->
      <include file="Common/_left" />
   </div> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/popup.css" /> 
   <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/usercenter.css" /> 
   <link href="__PUBLIC__/Home/css/css.css" rel="stylesheet" /> 
   <link href="__PUBLIC__/Home/css/lanrenzhijia2.css" rel="stylesheet" /> 
   <div class="mion_right" style="margin-top: 0;"> 
      <div class="content_box">
          <input id="show" value="" type="hidden" />
          <input id="selectedOrderUid" value="" type="hidden" />
          <input id="NowTicketCount" value="3" type="hidden" />
          <h4>
              <span>订单管理</span>
          </h4>



          <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
              <table class="layui-table" id="search_table">
                <thead>
                  <tr>
                    <th>搜索</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <!-- <div class="layui-inline" style="margin-top: 5px;">
                          <div class="layui-form-item">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-input-inline">
                              <input type="text" name="order_no" value="{$_POST['order_no']}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input order_no">
                            </div>
                          </div>
                        </div>  
 -->
                        <div class="layui-inline" style="margin-top: 5px;">
                          <div class="layui-form-item">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                              <select name="status" class="status">
                                <option value="请选择">全部</option>
                                <option value="已查看" <if condition="$_POST['status'] eq '已查看'">selected</if>>已查看</option>
                                <option value="未查看" <if condition="$_POST['status'] eq '未查看'">selected</if>>未查看</option>
                              </select>
                            </div>
                          </div>
                        </div> 

                        <div class="layui-inline" style="margin-top: 5px;">
                          <div class="layui-form-item">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                              <select name="type" class="type">
                                <option value="请选择">全部</option>
                                <option value="1" <if condition="$_POST['type'] eq 1">selected</if>>资质代办</option>
                                <option value="2" <if condition="$_POST['type'] eq 2">selected</if>>安许办理</option>
                              </select>
                            </div>
                          </div>
                        </div> 
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <button style="float:right;" class="layui-btn" type="submit" title="搜索">搜索</button>
                    </td>
                  </tr> 
                </tfoot>
              </table>
          </form>


          <div class="layui-form">
              <table class="layui-table">
                <colgroup>
                  <col width="150">
                  <col width="150">
                  <col width="100">
                  <col width="200">
                  <col width="150">
                  <col width="200">
                  <col width="200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <!-- <th>订单号</th> -->
                    <th>订单类型</th>
                    <th>手机</th>
                    <th>管家认证</th>
                    <th>下单内容</th>
                    <th>公司地址</th>
                    <th>时间</th>
                    <th>备注</th>
                  </tr> 
                </thead>
                <if condition="$list">
                    <tbody>
                        <foreach name="list" item="v">
                            <tr>
                              <!-- <td>{$v.order_no}</td> -->
                              <td>
                                  <if condition="$v['type'] eq 1">
                                      <button class="layui-btn layui-btn-mini layui-btn-info">资质代办</button>
                                  <elseif condition="$v['type'] eq 2" />
                                      <button class="layui-btn layui-btn-mini layui-btn-warm">安许办理</button>
                                  </if>
                              </td>
                              <td class="phone_seeing">
                                  <if condition="$v['see'] eq 1">
                                      <span>{$v.phone}</span>
                                  <else/>
                                      <span>{$v.phone}</span>
                                      <button class="layui-btn layui-btn-mini layui-btn-normal see_phone" data-id="{$v.id}" style="float: right;">查看</button>
                                  </if>
                              </td>
                              <td>
                                  <if condition="$v['status'] eq 1">
                                      <button class="layui-btn layui-btn-mini layui-btn-danger">已审核</button>
                                  <else/>
                                      未审核
                                  </if>
                              </td>
                              <td>{$v.type_1}<br>{$v.type_2}<br>{$v.type_3}</td>
                              <td>{$v.province}<br>{$v.city}</td>
                              <td>{$v.time}</td>
                              <td>{$v.remark}</td>
                            </tr>
                        </foreach>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="8" align="center">{$page}</td>
                      </tr>
                    </tfoot>
                <else/>
                    <tbody>
                        <foreach name="list" item="v">
                            <tr>
                              <td colspan="8" align="center">您还没有任何订单。</td>
                            </tr>
                        </foreach>
                    </tbody>
                </if>
                
              </table>
          </div>
      </div>
   </div> 
   <!--订单券弹幕--> 
   <div class="theme-popover popover-gerzx "> 
    <div class="theme-poptit"> 
     <a href="javascript:;" title="关闭" class="close"><img src="__PUBLIC__/Home/images/guanbcon.png" /></a> 
    </div> 
    <div class="theme-popbod dform"> 
     <div id="tank_wenz" style="bottom:20px;"> 
      <span class="baojbjz">可免费咨询 13611127228</span> 
     </div> 
     <form class="theme-signin" id="sub_from" action="zzdb_tijym.html" method="post"> 
      <input name="IdempotentRequestId" value="6e42d4e7-9f4e-4ab0-92b7-741a82a1757a" type="hidden" /> 
      <div class="tank_wenz2"> 
       <p>此次查看将花费<span class="striking">&nbsp;1&nbsp;</span>个订单券，<span class="striking">确认查看？</span></p> 
       <p>您当前拥有<span class="striking">&nbsp;3&nbsp;</span>个订单券<span class="yebz_span"></span></p> 
      </div> 
      <div class="tk_btn"> 
       <input id="btn_confirm" value="确 认" type="button" /> 
       <input id="btn_cancel" value="取 消" type="button" /> 
      </div> 
     </form> 
    </div> 
   </div> 
   <div class="theme-popover-mask"></div> 
   <script type="text/javascript" src="__PUBLIC__/Home/js/broker_fast.js"></script> 
   <div></div> 
   <div class="elear" style="clear:both;"></div> 
  </div> 
  <div class="elear" style="clear:both;"></div> 


  <!-- 引用 -->
  <include file="Common/_footer" />


 </body>
</html>

<script type="text/javascript">
    $(function(){
        // $('.see_phone').click(function(){
        //     var id=$(this).attr('data-id');
        //     var _json=_ajax_get_phone(id);
        // });
    });
</script>
<script>

      //获取手机号
      function _ajax_get_phone(id){
          var _json;
          $.ajax({  
              async:false,
              type:'get',  
              url : "{:U('Home/Usercenter/ajax_get_phone')}",
              data:{
                id:id
              },
              dataType : 'json',
              success  : function(json) {  
                  _json=json;
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;
      }

      //获取当前订单券数量 
      function _ajax_get_coupon_num(){
          var _json;
          $.ajax({  
              async:false,
              type:'get',  
              url : "{:U('Home/Usercenter/ajax_get_coupon_num')}",
              dataType : 'json',
              success  : function(json) {  
                  _json=json;
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;
      }



      layui.use(['form','layer', 'laydate'], function(){
        var form = layui.form()
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

        //自定义验证规则
        form.verify({
          title: function(value){
            if(value.length < 5){
              return '标题至少得5个字符啊';
            }
          }
          ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          ,content: function(value){
            layedit.sync(editIndex);
          }
        });

        $('.see_phone').click(function(){
            var id=$(this).attr('data-id');
            $('td').removeClass('phone_seeing');
            $(this).parent('td').addClass('phone_seeing');

            //获取当前订单券数量
            var _json=_ajax_get_coupon_num();
            if(_json.code==0){
                if(confirm('【还有'+_json.data+'张可用】确定查看（将消费您一张券）？')){
                    var _json=_ajax_get_phone(id);
                    if(_json.code==0){
                        alert('恭喜您，可以查看了');
                        $('.phone_seeing span').html(_json.data);
                        $('.phone_seeing button').remove();
                    }else{
                        alert(_json.msg);
                        window.location.href="{:U('Home/Index/tuiguang')}";
                    }
                }else{
                    alert('可能这条信息也很重要哦');
                }
            }else{
                alert('请先购买优惠券！');
                window.location.href="{:U('Home/Index/tuiguang')}";
            }
        });
      });
</script>