<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质管家-加入我们</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
<link rel="stylesheet" type="text/css" href="css/new.css" /> 
 </head> 
 <body> 
  <div class="header"> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 
      <ul> 
       <li> 
        <div id="regist" style="float:left;margin-left:-90px;"> 
         <em style="background:none;">您好，欢迎来到资质管家!</em> 
         <a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerindex">熊丽丽</a> 
         <span id="loginout"><a target="_blank" href="javascript:void(0);" rel="nofollow">(退出)</a></span> 
         <a class="head_jianzqy">我是建筑企业</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <a class="head_jianzqy" style="margin-left: 15px;">我是服务中介</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <span class="head_kefrx">客服热线：13371739040</span> 
        </div> 
        <div class="head_jianzqy_content head_fuwzj_content "> 
         <ul> 
          <li><a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerorder/" rel="nofollow">我的订单</a></li> 
          <li><a target="_blank" href="/tuiguang.html" rel="nofollow">我要推广</a></li> 
         </ul> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="header_top_left"> 
      <div class="dingw_title"> 
       <img alt="定位" src="images/PCicon.png" class="dingw_img" /> 
       <a target="_blank" href="javascript:void(0)" id="city-dingw"><span>全国</span><font class="city_qieh">[切换]</font></a> 
      </div> 
      <div id="city"> 
       <div class="city_list" id="city_list"> 
        <a href="javascript:void(0)">全国</a>
        <div class="clear"></div> 
        <a href="javascript:void(0)" data-area="beijing">北京</a>
        <a href="javascript:void(0)" data-area="tianjin">天津</a> 
        <a href="javascript:void(0)" data-area="hebei">河北</a>
        <a href="javascript:void(0)" data-area="shanxi">山西</a> 
        <a href="javascript:void(0)" data-area="namenggu">内蒙古</a>
        <a href="javascript:void(0)" data-area="liaoning">辽宁</a> 
        <a href="javascript:void(0)" data-area="jilin">吉林</a>
        <a href="javascript:void(0)" data-area="heilongjiang">黑龙江</a> 
        <a href="javascript:void(0)" data-area="shanghai">上海</a>
        <a href="javascript:void(0)" data-area="jiangsu">江苏</a> 
        <a href="javascript:void(0)" data-area="zhejiang">浙江</a>
        <a href="javascript:void(0)" data-area="anhui">安徽</a> 
        <a href="javascript:void(0)" data-area="fujiang">福建</a>
        <a href="javascript:void(0)" data-area="jiangxi">江西</a> 
        <a href="javascript:void(0)" data-area="shandong">山东</a>
        <a href="javascript:void(0)" data-area="henan">河南</a> 
        <a href="javascript:void(0)" data-area="hubei">湖北</a>
        <a href="javascript:void(0)" data-area="hunan">湖南</a> 
        <a href="javascript:void(0)" data-area="guangdong">广东</a>
        <a href="javascript:void(0)" data-area="guangxi">广西</a> 
        <a href="javascript:void(0)" data-area="hainanf">海南</a>
        <a href="javascript:void(0)" data-area="zhongqing">重庆</a> 
        <a href="javascript:void(0)" data-area="sichuan">四川</a>
        <a href="javascript:void(0)" data-area="guizhou">贵州</a> 
        <a href="javascript:void(0)" data-area="yunnan">云南</a>
        <a href="javascript:void(0)" data-area="xizang">西藏</a> 
        <a href="javascript:void(0)" data-area="shanxii">陕西</a>
        <a href="javascript:void(0)" data-area="gansu">甘肃</a> 
        <a href="javascript:void(0)" data-area="shanxi">青海</a>
        <a href="javascript:void(0)" data-area="ningxia">宁夏</a> 
        <a href="javascript:void(0)" data-area="xinjiang">新疆</a> 
        <div style="clear:both"></div> 
       </div> 
      </div> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
   </div> 
   <div id="float_div"> 
    <div id="head"> 
     <div class="head_left"> 
      <a href="index.html"><img alt="资质管家" src="images/zzgj_logo_3.0.gif" class="zzgj_logo" /></a> 
      <img alt="办资质就上资质管家" src="images/zzgj_ggy.gif" /> 
     </div> 
     <div class="head_middle"> 
      <div class="head_middle_mfzfw">
       免费找服务
      </div> 
      <div class="head_middle_option"> 
       <select class="option_on head_potion_list"> <option value="/baojia/">资质代办</option> <option value="/gongsizhuce/">公司注册</option> <option value="/anzheng/">安证办理</option> </select> 
      </div> 
      <div class="head_middle_sous"> 
      </div> 
     </div> 
     <div class="head_right"> 
      <img alt="北京资质服务专线" src="images/index_head_phone.png" /> 
      <span>北京资质服务专线</span>
      <br /> 
      <span class="head_right_phone">010-56269198</span> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="nav_main_box"> 
     <div class="nav_box nav_box_bottom"> 
      <div class="pull_nav"> 
       <span class="pull_nav_title">服务导航</span> 
       <div class="pull_box" style="display:none"> 
        <ul class="pull_box_nav_list"> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/gongsizhuce/">公司注册</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=1">新注册</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=1" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=2">企业变更</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=2" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/baojia/">建筑资质</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/baojia/?id=1">施工总承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=54" class="classify_detail_link_color">建筑工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=58">市政公用工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=56">机电工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=112">矿山工程</a> 
              <a target="_blank" href="/zizhi/sgzcbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/baojia/?id=2">施工专业承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=65">建筑装饰装修</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=75" class="classify_detail_link_color">防水防腐保温</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=3&amp;subjectid=80">建筑机电安装</a> 
              <a target="_blank" href="/zizhi/sgzycbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/zizhi/">其他资质</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/zizhi/gcsj/" class="classify_detail_link_color">工程设计</a> 
              <a target="_blank" href="/zizhi/gckczz/">工程勘察</a> 
              <a target="_blank" href="/zizhi/gcjlzz/">工程监理</a> 
              <a target="_blank" href="/zizhi/gczjzxzz/">工程造价</a> 
              <a target="_blank" href="/zizhi/czxs/">承装修试</a> 
              <a target="_blank" href="/zizhi/fdc/">房地产</a> 
              <a target="_blank" href="/zizhi/hjyxpjzz/" class="classify_detail_link_color">环境评价</a> 
              <a target="_blank" href="/zizhi/iso/" class="classify_detail_link_color">ISO体系</a> 
              <a target="_blank" href="/zizhi/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/anzheng/">安全许可</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/anzheng?type=1">首次申请</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=1" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">专业安证办理，让你无忧接项目</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/anzheng?type=2">延期办理</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=2" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">全国靠谱中介，延期不再是难题</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/xunzheng/">企业寻证</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/xunzheng/">建造师</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">一级建造师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">二级建造师</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">职称证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">高级职称证书</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">中级职称证书</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">更多证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">八大员</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">技工证</a> 
              <a target="_blank" href="/xunzheng/">监理工程师</a> 
              <a target="_blank" href="/xunzheng/">电气工程师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">造价工程师</a> 
              <a target="_blank" href="/xunzheng/">土木工程师</a> 
              <a target="_blank" href="/xunzheng/">注册咨询师</a> 
              <a target="_blank" href="/xunzheng/">共用设备工程师</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li_more"> <span><a style="border-bottom:0px;color:#fff!important;cursor:auto;">更多服务</a></span> </li> 
        </ul> 
       </div> 
      </div> 
      <ul class="main_menu"> 
       <li><a class="" href="index.html">首　页</a></li> 
       <li><a class="" href="baojia.html">资质询价</a></li> 
       <li><a class="" href="daiban.html" id="zzarea">资质代办</a></li> 
       <li><a class="" href="safe.html" id="azarea">安证办理</a></li> 
       <li><a class="" href="zizhibiaozhun.html">资质标准</a></li> 
       <li><a class="" href="news.html">行业资讯</a></li> 
       <li><a class="on" href="about.html">关于我们</a></li> 
      </ul> 
      <div class="nav_58logo"> 
       <a target="_blank" href="http://www.58guakao.com"><img alt="58建筑" src="images/nav_58logo.png" /></a> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="css/pub.css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于资质管家<span>ABOUT</span></h1> 
     <ul> 
      <li><a rel="nofollow" href="about.html" title="公司简介">公司简介</a></li> 
      <li><a rel="nofollow" href="http://www.zizhiguanjia.com/cul.html" title="精英团队">精英团队</a></li> 
      <li class="on"><a ref="nofollow" href="http://www.zizhiguanjia.com/join.html" title="加入我们">加入我们</a></li> 
      <li><a rel="nofollow" href="http://www.zizhiguanjia.com/mzsm.html" title="免责声明">免责声明</a></li> 
      <li><a href="http://www.zizhiguanjia.com/contact.html" rel="联系我们" title="联系我们">联系我们</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/tuiguang.html" title="推广服务">推广服务</a></li> 
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <img src="images/jrwm1.gif" style="margin:25px 25px 10px 25px;" />
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">一、SEO经理</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：12K~20K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.负责58建筑网/资质管家SEO策略的制定与实施，对全站SEO流量负责；<br /> 2.监控、分析、评估网站的关键词，设定关键字策略，提升搜索引擎流量份额；<br /> 3.能撰写SEO方案并实施，及时、有效的推动与协同部门的配合；<br /> 4.对公司网站以及竞争对手网站进行监控流量和数据分析，并根据分析结果及时出处理方案和应对措施；<br /> 5.带领团队完成流量任务，并合理分配工作，培养下属成长；<br /> <b style="font-size:14px;font-size: 14px;font-weight: normal;">【职位要求】：</b><br /> 1.有3年以上SEO经验，有多个Baidu或google站点优化案例；<br /> 2.有很强的项目管理、创新意识和沟通协调能力，能够积极主动的带领团队完成流量任务；<br /> 3.有独到的思维方式，注重SEO策略的长远布局，对新技术有快速的学习能力，能持续关注搜索引擎的发展及最新动向；<br /> 4.高度的工作热情和责任心，有创业激情与创新精神，注重团队合作；<br /> 5.爱好SEO事业，擅长探索、研究新的SEO技术；<br /> 6.熟悉使用SEO工具，能针对关键词优化进行合理内容设计；熟悉各大搜索引擎蜘蛛爬行的规律规则及原理。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">二、SEO主管</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：8K~15K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <br /> 
     <p style="text-indent:0px;margin: 0 25px;"> 1. 负责58建筑网/资质管家SEO流量的提升，配合项目经理完成流量任务；<br /> 2. 监控、分析、评估网站的关键词，设定关键字策略，提升搜索引擎流量份额；<br /> 3. 能撰写SEO方案并实施，及时、有效的推动与协同部门的配合；<br /> 4. 能够自主发现流量提升点，并成功获取流量。<br /> 5. 带领外链团队完成合作任务，有效提升关键词排名；<br /> 【职位要求】：<br /> 1. 至少2年SEO从业经验，有成功的站点优化案例；<br /> 2. 有较强的项目管理能力、沟通协调能力，能够积极主动的推动、协调各部门配合，并顺利完成任务；<br /> 3. 有独立的思维方式，注重SEO流量收取及策略的分解，对新技术有快速的学习能力，能持续关注搜索引擎的发展及最新动向。<br /> 4. 爱好SEO事业，擅长探索、研究新的SEO技术。<br /> 5. 熟悉使用SEO工具，能针对关键词优化进行合理内容设计；熟悉各大搜索引擎蜘蛛爬行的规律规则及原理；<br /> </p> 
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">三、SEO专员</h3>
     <p></p> 
     <p>【招聘人数】：2~3人</p> 
     <p>【薪资范围】：6K~10K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】: </b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.根据要求对相关页面进行友情链接交换。<br /> 2.对相关资讯网站进行内容伪原创编辑。<br /> 3.查询、统计、跟踪相关收录、排名等数据，并制作报表。<br /> 4.协助团队其他成员完成seo相关支持工作。<br /> 【职位要求】：<br /> 1.掌握基本的交换友链的手段和方法，能够完成指定的链接数量。<br /> 2.对伪原创有一定了解，对新闻，资讯内容敏感，有较好语感。<br /> 3.掌握互联网的各项应用操作，了解SEO等相关网络基本知识&nbsp;，具有一定的数据分析能力。<br /> 4.有团队合作精神，积极完成分配的工作任务。<br /> 5.有一定的沟通能力，性格外向，善于和他人交流。<br /> 6.对数据敏感，有一定的数据分析能力。<br /> 7.乐观、开朗、敬业、品德好、学习能力强，有一定抗压能力。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">四、.NET开发工程师</h3>
     <p></p> 
     <p>【招聘人数】：5~6人</p> 
     <p>【薪资范围】：8K~16K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.根据项目具体要求，承担开发任务，按计划完成任务目标；<br /> 2.参与项目需求的系统分析与设计；<br /> 3.根据开发规范与流程独立完成模块的设计、编码、测试及相关文档；<br /> 4.对完成的代码进行检查和优化，提高产品易用性和性能；<br /> 【职位要求】：<br /> 1.专科以上学历，计算机或其他相关专业；<br /> 2.精通.Net（C#）开发语言，有良好的编程习惯；<br /> 3.熟悉B/S框架，1年以上相关经验者优先；<br /> 4.有SQL&nbsp;Server数据库开发使用经验，处理大数据量经验者优先；<br /> 5.了解MVC的架构模式，熟悉Html、CSS/JS、JavaScript、Jquery；<br /> 6.以具备开发经验为佳，也欢迎对自己有信心的应届生！<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">五、产品经理</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：10K~20K(视能力，面议)</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【岗位职责】</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 直接和CEO沟通，制定产品策略后进行WEB端的产品设计；<br /> 具备一定的交互和审美，跟进和配合设计师进行产品的视觉设计工作；<br /> 与技术人员沟通需求，讨论解决方案，完成产品功能测试，项目上线等实施过程；<br /> 协助处理项目产品开发过程中的问题，确保开发进度及产品、设计方案的统一。<br /> 【职责要求】<br /> 能够独立完成产品设计，熟练使用设计软件和编写设计文档；<br /> 较好的表达能力，良好的跨部门沟通和项目协调能力，强烈的结果导向意识；<br /> 具备优秀的分析判断能力和方案设计能力，对数据敏感，具备一定的无授权领导能力和影响能力；<br /> 独立思考，思路清晰，心态开放，善于学习和总结。<br /> 具有2年以上web端产品经验，计算机相关背景<br /> （希望有建筑行业经验/垂直性信息分类网站经验的您投递、加入我们！）<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">六、内容运营编辑</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：面议</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1.&nbsp;负责网站资讯频道的文章编辑及内容建设，包括内容整合、策划、选题、编辑，跟踪推广效果，整理分析数据并反馈；<br /> 2.&nbsp;负责新媒体平台微信的内容编辑及运营，对接媒体渠道进行投放并跟踪推广效果；<br /> 3.&nbsp;负责线上产品及专题活动的文案撰写；<br /> 4.&nbsp;协助产品运营，参与公司整体品牌、产品的营销策划与市场推广；<br /> 【职位要求】：<br /> 1.&nbsp;中文、新闻、广告、传播等相关专业大专及以上学历；<br /> 2.&nbsp;1年以上工作经验，对互联网建筑行业有足够的兴趣和爱好；<br /> 3.&nbsp;具有一定的写作功底，擅长内容的选题、编辑、策划工作；<br /> 4.&nbsp;熟悉产品运营或有建筑行业新媒体工作经验者优先；<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">七、人事专员</h3>
     <p></p> 
     <p>【招聘人数】：1人</p> 
     <p>【薪资范围】：面议</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【工作职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1、根据现有编制及业务发展需求，协调、统计各部门的招聘需求，制定分公司招聘计划；&nbsp;<br /> 2、充分利用各种招聘渠道满足公司的人才需求；&nbsp;&nbsp;&nbsp;<br /> 3、执行招聘、甄选、面试、选择、安置工作；&nbsp;<br /> 4、进行聘前测试和简历甄别工作；&nbsp;&nbsp;<br /> 5、负责员工日常劳动纪律、考勤、绩效考核工作，并办理员工晋升、奖惩等人事手续；<br /> 7、日常人事行政事务；<br /> 【职位要求】：<br /> 1、大专及以上学历，1-2年工作经验，有技术人才猎头/互联网行业工作背景者优先；<br /> 2、熟悉各种招聘渠道，善于整合资源，较好的洞察及辨析能力；<br /> 3、优秀的分析问题。解决问题思维和能力，优秀沟通表达能力；<br /> 4、积极主动，责任心强，工作踏实，有较好的抗压能力；<br /> 5、外表端庄大方，普通话流利。<br /> </p>
     <br /> 
     <p></p>
     <h3 style="margin: 0 25px;">八、销售代表</h3>
     <p></p> 
     <p>【招聘人数】：不限</p> 
     <p>【薪资范围】：5~10K</p> 
     <b style="margin: 0 25px;font-size: 14px;font-weight: normal;">【岗位职责】：</b> 
     <p style="text-indent:0px;margin: 0 25px;"> 1、通过电话与目标客户进行沟通,筛选意向客户；&nbsp;<br /> 2、开发和跟进客户,不断发现自身沟通障碍，学习掌握销售技能。<br /> 3、完善业务知识，为建筑企业提供高端建筑人才、证书办理等企业级服务。<br /> 4、客户回款及市场信息分析,完成部门主管制定的销售业绩。&nbsp;<br /> 【任职要求】:<br /> 1、22-30周岁之间,大专及以上学历，1-2年销售经验；<br /> 2、普通话标准、口齿清晰,有较强的沟通能力和学习能力；<br /> 3、抗压能力强，工作严谨、有责任心。<br /> 晋升之路：见习销售—销售代表—高级销售—销售主管<br /> </p>
     <br /> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="css/main.css" /> 
  <footer> 
   <div class="footer-warp"> 
    <div class="footer-bq"> 
     <a href="daiban.html">资质代办 </a>|
     <a href="zizhibiaozhun.html">资质标准 </a>|
     <a href="news.html">行业资讯 </a>|
     <a href="reg.html" rel="nofollow">中介入驻 </a>|
     <a href="/aboutus.html" rel="nofollow">关于我们 </a>|
     <a href="/join.html" rel="nofollow">加入我们 | </a>
     <a href="/contact.html" rel="nofollow">联系我们 </a>|
     <a href="#" rel="nofollow" style="cursor:default">常见问题 </a>|
     <a href="#" rel="nofollow" style="cursor:default">意见反馈</a>
     <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
     <br /> 版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1 
     <br /> Copyright &copy; 2016 zizhiguanjia.com All Rights Reserved
     <br /> 公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室 &nbsp;电话： 010-56269198&nbsp; 
    </div> 
   </div> 
  </footer> 
  <script async="" src="js/analytics.js"></script>
  <script src="js/push.js"></script>
  <script src="js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "js/hm.js?580e9422d1d340fa7711682e41256040";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script> 
  <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'js/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script> 
  <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'js/analytics.js', 'ga');

        ga('create', 'UA-101792527-1', 'auto');
        ga('send', 'pageview');

    </script> 
  <div style="display: none"> 
   <a href="http://www.cnzz.com/stat/website.php?web_id=1255699131" target="_blank" title="站长统计">站长统计</a> 
  </div> 
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="js/header.js"></script> 
  <script src="js/10051268.js" charset="utf-8" type="text/javascript"></script>
  <div id="doyoo_panel" style="position: fixed; top: 150px; right: 5px; width: 144px;">
   <div id="ohead" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" ead_1.gif?131127")="" no-repeat="" scroll="" 0%="" 0%;="" cursor:="" move;"="">
    <div id="ocls"></div>
    <div id="omin" onclick=""></div>
    <div id="otitle">
     在线客服
    </div>
    <div id="oentrance"></div>
   </div>
   <div id="ocontent" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" ack_1.gif?131127")="" repeat-y="" scroll="" 0%="" 0%;="" height:="" 240px;"="">
    <div id="allcontent">
     <div class="group_title">
      <span class="doyoo_group_name">北京资质办理咨询</span>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_other" onclick="javascript:doyoo.util.openChat(" n="gouyan&quot;)&quot;">
       <div class="doyoo_status">
        电话
       </div><span class="doyoo_group_name">勾老师</span> </a>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="zhoujianping001&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">红彩老师</span> </a>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="why&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">宏岩老师</span> </a>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="zhouguomei&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">周老师</span> </a>
     </div>
     <div class="group_title">
      <span class="doyoo_group_name">河北资质办理咨询</span>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="licuiping&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">李老师</span> </a>
     </div>
     <div class="group_title">
      <span class="doyoo_group_name">财税咨询专区</span>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="caishuizx&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">财税咨询</span> </a>
     </div>
     <div class="group_title">
      <span class="doyoo_group_name">法律咨询专区</span>
     </div>
     <div class="group_content">
      <a href="javascript:;" class="doyoo_link doyoo_offline" onclick="javascript:doyoo.util.openChat(" n="falvzx&quot;)&quot;">
       <div class="doyoo_status">
        留言
       </div><span class="doyoo_group_name">法律咨询</span> </a>
     </div>
    </div>
   </div>
   <div id="ofoot" style="background: rgba(0, 0, 0, 0) url(" http:="" yun-static.soperson.com="" 31221="" .="" efault="" mages="" loatwin="" oot_1.gif?131127")="" no-repeat="" scroll="" 0%="" 0%;"="">
    <div onclick="javascript:window.open(" http:="" www.looyuoms.com")"=""></div>
   </div>
  </div> 
  <div id="doyoo_monitor" style="background: rgba(0, 0, 0, 0) url(images/dn_sc.gif?131127" );"=""></div>
  <div id="doyoo_mon_closer"></div> 
  <div id="talk99_message"></div> 
  <div id="doyoo_share" style="display:none;"></div> 
  <link rel="stylesheet" type="text/css" href="css/oms.css?17070503" /> 
  <script type="text/javascript" src="js/oms.js?170704" charset="utf-8"></script> 
  <!--
    资质管家:资质代办,北京资质代办,代办建筑工程资质,资质代理,工商注册,代理记账公司
    资质管家,资质代办,代办资质,公司注册,代理记账,北京代办资质
    资质管家(zizhiguanjia.com),靠谱的资质代办平台.北京拥有正规经营资质代办资格的资质代办公司.专注资质代办,代办建筑工程资质,资质代理,工商注册,代理记账等服务.办资质,找资质管家!
    --> 
 </body>
</html>