<html>
 <head> 
  <title>入驻成功</title> 
  <meta charset="utf-8" /> 
 </head>
 <body style="text-align:center;">
  <div class="logo_box"> 
   <div class="logo"> 
    <a href="http://www.zizhiguanjia.com/" title="资质管家">
     <div class="ico-logo header-logo"></div></a> 
    <p>欢迎入驻</p> 
    <div class="div1"> 
     <i>前往</i> 
     <a href="http://www.zizhiguanjia.com/usercenter/brokerindex">账户中心</a>
     <i style="margin:0 10px 0 10px;">|</i> 
     <a href="http://www.zizhiguanjia.com/">首页</a> 
    </div> 
    <div class="div2"> 
     <p>24小时服务热线:</p> 
     <span>010-56269198</span> 
    </div> 
   </div> 
  </div> 
  <title>注册页面</title> 
  <link type="text/css" href="css/register.css" rel="stylesheet" /> 
  <!--  主体区  --> 
  <div class="main"> 
   <div class="register"> 
    <div class="main_step"> 
     <span class="the">①注册创建账号</span> 
     <span>②公司实名认证</span> 
     <span>③完善公司信息</span> 
     <span>④等待获取订单</span> 
    </div> 
    <!--  注册成功提醒  --> 
    <div class="prompt"> 
     <div class="tx"> 
      <span>恭喜，187******** 注册账户成功！</span> 
      <p>如果您想将公司优势展示在资质代办公司页面， 让更多建筑企业看到并选择，请进行下一步：</p> 
      <a href="http://www.zizhiguanjia.com/user/companyattesta" class="route">进入公司实名认证</a> 
     </div> 
     <div class="advantage"> 
      <span><h2>为什么需要实名认证</h2></span> 
      <ul> 
       <li><img src="images/advantage_1.png" /><p>展示公司信息</p></li> 
       <li><img src="images/advantage_2.png" /><p>赢得建企青睐</p></li> 
       <li><img src="images/advantage_3.png" /><p>提高诚信排名</p></li> 
       <li><img src="images/advantage_4.png" /><p>获取更多订单</p></li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="bottom"> 
   <ul> 
    <li> <a href="daiban.html">资质代办</a>| <a href="zizhibiaozhun.html">资质标准</a>| <a href="news.html">行业资讯</a>| <a href="reg.html" rel="nofollow">中介入驻</a>| <a href="about.html" rel="nofollow">关于我们</a>| <a href="http://www.zizhiguanjia.com/join.html" rel="nofollow">加入我们</a>| <a href="http://www.zizhiguanjia.com/contact.html" rel="nofollow">联系我们</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">常见问题</a>| <a href="#" rel="nofollow" style="cursor: default; color: #888;">意见反馈</a>| </li> 
    <li>版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1</li> 
   </ul> 
   <a href="http://www.zizhiguanjia.com/sitemap.html" target="_blank" style="color: #5e5c5b;text-decoration: none !important;"></a> 
  </div> 
  <script async="" src="js/analytics.js"></script>
  <script src="js/push.js"></script>
  <script src="js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "js/hm.js?580e9422d1d340fa7711682e41256040";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script> 
  <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'js/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script> 
  <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'js/analytics.js', 'ga');

        ga('create', 'UA-101792527-1', 'auto');
        ga('send', 'pageview');

    </script> 
  <div style="display: none"> 
   <a href="http://www.cnzz.com/stat/website.php?web_id=1255699131" target="_blank" title="站长统计">站长统计</a> 
  </div> 
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="js/jquery.validate.js"></script> 
  <script type="text/javascript" src="js/user_register.js"></script> 
  <script type="text/javascript" src="js/user_countdown.js"></script> 
 </body>
</html>