<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>资质管家-推广服务</title> 
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  
  
  
  
  <meta name="mobile-agent" content="format=xhtml; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
  <meta name="mobile-agent" content="format=html5; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
  <meta name="mobile-agent" content="format=wml; url=http://m.zizhiguanjia.com/tuiguang.html" /> 
<link rel="stylesheet" type="text/css" href="css/new.css" /> 
 </head> 
 <body> 
  <div class="header"> 
   <div class="header_top"> 
    <div class="header_top_center"> 
     <div class="header_top_right"> 
      <ul> 
       <li> 
        <div id="regist" style="float:left;margin-left:-90px;"> 
         <em style="background:none;">您好，欢迎来到资质管家!</em> 
         <a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerindex">熊丽丽</a> 
         <span id="loginout"><a target="_blank" href="javascript:void(0);" rel="nofollow">(退出)</a></span> 
         <a class="head_jianzqy">我是建筑企业</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <a class="head_jianzqy" style="margin-left: 15px;">我是服务中介</a> 
         <div class="head_jianzqy_content"> 
          <ul> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/gongsizhuce/">我要注册公司</a></li> 
           <li><a target="_blank" href="baojia.html">我要办资质</a></li> 
           <li><a target="_blank" href="http://www.zizhiguanjia.com/anzheng/">我要办安证</a></li> 
          </ul> 
         </div> 
         <span class="head_kefrx">客服热线：13371739040</span> 
        </div> 
        <div class="head_jianzqy_content head_fuwzj_content "> 
         <ul> 
          <li><a target="_blank" href="http://www.zizhiguanjia.com/usercenter/brokerorder/" rel="nofollow">我的订单</a></li> 
          <li><a target="_blank" href="/tuiguang.html" rel="nofollow">我要推广</a></li> 
         </ul> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="header_top_left"> 
      <div class="dingw_title"> 
       <img alt="定位" src="images/PCicon.png" class="dingw_img" /> 
       <a target="_blank" href="javascript:void(0)" id="city-dingw"><span>全国</span><font class="city_qieh">[切换]</font></a> 
      </div> 
      <div id="city"> 
       <div class="city_list" id="city_list"> 
        <a href="javascript:void(0)">全国</a>
        <div class="clear"></div> 
        <a href="javascript:void(0)" data-area="beijing">北京</a>
        <a href="javascript:void(0)" data-area="tianjin">天津</a> 
        <a href="javascript:void(0)" data-area="hebei">河北</a>
        <a href="javascript:void(0)" data-area="shanxi">山西</a> 
        <a href="javascript:void(0)" data-area="namenggu">内蒙古</a>
        <a href="javascript:void(0)" data-area="liaoning">辽宁</a> 
        <a href="javascript:void(0)" data-area="jilin">吉林</a>
        <a href="javascript:void(0)" data-area="heilongjiang">黑龙江</a> 
        <a href="javascript:void(0)" data-area="shanghai">上海</a>
        <a href="javascript:void(0)" data-area="jiangsu">江苏</a> 
        <a href="javascript:void(0)" data-area="zhejiang">浙江</a>
        <a href="javascript:void(0)" data-area="anhui">安徽</a> 
        <a href="javascript:void(0)" data-area="fujiang">福建</a>
        <a href="javascript:void(0)" data-area="jiangxi">江西</a> 
        <a href="javascript:void(0)" data-area="shandong">山东</a>
        <a href="javascript:void(0)" data-area="henan">河南</a> 
        <a href="javascript:void(0)" data-area="hubei">湖北</a>
        <a href="javascript:void(0)" data-area="hunan">湖南</a> 
        <a href="javascript:void(0)" data-area="guangdong">广东</a>
        <a href="javascript:void(0)" data-area="guangxi">广西</a> 
        <a href="javascript:void(0)" data-area="hainanf">海南</a>
        <a href="javascript:void(0)" data-area="zhongqing">重庆</a> 
        <a href="javascript:void(0)" data-area="sichuan">四川</a>
        <a href="javascript:void(0)" data-area="guizhou">贵州</a> 
        <a href="javascript:void(0)" data-area="yunnan">云南</a>
        <a href="javascript:void(0)" data-area="xizang">西藏</a> 
        <a href="javascript:void(0)" data-area="shanxii">陕西</a>
        <a href="javascript:void(0)" data-area="gansu">甘肃</a> 
        <a href="javascript:void(0)" data-area="shanxi">青海</a>
        <a href="javascript:void(0)" data-area="ningxia">宁夏</a> 
        <a href="javascript:void(0)" data-area="xinjiang">新疆</a> 
        <div style="clear:both"></div> 
       </div> 
      </div> 
      <em>专注于建筑企业资质服务</em> 
     </div> 
    </div> 
   </div> 
   <div id="float_div"> 
    <div id="head"> 
     <div class="head_left"> 
      <a href="index.html"><img alt="资质管家" src="images/zzgj_logo_3.0.gif" class="zzgj_logo" /></a> 
      <img alt="办资质就上资质管家" src="images/zzgj_ggy.gif" /> 
     </div> 
     <div class="head_middle"> 
      <div class="head_middle_mfzfw">
       免费找服务
      </div> 
      <div class="head_middle_option"> 
       <select class="option_on head_potion_list"> <option value="/baojia/">资质代办</option> <option value="/gongsizhuce/">公司注册</option> <option value="/anzheng/">安证办理</option> </select> 
      </div> 
      <div class="head_middle_sous"> 
      </div> 
     </div> 
     <div class="head_right"> 
      <img alt="北京资质服务专线" src="images/index_head_phone.png" /> 
      <span>北京资质服务专线</span>
      <br /> 
      <span class="head_right_phone">010-56269198</span> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="nav_main_box"> 
     <div class="nav_box nav_box_bottom"> 
      <div class="pull_nav"> 
       <span class="pull_nav_title">服务导航</span> 
       <div class="pull_box" style="display:none"> 
        <ul class="pull_box_nav_list"> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/gongsizhuce/">公司注册</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=1">新注册</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=1" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/gongsizhuce?type=2">企业变更</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/gongsizhuce?type=2" class="classify_detail_link_color">建筑行业有限公司</a> 
              <p class="gongszy_text">北京地区专属服务，其他地区敬请期待</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/baojia/">建筑资质</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/baojia/?id=1">施工总承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=54" class="classify_detail_link_color">建筑工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=58">市政公用工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=56">机电工程</a> 
              <a target="_blank" href="/baojia/?id=1&amp;majorlevel=3&amp;subjectid=112">矿山工程</a> 
              <a target="_blank" href="/zizhi/sgzcbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/baojia/?id=2">施工专业承包</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=65">建筑装饰装修</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=2&amp;subjectid=75" class="classify_detail_link_color">防水防腐保温</a> 
              <a target="_blank" href="/baojia/?id=2&amp;majorlevel=3&amp;subjectid=80">建筑机电安装</a> 
              <a target="_blank" href="/zizhi/sgzycbzz/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/zizhi/">其他资质</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/zizhi/gcsj/" class="classify_detail_link_color">工程设计</a> 
              <a target="_blank" href="/zizhi/gckczz/">工程勘察</a> 
              <a target="_blank" href="/zizhi/gcjlzz/">工程监理</a> 
              <a target="_blank" href="/zizhi/gczjzxzz/">工程造价</a> 
              <a target="_blank" href="/zizhi/czxs/">承装修试</a> 
              <a target="_blank" href="/zizhi/fdc/">房地产</a> 
              <a target="_blank" href="/zizhi/hjyxpjzz/" class="classify_detail_link_color">环境评价</a> 
              <a target="_blank" href="/zizhi/iso/" class="classify_detail_link_color">ISO体系</a> 
              <a target="_blank" href="/zizhi/" class="classify_detail_link_color">更多专业&gt;&gt;</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/anzheng/">安全许可</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/anzheng?type=1">首次申请</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=1" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">专业安证办理，让你无忧接项目</p> 
             </div> </li> 
            <li> <label><a target="_blank" href="/anzheng?type=2">延期办理</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/anzheng?type=2" class="classify_detail_link_color">建筑施工企业</a> 
              <p class="gongszy_text">全国靠谱中介，延期不再是难题</p> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li"> <span><a target="_blank" href="/xunzheng/">企业寻证</a></span> 
          <div class="pull_down"> 
           <ul> 
            <li> <label><a target="_blank" href="/xunzheng/">建造师</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">一级建造师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">二级建造师</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">职称证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/">高级职称证书</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">中级职称证书</a> 
             </div> </li> 
            <li> <label><a target="_blank" href="/xunzheng/">更多证书</a></label> 
             <div class="classify-detail-box"> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">八大员</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">技工证</a> 
              <a target="_blank" href="/xunzheng/">监理工程师</a> 
              <a target="_blank" href="/xunzheng/">电气工程师</a> 
              <a target="_blank" href="/xunzheng/" class="classify_detail_link_color">造价工程师</a> 
              <a target="_blank" href="/xunzheng/">土木工程师</a> 
              <a target="_blank" href="/xunzheng/">注册咨询师</a> 
              <a target="_blank" href="/xunzheng/">共用设备工程师</a> 
             </div> </li> 
           </ul> 
          </div> </li> 
         <li class="pull_box_nav_li_more"> <span><a style="border-bottom:0px;color:#fff!important;cursor:auto;">更多服务</a></span> </li> 
        </ul> 
       </div> 
      </div> 
      <ul class="main_menu"> 
       <li><a class="" href="index.html">首　页</a></li> 
       <li><a class="" href="baojia.html">资质询价</a></li> 
       <li><a class="" href="daiban.html" id="zzarea">资质代办</a></li> 
       <li><a class="" href="safe.html" id="azarea">安证办理</a></li> 
       <li><a class="" href="zizhibiaozhun.html">资质标准</a></li> 
       <li><a class="" href="news.html">行业资讯</a></li> 
       <li><a class="on" href="about.html">关于我们</a></li> 
      </ul> 
      <div class="nav_58logo"> 
       <a target="_blank" href="http://www.58guakao.com"><img alt="58建筑" src="images/nav_58logo.png" /></a> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="css/base.css" /> 
  <link rel="stylesheet" type="text/css" href="css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="css/pub.css" /> 
  <link href="css/aboutus.css" rel="stylesheet" type="text/css" /> 
  <div class="zsbase"> 
   <div class="zsbase-con" style="width:1220px"> 
    <div class="zsbase-l"> 
     <div class="icon-knowl1"></div> 
     <div class="icon-knowl2"></div> 
     <h1>关于资质管家<span>ABOUT</span></h1> 
     <ul> 
      <li><a rel="nofollow" href="about.html" title="公司简介">公司简介</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/cul.html" title="精英团队">精英团队</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/join.html" title="加入我们">加入我们</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/mzsm.html" title="免责声明">免责声明</a></li> 
      <li><a ref="nofollow" href="http://www.zizhiguanjia.com/contact.html" title="联系我们">联系我们</a></li> 
      <li class="on"><a ref="nofollow" href="http://www.zizhiguanjia.com/tuiguang.html" title="推广服务">推广服务</a> </li>
     </ul> 
    </div> 
    <div class="zsbase-r" id="intor"> 
     <div class="about_left" style="margin:25px 25px 0 25px;"> 
      <div class="about_center_title"> 
       <h5 class="noBold" style="font-weight:bold; color:#333;">推广服务<span>Promotion Service</span></h5> 
      </div> 
      <p style="margin-top:18px;line-height:27px"> 为了让广大用户能在资质管家上更快、更高效的找到建筑企业客户，本平台经过产品结构调整，服务内容优化，为中介用户推出网络营销一站式推广解决方案。 </p> 
      <p style="line-height:27px"> 岁末福利来袭，资质管家推出优惠推广活动。本次推广活动套餐，旨在通过服务的整合能有效快速提升中小型中介机构用户推广效果和知名度，对已入驻平台的会员赠送更多超值服务。<span style="color:#ff0000;">数量有限，请广大用户抓住机会！</span> </p> 
      <p> 【活动时间】：2017年1月1日起---1月30日止 </p> 
      <p>【活动说明】：</p> 
      <p>1. 100元/1张订单劵：880元/10张订单劵；</p> 
      <p>2. 置顶全国广告位：480元/3个月（仅限8位）；</p> 
      <p>3. 置顶地区广告位：400元/3个月；</p> 
      <p>4. 首页广告位：500元/1个月；</p> 
      <p style="color:#ff0000;">5. 超值套餐：（10张订单劵+置顶/3个月）,送1个月的首页广告位。</p> 
      <p>【详情咨询】：孟老师 电话：13366692534 QQ：2019331814</p> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 
  <link rel="stylesheet" type="text/css" href="css/main.css" /> 
  <footer> 
   <div class="footer-warp"> 
    <div class="footer-bq"> 
     <a href="daiban.html">资质代办 </a>|
     <a href="zizhibiaozhun.html">资质标准 </a>|
     <a href="news.html">行业资讯 </a>|
     <a href="reg.html" rel="nofollow">中介入驻 </a>|
     <a href="/aboutus.html" rel="nofollow">关于我们 </a>|
     <a href="/join.html" rel="nofollow">加入我们 | </a>
     <a href="/contact.html" rel="nofollow">联系我们 </a>|
     <a href="#" rel="nofollow" style="cursor:default">常见问题 </a>|
     <a href="#" rel="nofollow" style="cursor:default">意见反馈</a>
     <br /> 免责声明：本网站是建筑企业与资质代办公司服务对接平台，如发现假冒中介，请及时与本站联系。 
     <br /> 版权所有 资质管家（北京）信息技术有限公司 京ICP备16024435号-1 
     <br /> Copyright &copy; 2016 zizhiguanjia.com All Rights Reserved
     <br /> 公司地址：北京市海淀区北四环西路66号中国技术交易大厦A座12层1210室 &nbsp;电话： 010-56269198&nbsp; 
    </div> 
   </div> 
  </footer> 
  <script async="" src="js/analytics.js"></script>
  <script src="js/push.js"></script>
  <script src="js/hm.js?580e9422d1d340fa7711682e41256040"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "js/hm.js?580e9422d1d340fa7711682e41256040";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script> 
  <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'js/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script> 
  <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'js/analytics.js', 'ga');

        ga('create', 'UA-101792527-1', 'auto');
        ga('send', 'pageview');

    </script> 
  <div style="display: none"> 
   <a href="http://www.cnzz.com/stat/website.php?web_id=1255699131" target="_blank" title="站长统计">站长统计</a> 
  </div> 
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> 
  <script type="text/javascript" src="js/header.js"></script> 
  <!--
    资质管家:资质代办,北京资质代办,代办建筑工程资质,资质代理,工商注册,代理记账公司
    资质管家,资质代办,代办资质,公司注册,代理记账,北京代办资质
    资质管家(zizhiguanjia.com),靠谱的资质代办平台.北京拥有正规经营资质代办资格的资质代办公司.专注资质代办,代办建筑工程资质,资质代理,工商注册,代理记账等服务.办资质,找资质管家!
    --> 
 </body>
</html>